@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--pretendard) !important;
}

@media (min-width: 781px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 반응형 & 모바일 구현을 위한 폰트 사이즈 재지정 */
  font-family: var(--pretendard);
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-theme-color: transparent;
  --swiper-navigation-size: 100%;
  --swiper-navigation-top-offset: 100%;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: white;
}
