@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  /* display: flex;
  width: 100%;
  padding: 40px 0;
  justify-content: center; */
}

hr {
  border: none;
  height: 1px;
  background-color: #e4e4e4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn_cancel {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  background: white;
  font-size: 18px;
  font-weight: 600;
}

.btn_basic_active {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: black;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.btn_blue_active {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #2974e5;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.btn_basic_disabled {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #c7c7c7;
  color: #e4e4e4;
  border: none;
  font-size: 18px;
  font-weight: 600;
}
