* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 0 20px 40px;
}

/* 헤더 */
.CSS_헤더 {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.CSS_일기상세보여주는곳 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* 일기 제목 */
.CSS_일기제목 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#HTML_일기상세제목보여주는곳 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 12px;
  border-bottom: 2px solid #000;
}

.CSS_일기정보 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CSS_기분 {
  display: flex;
  align-items: center;
  gap: 8px;
}

#HTML_기분이미지보여주는곳 {
  width: 32px;
  height: 32px;
}

#HTML_일기기분보여주는곳 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.CSS_날짜 {
  display: flex;
  gap: 0.8rem;
  color: #919191;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

#HTML_날짜보여주는곳 {
  color: #919191;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

/* 일기 내용 */
.CSS_일기내용 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.CSS_일기상세내용보여주는곳 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/* 수정 버튼 */
.CSS_수정버튼_영역 {
  display: flex;
  justify-content: flex-end;
}

.CSS_수정버튼 {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #1c1c1c;
  cursor: pointer;
}
