.detailWrap {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.125rem 0;

  h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 12px;
  }
  .detailInfo {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .moodType {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 1.25rem;
      font-weight: 600;

      .moodTypeImg {
        width: 2rem;
        height: 2rem;
      }
    }

    .detailDate {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: var(--font-size-1);
      color: var(--font-color-7);
    }
  }

  .detailContent {
    min-height: 40vh;
  }

  .buttonWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    border-bottom: 1px solid #000;
    padding: 16px 0;
  }
}

.whiteBtn {
  background-color: #fff;
  color: var(--font-color-8);
  font-weight: 500;
  padding: 8px 10px;
  border: 1px solid var(--border-color-1);
  border-radius: 8px;
}

.blackBtn {
  background-color: var(--font-color-8);
  color: #fff;
  font-weight: 500;
  padding: 8px 10px;
  border: 1px solid var(--border-color-1);
  border-radius: 8px;
  white-space: nowrap;
}
