.CSS_드롭다운제목 {
  appearance: none;
  width: 150px;
  height: 40px;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

  --철수의CSS변수: "전체"
}

.CSS_드롭다운제목 {
  position: relative; /* 가상 요소가 부모 요소에 상대적으로 위치하도록 설정 */
  padding-left: 30px; /* 이모지와 텍스트 사이의 여백 추가 */
}

.CSS_드롭다운제목::before {
  content: var(--철수의CSS변수);
  position: absolute; /* 절대 위치 지정 */
  left: 10px; /* 왼쪽에 위치시키기 */
  top: 50%; /* 수직 가운데 정렬 */
  transform: translateY(-50%); /* 정확한 가운데 정렬을 위한 변환 */
}

.CSS_드롭다운제목::after {
  content: "🔻";
  position: absolute; /* 절대 위치 지정 */
  right: 10px; /* 오른쪽에 위치시키기 */
  top: 50%; /* 수직 가운데 정렬 */
  transform: translateY(-50%); /* 정확한 가운데 정렬을 위한 변환 */
}

.CSS_드롭다운제목:checked {
  background-color: lightgray;
}
.CSS_드롭다운제목:checked + .CSS_드롭다운메뉴{
  display: block;
}

.CSS_드롭다운메뉴 {
  display: none;
  width: 150px;
  border: 2px solid green;
  border-radius: 10px;
  overflow: hidden;   /* 노란색 모서리영역 넘치는거 없애기 */
  position: absolute;
  background-color: white;
  z-index: 2;
}
.CSS_드롭다운메뉴 input {
    display: none;
}
.CSS_드롭다운메뉴 label {
  height: 40px;
  display: block;
  padding: 10px;
}
.CSS_드롭다운메뉴 label:hover {
  background-color: #3AB50F0D;
  color: #299C00;
}

.CSS_드롭다운메뉴 label:hover::after {
  content: "✔️";

  transform: translateY(-50%); /* 정확한 가운데 정렬을 위한 변환 */
}