:root {
    --gray : rgba(0, 0, 0, 0.384);
    --lightgray : rgba(155, 149, 149, 0.719);
    --subtlegray: rgba(240, 240, 240, 0.89);
    --reverselightgray: rgba(calc(255 - 155), calc(255 - 149), calc(255 - 149), calc(1 - 0.719));
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

html {
    font-size: 1vh;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15rem;
}

main {
    width: 100vw;
    height: 78rem;

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
    }
}

footer {
    width: 100vw;
    height: 7rem;
    @media (max-width: 1024px) {
        position: fixed;
        bottom: 0;
    }
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
}

div.bar {
    width: 100vw;
}

div.top-title {
    height: 4rem;
    /* background: blue;  */
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
    margin: auto;
}

div.top-title > p {
    height: 3rem;
    /* background: green;  */
    font-size: 2rem;
    line-height: 3rem;
}

div.main-banner {
    height: 11rem;
    /* background: pink; */
    padding-left: 15vw;
    padding-right: 15vw;
}

div.main-banner-bg-img
{
    border-radius: 1rem;
    background: url('../asset/img/d72d05561bfdb209c688de2957f78ef1.jpeg');
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 11rem;
}

div.tab-view {
    padding-left: 15vw;
    padding-right: 15vw;
    height: 4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* background: red; */
}

div.tab-view > button
{
    height: 3rem;
    line-height: 3rem;
    /* background: yellow; */
    border: none;
    background: transparent;
    border-bottom: 0.2rem solid transparent;
    font-size: 2rem;
}

div.tab-view > button[disabled=true]
{
    color: var(--lightgray);
}

div.tab-view > button.active
{
    border-bottom: 0.2rem solid var(--gray);
    color: black;
}

div.footer
{
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 7rem;
    background: var(--subtlegray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.footer > p
{
    display: block;
}

div.footer > p.title
{
    line-height:2rem;
    font-size: 2rem;
    font-weight: bold;
}

div.footer > p.subtitle
{
    line-height:1.25rem;
    font-size: 1.25rem;
}

div.footer > p.content
{
    line-height:1.25rem;
    font-size: 1.25rem;
    color: var(--lightgray);
}

div.flexcontainer {
    display: flex;
    flex-wrap: nowrap;
    @media (max-width: 1024px) {
        flex-direction: column-reverse;
    }
}

div.flexcontainer > div.flexchild-left {
    width: max(60vw, 100%);
    padding-right: 15vw;
    height: 73rem;
    padding-left: 15vw;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* background: yellow; */
    @media (max-width: 1024px) {
        width: 100%;
        margin: auto;
        padding-left: 0;
        height: fit-content;
        anchor-name: --list-anchor;
    }
}

div.curtain {
    display: none;
}

div.flexcontainer > div.flexchild-right {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background-color: white;
    border: 1px red solid;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 30rem black;
    width : 30vw;
    padding: 1rem;
    padding-bottom: 4rem;
    display: none;


    /* width: 40vw;
    height: 73rem;
    padding-right: 15vw;
    /* border: 1px solid red; */
    /* background: yellowgreen; */
    @media (max-width: 1024px) {
        width: 70vw;
        margin: auto;
        height: fit-content;
    } */
}

form.diary-util {
    border: 0.1rem solid var(--subtlegray);
    border-radius: 1rem;
    /* background: pink; */
    display: flex;
    flex-direction: column;
    position: relative;
    right: 15vw;
    left: 3rem;
    width: calc(25vw - 3rem);
    top: 3rem;
    /* height: 55rem; */
    right: 0;

    @media (max-width: 1024px) {
        width: 100%;
        height: fit-content;
        margin-bottom: 6rem;
    }
}

form.diary-util > p.title
{
    font-size: min(3rem, 3vmin);
    font-weight: bold;
    line-height: 3rem;
    text-align: left;
    /* background: green; */
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    @media (max-width: 1024px) {
        width: 50vw;
        margin: auto;
    }
}


form.diary-util > p.subtitle, p.text-input-string
{
    font-size: min(2.5rem, 2.5vmin);
    font-weight: bold;
    line-height: 2.5rem;
    text-align: left;
    /* background: skyblue; */
    margin-bottom: 2rem;
    margin-left: 2rem;
    @media (max-width: 1024px) {
        width: 50vw;
        margin: auto;
    }
}

form.diary-util > div.flexlist, input.text-input, button.submit
{
    width: calc(25vw - 6rem);
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: min(3rem, 3vmin);
    @media (max-width: 1024px) {
        width: 50vw;
        margin: auto;
    }
}

input.text-input
{
    height: 5rem;
    border: 0.15rem solid var(--lightgray);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

textarea.text-input
{
    height: 15rem;
    border: 0.15rem solid var(--lightgray);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    @media (max-width: 1024px) {
        width: 50vw;
        margin: auto;
        margin-bottom: 1rem;
    }
}

button.submit
{
    height: 5rem;
    font-size: min(2.5rem, 2.5vmin);
    line-height: 2.5rem;
    background: var(--gray);
    border: 1rem solid transparent;
    border-radius: 1rem;
    @media (max-width: 1024px) {
        width: 50vw;
        height: 3rem;
        margin: auto;
    }
}

button.submit > p
{
    margin: auto;
    color: white;
    line-height: 1rem;
    font-size: 1rem;
}

div.diary-util > label.radio-option
{
    font-family: system-ui, sans-serif;
    font-size: min(2rem, 2vmin);
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5rem;
    margin: 0.5rem;
}

label.radio-option > input
{
    
    width: 1.5rem;
    height: 1.5rem;
    display: inline;
}

label.radio-option > p
{
    display: inline;
    font-size: min(1.5rem, 1.5vmin);
    font-weight: bold;
    line-height: 1.5rem;
}

input[type="radio"]
{
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="text"], textarea
{
    font-size: min(1.5rem, 1.5vmin);
}

textarea
{
    width: calc(25vw - 6rem);
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    font-weight: 700;
}

li.flexchild
{
    position: relative;
    width: 20rem;
    height: 27rem;
    padding-top: 1rem;
    padding-right: 1rem;
    transition-duration: 0.5s;
    /* border: 1px green solid; */
    /* position: sticky; */
}

li.flexchild > button.listitem-close-btn
{
    font-size: 1.5rem;
    line-height: 0.8rem;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    height: 2ch;
    width: 2ch;
    color: gray;
    border: none;
    position: relative;
    z-index: 2;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}

select, option
{
    font-size: max(0.75rem, 0.75vmax);
    background: var(--lightgray);
    width: 5rem;
    border-radius: 1rem;
    @media (max-width: 1024px) {
        font-size: max(1rem, 1vmax);
    }
}

div.selection-tabview
{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
        z-index: 10;
        position: absolute;
        margin-left: 6vw;
        bottom: anchor(--list-anchor top);
    }
}

button#write-btn
{
    background-color: black;
    color: white;
    font-size: max(0.75rem, 0.75vmax);
    border-radius: 1rem;
    width: 5rem;
    @media (max-width: 1024px) {
        z-index: 10;
        position: absolute;
        margin-right: 6vw;
        bottom: anchor(--list-anchor top);
        font-size: max(1rem, 1vmax);
    }
}

li.flexchild > div.list-item-border
{
    border: 0.1rem solid var(--lightgray);
    border-radius: 1rem;
}

li.flexchild:hover
{
    opacity: 0.8;
    transform: scale(1.1);
}

ul.flexlist
{
    width: 100rem;
    height: 73rem;
    /* background: aqua; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    @media (max-width: 1024px) {
        margin: auto;
        width: 70vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        overflow-x: auto;
        margin-bottom: 7rem;
    }
}

div.diary-listitem-bg
{
    background-image: url("../asset/png/4ae621ed2ead07f5b36fb83001247dba.png");
    border-radius: 1rem;
    height: 20rem;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

div.diary-listitem-status
{
    display: flex;
    justify-content: space-between;
    font-size: max(1rem, 1vmin);
    color: var(--lightgray);
}

div.diary-listitem-summary
{
    font-size: min(2rem, 2vmin);
    font-weight: bold;
}

li.diary-listitem.flexchild::marker {
    color: transparent;
}

a.anchor-nodeco {
    all: unset;
    cursor: grab;
    position: absolute;
    width: 90%;
    top: 0;
    z-index: 1;
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

div.scroll-up-btn {
    position: fixed;
    right: 10vw;
    bottom: 10vh;
    
}

div.scroll-up-btn > i {
    margin-inline-start: 2.5rem;
}

div.scroll-up-btn > p {
    color: var(--lightgray);
    cursor: grab;
}