:root {
    --gray : rgba(0, 0, 0, 0.384);
    --lightgray : rgba(155, 149, 149, 0.719);
    --subtlegray: rgba(240, 240, 240, 0.89);
}

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

html {
    font-size: 1vmin;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15rem;
}

main {
    width: 100vw;
    height: 78rem;
}

footer {
    width: 100vw;
    height: 7rem;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
}

div.bar {
    width: 100vw;
}

div.top-title {
    height: 4rem;
    background: blue; 
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
    margin: auto;
}

div.top-title > p {
    height: 3rem;
    background: green; 
    font-size: 2rem;
    line-height: 3rem;
}

div.main-banner {
    height: 11rem;
    background: pink;
    padding-left: 15vw;
    padding-right: 15vw;
}

div.main-banner-bg-img
{
    border-radius: 1rem;
    background: url('../asset/png/d72d05561bfdb209c688de2957f78ef1.jpeg');
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 11rem;
}

div.tab-view {
    padding-left: 15vw;
    padding-right: 15vw;
    height: 4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    background: red;
}

div.tab-view > button
{
    height: 3rem;
    line-height: 3rem;
    /* background: yellow; */
    border: none;
    background: transparent;
    border-bottom: 0.2rem solid transparent;
    font-size: 2rem;
}

div.tab-view > button[disabled=true]
{
    color: var(--lightgray);
}

div.tab-view > button.active
{
    border-bottom: 0.2rem solid var(--gray);
    color: black;
}

div.footer
{
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 7rem;
    background: var(--subtlegray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.footer > p
{
    display: block;
}

div.footer > p.title
{
    line-height:2rem;
    font-size: 2rem;
    font-weight: bold;
}

div.footer > p.subtitle
{
    line-height:1.25rem;
    font-size: 1.25rem;
}

div.footer > p.content
{
    line-height:1.25rem;
    font-size: 1.25rem;
    color: var(--lightgray);
}

div.flexcontainer {
    display: flex;
    flex-wrap: nowrap;
}

div.flexcontainer > div.flexchild-left {
    width: 60vw;
    height: 73rem;
    padding-left: 15vw;
    background: yellow;
}

div.flexcontainer > div.flexchild-right {
    width: 40vw;
    height: 73rem;
    padding-right: 15vw;
    background: yellowgreen;
}

form.diary-util {
    border: 0.1rem solid var(--subtlegray);
    border-radius: 1rem;
    background: pink;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 15vw;
    left: 3rem;
    width: calc(25vw - 3rem);
    top: 3rem;
    height: 55rem;
    right: 0;
}

form.diary-util > p.title
{
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: left;
    background: green;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
}


form.diary-util > p.subtitle, p.text-input-string
{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: left;
    background: skyblue;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

form.diary-util > div.flexlist, input.text-input, textarea.text-input, button.submit
{
    width: calc(25vw - 6rem);
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 3rem;
}

input.text-input
{
    height: 5rem;
    border: 0.2rem solid var(--lightgray);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

textarea.text-input
{
    height: 15rem;
    border: 0.2rem solid var(--lightgray);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

button.submit
{
    height: 5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    background: var(--gray);
    border: 1rem solid transparent;
    border-radius: 1rem;
}

button.submit > p
{
    margin: auto;
    color: white;
}

div.diary-util > label.radio-option
{
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5rem;
    margin: 0.5rem;
}

label.radio-option > input
{
    
    width: 1.5rem;
    height: 1.5rem;
    display: inline;
}

label.radio-option > p
{
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

input[type="radio"]
{
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}