@media (max-width: 900px) {
  section {
    padding: 40px 0;
  }
  section .diaryList {
    width: 100%;
    max-width: 100%;
  }
  section .diaryList ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section .diaryList ul li figure .imgBox {
    height: 17.8125rem;
    position: relative;
  }
  section .diaryList ul li figure .imgBox img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  section .diaryList ul li:hover img {
    animation: none;
  }
  section .empty {
    width: 100%;
    padding: 0;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #f2f2f2;
    border-radius: 8px;
  }
  .popup {
    padding: 20px;
  }
  .popup .popupInner {
    height: 80vh;
    overflow-y: auto;
  }
  .diaryWrite {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .diaryWrite .diaryWriteInner {
    gap: 20px;
    overflow-y: scroll;
  }
  .navBottom {
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    gap: 12px;
  }
  .navBottom .filterSearchBox .selectBox,
  .navBottom .filterSearchBox .searchBox {
    width: auto;
  }
  .headerBanner {
    margin: 0 20px;
  }
  header,
  section,
  .footerInner,
  nav,
  .detailWrap,
  .editWrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .detailHeaderTop {
    padding: 0 20px;
  }
  .detailWrap h2 {
    font-size: 1rem;
  }
  .detailWrap h3 {
    font-size: 1.25rem;
  }
  .diaryWrite .moodTypeRadio span {
    font-size: 1rem;
  }
  .detailWrap .buttonWrap {
    gap: 0.375rem;
  }
  .detailWrap .detailInfo .moodType {
    font-size: 0.875rem;
  }
  .detailWrap .detailInfo .moodType .moodTypeImg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .detailWrap .detailInfo .detailDate {
    font-size: 0.75rem;
  }
  .scrollBox {
    width: 100%;
    padding: 0 20px;
    bottom: 40px;
  }
  .diaryWrite .diaryContent input,
  .diaryWrite .buttonBox button,
  .commentWrap .commentInputWrap #commentInput {
    height: 40px;
  }
  article.diaryWrite .moodTypeRadio {
    font-size: 20px;
  }
  article.diaryWrite .moodTypeRadio > span {
    font-weight: 600;
    font-size: 20px;
  }
  article.diaryWrite .moodTypeRadio .radioWrap {
    font-size: 14px;
    flex-direction: column;
  }
  .diaryWrite .diaryContent label span {
    font-size: 12px;
  }
  .commentWrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 480px) {
  .headerBanner img {
    transform: none;
  }
  .diaryWrite {
    gap: 24px;
  }
  .navBottom.stickyAddStyle {
    justify-content: space-between;
  }
  .navBottom.stickyAddStyle .filterSearchBox {
    width: auto;
  }
  .navBottom .filterSearchBox {
    width: 100%;
    justify-content: space-between;
  }
  .navBottom .filterSearchBox .searchBox {
    width: 100%;
    height: 0;
    transition: height 0.5s;
    display: none;
  }
  .navBottom .filterSearchBox .searchBox.active {
    display: flex;
    height: 48px;
    transition: height 0.5s;
  }
  .navBottom .filterSearchBox .searchMobilePopBtn {
    width: 48px;
    height: 48px;
    display: block;
    background-color: #fff;
    background-image: url("../img/search_outline_light_m.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color-2);
    border-radius: 8px;
  }
  .navBottom .filterSearchBox .searchMobilePopBtn.active {
    background-color: var(--bg-color-1);
  }
  .navBottom.stickyAddStyle .searchMobilePopBtn {
    display: none;
  }
  .diaryWrite .moodTypeRadio .radioWrap {
    padding: 0 2px;
    flex-direction: column;
  }
  .diaryWrite .diaryContent {
    gap: 16px;
  }
  .diaryWrite .moodTypeRadio span {
    font-size: 20px;
  }
  .diaryWrite .moodTypeRadio .radioWrap label {
    font-size: 16px;
  }
  .diaryWrite .buttonWrap button {
    height: 40px;
    font-size: 16px;
  }
  .popup.alert .popupInner {
    height: auto;
  }
}/*# sourceMappingURL=media.css.map */