.itemWrapper {
    width: 80rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    gap: 2.5rem;
}
.imagesWrapper {
    width: 100%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftIcon {
    width: 12.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rightIcon {
    width: 3rem;
    display: flex;
}

.commentContents {
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
}

.date {
    width: 3.88rem;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
}
