@font-face {
  font-family: 기본폰트;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 기본폰트;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.레이아웃 {
  display: flex;
  width: 100%;
  padding: 0 20px 40px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.헤더 {
  display: flex;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  padding: 20px 0;
}

.헤더 img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.메인 {
  display: flex;
  width: 100%;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--Gray-B, #000);
  gap: 24px;
}

.바뀌는_부분 {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
}

.타이틀_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}


.타이틀 {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
  align-items: center;
  border-bottom: 2px solid #000;
  color: #000;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 109.091% */
}

.감정_사진_영역 {
  display: flex;
}

.감정_미니사진 {
  width: 32px;
  height: 32px;
}

.감정_날짜 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.감정_영역 {
  display: flex;
}

.감정 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #EA5757;
}

.날짜 {
  color: var(--Gray-Gray-500, #919191);
  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  color: #919191;

}

.내용_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.내용_레이블 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  /* 125% */
}

.내용 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
}

.내용_복사_영역 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.버튼_영역 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 16px
}

.버튼 {
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
  cursor: pointer;
}

.회고없음_박스 {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  justify-content: center;
  align-items: center;
}

.회고없음_박스>div {
  color: #919191;
}

.회고_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.입력_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  align-self: stretch;
}

.회고_레이블 {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.회고_인풋_영역 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;

}

.회고_인풋 {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
}

.회고_입력_버튼 {
  color: white;
  display: flex;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  background: black;
  cursor: pointer;
}

.보기_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.회고_댓글_영역 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px 12px;
  flex-wrap: wrap;
}

.회고_댓글 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.회고_날짜 {
  color: var(--Gray-Gray-600, #777);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.토스트_감싸기 {
  display: none;
}

.토스트 {
  display: flex;
  width: 760px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;

  border-radius: 8px;
  background: rgba(0, 0, 0, 0.90);

  position: fixed;
  left: calc(50% - 760px/2);
  bottom: 20px
}

.모달그룹 {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
}

.모달배경 {
  /* viewport width 보고있는 화면의 가로 전체 */
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  opacity: 50%;

}

.일기삭제 {
  display: flex;
  width: 480px;
  min-width: 480px;
  max-width: 760px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  border-radius: 24px;
  background: #FFF;
  position: absolute;
  top: calc(50% - (200px/2));
  left: calc(50% - (480px/2));
}

.일기등록완료_텍스트_영역 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

}

.완료모달_제목 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: var(--반대글자색);
}

.완료모달_내용 {
  color: var(--등록완료글자색);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.모달_버튼_영역 {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.모달_확인버튼 {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--반대버튼색);

  color: var(--반대버튼글자색);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.모달_계속작성_버튼 {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid gray;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.모달_등록취소_버튼 {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid var(--반대버튼테두리색);
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
}