.BoardsDetail_root {
    width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.BoardsDetail_header {
    font-weight: 700;
    font-size: 1.75rem;
    color: black;
}

.BoardsDetail_userForm_and_sideButton {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.BoardsDetail_userForm {
    display: flex;
    justify-content: space-between;
}

.profileImg {
    background-color: #E4E4E4;
    border-radius: 100%;
    border: none;
}

.profileName {
    display: flex;
    gap: .25rem;
    align-items: center;

    font-weight: 300;
    font-size: .875rem;
    color: #5F5F5F;
}

.postDate {
    font-weight: 400;
    font-size: .875rem;
    color: #818181;
}

.BoardsDetail_userForm_sideButton_section {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.BoardsDetail_userForm_sideButton {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
}

.BoardsDetail_userForm_sideButton img {
    width: 1.5rem;
    height: 1.5rem;
}

.BoardsDetail_article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.BoardsDetail_p {
    color: black;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    
}

.BoardsDetail_video_section {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.BoardsDetail_heartButton_list_section {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.BoardsDetail_heartBreak_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    color: #5F5F5F;
    font-weight: 400;
    font-size: .875rem;
}

.BoardsDetail_heart_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    color: #F66A6A;
    font-weight: 400;
    font-size: .875rem;
}

.BoardsDetail_footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.BoardsDetail_footer_button {
    width: 6.5625rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    background-color: white;
    border-radius: .5rem;
    border: .0625rem solid black;

    color: block;
    font-weight: 600;
    font-size: .875rem;
}