.commentTitle {
  display: flex;
  gap: 8px;
  padding-top: 40px;
  align-items: center;
}

.commentIcon {
  width: 24px;
  height: 24px;
}

.comment {
  font-size: 16px;
  font-weight: 600;
}

.starSection {
  display: flex;
  padding: 24px 0;
  gap: 8px;
}

.starIcon {
  width: 24px;
  height: 24px;
}

.commentSection {
  margin-bottom: 100px;
}

.authorPasswordLabel {
  display: flex;
  gap: 16px;
}

.commentSectionWriter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelRequired {
  display: flex;
  gap: 4px;
}

.labelRequired span {
  color: var(--gray-800, #333);
  font-weight: 500;
}

.labelRequired div {
  color: var(--red, #f66a6a);
  font-weight: 500;
}
.inputRequired {
  display: flex;
  padding: 22px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  width: 280px;
  height: 24px;
}

.inputRequired:focus {
  outline: none;
}

.commentContents {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);

  min-height: 96px;
  max-height: 96px;
  color: var(--Gray-Gray-400, #ababab);
  font-size: 16px;
  margin: 16px 0;
  position: relative;
}

.textareaContents {
  height: 100vh;
  resize: none;
  overflow: hidden;
}

.textareaContents:focus {
  outline: none; /* 기본 포커스 아웃라인 제거 */
}

.commentContents div {
  position: absolute;
  right: 10px;
  top: 60px;
  color: var(--Gray-Gray-400, #ababab);
  font-size: 16px;
  font-weight: 500;
}

.btnSection {
  display: flex;
  justify-content: flex-end;
}

.commentSubmit {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--gray-300, #c7c7c7);
  color: var(--gray-100, #e4e4e4);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.noComment {
  color: var(--gray-600, #777);
  text-align: center;

  line-height: 20px; /* 142.857% */
}
