* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__header {
    width: 1168px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 64px;
}

.header__text {
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 24px 0px;
}

.container__content {
    width: 1168px;
}

.content__title {
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #222;
}

.content__status {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.content__mood {
    display: flex;
    align-items: center;
}

.mood__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 96px;
    margin: 0px 8px;
    color: #767676;
}

.content__post {
    display: flex;
}

.post__date, .post__text {
    font-size: 18px;
    color: #bbb;
    margin-right: 8px;
}

.content__context {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #222;
}

.context__head {
    width: 1152px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.context__title {
    font-size: 24px;
    font-weight: 600;
}

.context__btn {
    display: flex;
    gap: 16px;
}

.context__edit, .context__delete {
    width: 96px;
    height: 40px;
    color: #222;
    background-color: #FCFCFC;
    border: 2px solid #bbb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.context__edit {
    background-color: #FCFCFC;
    color: #FFBE98;
    border: 2px solid #FFBE98;
}

.context__edit:hover {
    background-color: #FFBE98;
    color: #fff;
    border: 2px solid #FCFCFC;
    font-weight: 600;
    transition: 0.2s;
}

.context__delete:hover {
    background-color: #767676;
    color: #fff;
    border: 2px solid #FCFCFC;
    font-weight: 600;
    transition: 0.2s;
}

.context__text {
    width: 1152px;
    height: 300px;
    border-radius: 8px;
    background-color: #F2F2F2;
    font-size: 20px;
    padding: 16px;
    margin-bottom: 32px;
}

.container__comment {
    width: 1148px;
}

.comment__title {
    margin-top: 24px;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}

.comment__field {
    display: flex;
    justify-content: space-between;
}

.comment__input {
    width: 1000px;
    height: 48px;
    border: 2px solid #bbb;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 20px;
}

.comment__btn {
    width: 100px;
    height: 48px;
    background-color: #222;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.comment__list {
    width: 1148px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.comment__text {
    font-size: 20px;
}

.comment__date {
    font-size: 18px;
    color: #bbb;
}