* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

:root {
    --GrayGray_50: #F2F2F2;
    --GrayGray_100: #E4E4E4;
    --GrayGray_200: #D4D3D3;
    --GrayGray_300: #C7C7C7;
    --GrayGray_400: #ABABAB;
    --GrayGray_600: #777777;
    --GrayGray_700: #5F5F5F;
    --GrayGray_800: #333333;
    --GrayGray_900: #1C1C1C;
    --GrayW: #FFFFFF;
    --GrayB: #000000;

    --modal_background_color: var(--GrayW);
    --modal_title_color: #000000;
    --modal_text_color: #333333;
    --modal_border_color: none;

    --input_background_color: #FFFFFF;
    --input_title_color: var(--GrayGray_800);
    --input_text_color: var(--GrayB);

    --button_disabled_background_color: #C7C7C7;
    --button_disabled_text_color: #F2F2F2;

    --button_background_color: var(--GrayB);
    --button_text_color: var(--GrayW);
    --button_border_color: var(--GrayB);

    --button_sub_item_background_color: var(--GrayW);
    --button_sub_item_text_color: var(--GrayGray900);

    --button_activation_background_color: var(--GrayB);
    --button_activation_text_color: var(--GrayGray_50);
}

[dark_mode="on"] {
    --modal_background_color: var(--GrayGray_900);
    --modal_title_color: var(--GrayW);
    --modal_text_color: var(--GrayGray_200);
    --modal_border_color: var(--GrayGray_800);

    --input_background_color: var(--GrayB);
    --input_title_color: var(--GrayGray_300);
    --input_text_color: var(--GrayW);

    --button_disabled_background_color: var(--GrayGray_800);
    --button_disabled_text_color: var(--GrayGray_700);

    --button_background_color: var(--GrayW);
    --button_text_color: var(--GrayB);
    --button_border_color: var(--GrayGray_700);

    --button_sub_item_background_color: var(--GrayGray_900);
    --button_sub_item_text_color: var(--GrayW);

    --button_activation_background_color: var(--GrayGray_50);
    --button_activation_text_color: var(--GrayB);
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 0rem 1.25rem 0rem 1.25rem;
}

.header_title {
    width: 73rem;
    height: 3.75rem;

    font-weight: 700;
    font-size: 1.125rem;

    display: flex;
    align-items: center;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 0rem 1.25rem 0rem 1.25rem;
}

.banner_img {
    width: 73rem;
    height: 15rem;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.navi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    padding: 0rem 1.25rem 0rem 1.25rem;
}

.navi_items {
    width: 73rem;
    height: 3rem;

    display: flex;
    gap: 1rem;
}

.navi_item {
    width: 120px;
    height: 3rem;

    color: #ABABAB;

    font-weight: 700;
    font-size: 1.5rem;

    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
}

#navi_selected_item {
    color: black;
    border-bottom: 0.125rem solid black;
}

/* 기분에 따른 일기 필터링 */

.contents_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.625rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.filter_item {
    width: 73rem;
    position: sticky;
    top: 0.625rem;
    z-index: 1;
}

.select_filter_dropbox {
    width: 7.5rem;
    height: 2rem;

    border: 1px solid #C7C7C7;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.contents_diary_filter_dropbox {
    display: flex;
    justify-content: space-between;
}

.left_sub_menu_container {
    position: relative;
    display: flex;
    gap: 1rem;
}

/* 서치 바 영역 */
.search_bar_container {
    width: 20rem;
    height: 3rem;

    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: white;
    border-radius: 6.25rem;
    border: .0625rem solid #C7C7C7;
    padding: .75rem 1rem .75rem 1rem;
}

.search_bar_text {
    width: 100%;
    height: 100%;
    border: none;
}

/* 일기 쓰기 버튼 */
.contents_write_diary_button {
    width: 6.875rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.5rem;

    background-color: black;
    color: #FFFFFF;

    font-size: 1.125rem;
    font-weight: 600;
}

.write_diary_image {
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
}

/* 사진 비율에 따른 필터링 */
.contents_photos_filter_dropbox {
    display: none;
}

/* 가운데 일기와 일기 쓰기 컨텐츠 */
.contents {
    position: relative;

    display: flex;
    gap: 1.5rem;
}

.contents_left_item {
    width: 73rem;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.diary {
    width: 17.125rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;

    border-radius: 1rem;
    transition: filter;
    transition-duration: 0.5s;
}

.diary:hover {
    transform: scale(1.1);
    box-shadow: 0rem 0.125rem 1.875rem 0rem #00000029;
}

.diary:hover .diary_mood_img {
    filter: blur(0.188rem);
}

.diary_mood_img {
    border-radius: 1rem;
    object-fit: cover;
}

.diary_delete_button {
    width: 1.5rem;
    height: 1.5rem;

    border: none;
    border-radius: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    

    position: absolute;
    top: 0.75rem;
    right: 0.75rem;

    box-shadow: 0rem 0rem 0.5rem 0em #0000001A;
}

.diary_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0rem 0.5rem 0rem 0.5rem;
}

.diary_sub_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.diary_mood_happy {
    font-weight: 600;
    font-size: 0.875rem;
    color: #EA5757;
}

.diary_mood_sad {
    font-weight: 600;
    font-size: 0.875rem;
    color: #28B4E1;
}

.diary_mood_surprised {
    font-weight: 600;
    font-size: 0.875rem;
    color: #D59029;
}

.diary_mood_angry {
    font-weight: 600;
    font-size: 0.875rem;
    color: #777777;
}

.diary_mood_other {
    font-weight: 600;
    font-size: 0.875rem;
    color: #A229ED;
}

.diary_date {
    font-weight: 400;
    font-size: 0.875rem;
    color: #919191;
}

.diary_main_title {
    font-weight: 700;
    font-size: 1.125rem;
    color: black;
}

.write_diary_modal_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #00000080;

    z-index: 2;
}

#dropbox_all {
    background-color: #299C00;
}

/* 사진 보관함 드랍 박스 */
.CSS_dropdown_title {
    appearance: none;
    width: 7.5rem;
    height: 3rem;
    border: .0625rem solid #C7C7C7;
    border-radius: .5rem;
    margin-bottom: .5rem;
    padding: .75rem .625rem .75rem .625rem;
    line-height: 1.5rem;
    background-color: white;
    font-weight: 500;
    font-size: 1rem;
    --dropdown_title: "전체"

}

.CSS_dropdown_menu {
    position: absolute;
    display: none;
    width: 7.5rem;
    border: .0625rem solid #C7C7C7;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;

    font-weight: 400;
    font-size: 1rem;
    color: #5F5F5F;
}

.CSS_dropdown_title::after {
    content: var(--dropdown_title);
}

.CSS_dropdown_title:checked {
    /* background-color: yellow; */
}

.mood_filter_dropbox_item:checked {
    background-color: yellow;
}

.CSS_dropdown_title:checked + .CSS_dropdown_menu {
    display: block;
}

.CSS_dropdown_menu input {
    display: none;
}

.CSS_dropdown_menu label {
    display: flex;
    justify-content: space-between;
    height: 2.4rem;
    padding: .625rem;
}

.CSS_dropdown_menu label:hover {
    height: 2.5rem;
    font-weight: 700;
    font-size: 1rem;
    color: #299C00;
    background-color: #3AB50F0D;
}

.CSS_dropdown_menu img {
    display: none;
}

.CSS_dropdown_menu label:hover img {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
}

/* 사진 보관함 */
.contents_photos_container {
    display: none;
}

.contents_photos_group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.contents_photos_item {
    width: 40rem;
    border-radius: 1.5rem;

    object-fit: cover;
    aspect-ratio: 1/1;

    background-color: #F2F2F2;
}

#skeleton_box {
    width: 40rem;
    border-radius: 1.5rem;
    aspect-ratio: 1/1;
    background-color: #F2F2F2;
}

#skeleton_bar {
    width: 6.25rem;
    height: 62.5rem;
    background-color: white;
    filter: blur(4.375rem);

    animation-name: skeletonAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes skeletonAnimation {
    from {
        transform: translate(-400px, -400px) rotate(30deg);
    }
    to {
        transform: translate(700px, 200px) rotate(30deg);
    }
}

/* 일기쓰기 버튼 클릭 시 생성되는 모달 */

.write_diary_modal_container {
    width: 40rem;
    padding: 1.5rem;

    position: absolute;
    top: calc(50% - 35rem/2);
    left: calc(50% - 40rem/2);

    background-color: var(--modal_background_color);

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    z-index: 3;
}

.write_diary_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;

    color: var(--modal_title_color);
}

.dark_mode_container {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
    font-size: .75rem;
    color: #1C1C1C;
}

.dark_mode_toggle {
    appearance: none;

    width: 2.5rem;
    height: 1.5rem;
    border-radius: 6.25rem;
    background-color: #E4E4E4;
}

.dark_mode_toggle::after {
    display: block;
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    border-radius: 50%;
    margin: .125rem;

    transition: margin-left 0.3s;
}

.dark_mode_toggle:checked {
    background-color: #3AD84A;
}

.dark_mode_toggle:checked::after {
    margin-left: 1.125rem;
}

.write_diary {
    width: 100%;
    height: 25.25rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.write_diary_mood_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.write_diary_mood_title {
    width: 100%;
    height: 1.5rem;

    color: var(--modal_title_color);

    font-weight: 600;
    font-size: 1.25rem;
}

.write_diary_mood_buttonList {
    width: 100%;
    display: flex;
    gap: 1.25rem;
}

.write_mood_select_button {
    height: 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.write_mood_name {
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--modal_text_color);
}

.diary_write_items {
    width: 19.5rem;
    height: 16rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.write_diary_contents {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
}

.write_diary_contents_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.write_diary_contents_title {
    width: 100%;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--input_title_color);
}

.write_diary_title_input {
    width: 100%;
    height: 3rem;
    border: 0.063rem solid #D4D3D3;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    color: var(--input_text_color);
    background-color: var(--input_background_color);
}

.write_diary_text_input {
    width: 100%;
    height: 8rem;
    border: 0.063rem solid #D4D3D3;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    color: var(--input_text_color);
    background-color: var(--input_background_color);
}

.write_diary_footer_items {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.write_diary_closed_button {
    background-color: var(--button_sub_item_background_color);
    color: var(--button_sub_item_text_color);
    font-weight: 600;
    font-size: 1.125rem;
    border: .0625rem solid var(--button_border_color);
    border-radius: 0.5rem;
    padding: 0.5rem 0.625rem 0.5rem 0.625rem;

}

.write_diary_button {
    background-color: var(--button_disabled_background_color);
    color: var(--button_disabled_text_color);
    font-size: 1.125rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.625rem 0.5rem 0.625rem;
}

/* Modal */
.write_diary_select_modal_bg {
    width: 100%;
    height: 100%;

    border-radius: 1rem;
    background-color: #00000080;

    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.write_diary_select_modal_container {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: var(--modal_background_color);

    position: absolute;
    top: calc(50% - 15rem/2);
    left: calc(50% - 30rem/2);
    z-index: 5;
}

.write_diary_modal_title_items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Success Modal */
.write_diary_ok_button {
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--button_background_color);
    color: var(--button_text_color);
    padding: 0.5rem 0.625rem 0.5rem 0.625rem;

    font-weight: 600;
    font-size: 1.125rem;
}

/* Cancel Modal */
.write_diary_cancel_title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    color: var(--modal_title_color);
}

.write_diary_cancel_text {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;

    color: var(--modal_text_color);
}

.write_diary_cancel_modal_button_items {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 1.3125rem;
}

.write_diary_cancel_button_items {
    display: flex;
    gap: 1.3125rem;
}

.write_diary_continue_button {
    background-color: var(--button_sub_item_background_color);
    color: var(--button_sub_item_text_color);
    border: 0.0625rem solid var(--button_border_color);
    border-radius: 0.5rem;

    padding: 0.5rem 0.625rem 0.5rem 0.625rem;

    font-weight: 600;
    font-size: 1.125rem;
}

.write_diary_cancel_button {
    border-radius: 0.5rem;
    background-color: var(--button_background_color);
    color: var(--button_text_color);

    padding: 0.5rem 0.625rem 0.5rem 0.625rem;

    font-weight: 600;
    font-size: 1.125rem;
}

.top_scroll_floating_button {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.063rem solid #F2F2F2;
    border-radius: 100%;

    background-color: #FFFFFFE5;
    
    position: sticky;
    
    bottom: 20px;
    left: 100%;
}

/* 바닥글 영역 */

.footer {
    margin-top: 1.5rem;
    background-color: #F2F2F2;

    display: flex;
    justify-content: center;

    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
}

.footer_information {
    width: 73rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page_title {
    font-weight: 700;
    font-size: 1.25rem;
    color: black;
}

.exponent_title {
    font-weight: 400;
    font-size: 0.875rem;
    color: #5F5F5F;
}

.copyright_title {
    font-weight: 300;
    font-size: 0.875rem;
    color: #919191;
}

