@media (max-width: 1208px) {
    .banner_img {
        width: 100%;
    }

    .navi {
        width: 100%;
    }

    .contents {
        width: 100%
    }

    .contents_container {
        width: 100%;
    }

    .contents_left_item {
        width: 100%;
    }

    .diary {
        /* width: 100%; */
    }

    .diary_mood_img {
        /* width: 100%; */
        height: 100%;

        object-fit: cover;
    }
}