@media (max-width: 1208px) {
    .banner_img {
        width: 100%;
    }

    .navi {
        width: 100%;
    }

    .filter_item {
        width: 100%;
    }

    .contents {
        width: 100%
    }

    .contents_container {
        width: 100%;
    }

    .contents_left_item {
        width: 100%;

        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .diary_mood_img {
        height: 100%;

        object-fit: cover;
    }

    .contents_photos_container {
        width: 100%;
    }
}