/* ------------------------------------ */
/* ----------- 일기 수정 페이지 ----------- */
/* ------------------------------------ */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.detail-container {
  display: flex;
  width: 100%;
  padding: 0rem 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.detail-header {
  display: none;
}

/* 모바일 헤더 */
.mobile-header {
  width: 100%;
  height: 3.25rem;
  padding: 1.25rem 0rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mobile-header svg {
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-header p {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
  letter-spacing: -0.18px;
}

/* 수정 메인 영역 */
.detail-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
}

.detail-edit-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 1rem;
  gap: 1.5rem;
}

.detail-content-top {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;

  border-bottom: 1px solid var(--Gray-B, #000);
}

.diary-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 1rem;
}

/* 기분 수정 영역 */
.detail-content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.detail-content-info p {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.01rem;
  align-self: stretch;
}

.radio-emotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.75rem;
}

.radio-emotion-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio-emotion-element label {
  color: var(--Gray-Gray-800, #333);
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.01rem;
}

/* 내용 수정 영역 */
.detail-content-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.detail-content p {
  color: var(--Gray-Gray-800, #333);
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.008rem;
  align-self: stretch;
}

.detail-content input {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);

  color: var(--Gray-B, #000);
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.009rem;
  flex: 1 0 0;
}

.detail-content:last-child {
  height: 8rem;
}

.detail-content textarea {
  display: flex;
  height: 8rem;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  resize: none;

  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  color: var(--Gray-B, #000);
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.009rem;
  flex: 1 0 0;
}

/* 버튼 */
.detail-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.detail-edit-btn button {
  display: flex;
  height: 2.5rem;
  max-width: 6.5rem;
  padding: 0.5rem 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;

  border-radius: 0.5rem;
  border: 1px solid var(--Gray-B, #000);
  background: var(--Gray-W, #fff);

  color: var(--Gray-Gray-900, #1c1c1c);
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
}

.detail-edit-btn button:last-child {
  background: var(--Gray-B, #000);
  color: var(--Gray-W, #fff);
}

/* 회고 영역 */
.diary-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 1rem;
}

.diary-comment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
  align-self: stretch;
}

.diary-comment-list p {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: -0.009rem;
  align-self: stretch;
}

.diary-comment-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.diary-comment-input input {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;

  border: none;
  border-radius: 0.5rem;
  background: var(--Gray-Gray-50, #f2f2f2);

  color: var(--Gray-Gray-400, #ababab);
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.009rem;
}

.diary-comment-input button {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;

  border: none;
  border-radius: 0.5rem;
  background: var(--Gray-Gray-300, #c7c7c7);

  color: var(--Gray-Gray-50, #f2f2f2);
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;

  border-radius: 1rem;
}

.comment-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 0.5rem 0.75rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.comment-ele-text {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.14px;
}

.comment-ele-date {
  color: var(--Gray-Gray-600, #777);
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.008rem;
}

.comment-element hr {
  width: 100%;
  height: 1px;

  background: var(--Gray-Gray-100, #e4e4e4);
}

/* --------------------------------------- */
/* ----------- 797px midea tag ----------- */
/* --------------------------------------- */
@media (min-width: 797px) {
  body {
    display: flex;
    justify-content: center;
  }

  .detail-container {
    width: 75%;
    align-items: flex-start;
    gap: 4rem;
  }

  /* 헤더 영역 */
  .mobile-header {
    display: none;
  }

  .detail-header {
    display: flex;
    /* padding: 0px 1.25rem; */
    gap: 0.625rem;
    align-self: stretch;

    height: 3.75rem;
    justify-content: space-between;
    align-items: center;
  }

  .detail-header p {
    display: flex;
    height: 2.5rem;
    align-items: center;
    gap: 0.625rem;

    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: -0.011rem;
  }

  .header-dark-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* 기분 선택 내용 */
  .detail-content-info p {
    font-size: 1.25rem;
    letter-spacing: -0.013rem;
  }

  .radio-emotion {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.25rem;
    flex-wrap: wrap;
  }

  .radio-emotion-element label {
    font-size: 1.125rem;
    letter-spacing: -0.011rem;
  }

  /* 인풋 수정 내용 */
  .detail-content p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.009rem;
  }

  .detail-content input,
  .detail-content textarea {
    padding: 0.75rem 1rem;

    font-size: 1rem;
    letter-spacing: -0.01rem;
  }

  /* 취소, 수정 버튼 */
  .detail-edit-btn {
    align-items: flex-end;
  }

  .detail-edit-btn button {
    padding: 0.5rem 0.625rem;
    gap: 0.625rem;

    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.011rem;
  }

  /* 회고 내용 */
  .diary-comment-list {
    gap: 0.813rem;
  }

  .diary-comment-list p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.011rem;
  }

  .diary-comment-input input {
    height: 3rem;
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }

  .diary-comment-input button {
    height: 3rem;

    font-size: 1.125rem;
    letter-spacing: -0.011rem;
  }

  .comment-element p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
  }

  .comment-ele-date {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
  }
}

/* ---------------------------------------- */
/* ----------- 1208px midea tag ----------- */
/* ---------------------------------------- */
@media (min-width: 1208px) {
  .detail-container {
    width: 70%;
  }
}
