#loginBtn {
  padding-right: 15px;
}
#menu {
  border-bottom: none;
  min-width: 400px;
  display: flex;
  gap: 0.9375rem;
  font-size: 0.875rem;
  & > li {
    margin-left: 0.3125rem;

    a {
      padding: 0.5rem;
      @media screen and (max-width: 768px) {
        opacity: 0.4;
      }
    }

    &.active {
      a {
        opacity: 1;
      }
      .subMenu {
        display: block;
      }
      span {
        color: var(--primary-color);
      }
    }
  }

  .linkActive {
    color: var(--text-color);
    font-weight: bold;
    border-bottom: 2px solid var(--text-color);
    @media screen and (max-width: 768px) {
      border-bottom: none;
      opacity: 1;
    }
    span {
      color: var(--text-color) !important;
    }
  }

  .subMenuParent {
    position: relative;

    .subMenu {
      display: none;
      position: absolute;
      white-space: nowrap;
      top: calc(100% + 0.9375rem);
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      z-index: 10;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;

      a {
        display: block;
        padding: 0.9375rem 1.25rem;

        &:hover {
          background-color: var(--primary-color-hover);
          color: #fff;
        }
      }
    }
  }
}
