/* ------------------------------------ */
/* ----------- 일기 메인 페이지 ----------- */
/* ------------------------------------ */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-width: 760px;
  max-width: 1920px;
  align-items: center;
}

.container {
  width: 1168px;
  margin: 0px 376px;
  padding: 0px 20px;
}

/* header */
.header {
  min-width: 320px;
  max-width: 1168px;
  height: 60px;
  margin-bottom: 24px;
  gap: 10px;
}

.header p {
  padding: 20px;
  height: 60px;
  min-width: 320px;
  max-width: 1168px;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  letter-spacing: -0.18px;
}

/* banner */
.banner {
  width: 100%;
  height: 240px;
  min-width: 320px;
  max-width: 1168px;
  margin-bottom: 24px;
}

.banner img {
  width: 100%;
  height: 240px;
  align-self: stretch;
  border-radius: 24px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #d9d9d9;
}

/* content */
.content {
  width: 100%;
  margin-bottom: 40px;
}

.menubar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  margin-bottom: 48px;

  position: sticky;
  top: 0px;
  z-index: 100;
  backdrop-filter: blur(30px);
}

/* menu */
.menu {
  min-width: 204px;
  height: 48px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu button {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: -0.24px;
  border: none;
  background-color: transparent;
  gap: 10px;
  padding: 12px 8px;
}

.menu button:first-child {
  border-bottom: 2px solid #000;
}

.menu button:last-child {
  color: var(--Gray-Gray-400, #ababab);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
  letter-spacing: -0.24px;
  margin-left: 16px;
}

/* menu - toolbar */
.tool-bar {
  display: flex;
  min-width: 320px;
  max-width: 1168px;
  padding: 12px 8px;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  gap: 16px 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.dropdown-tool-bar {
  display: flex;
  min-width: 320px;
  align-items: center;
  align-content: center;
  gap: 16px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.emotions {
  display: flex;
  min-width: 120px;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-300, #c7c7c7);
  background: var(--Gray-W, #fff);

  color: var(--Gray-Gray-900, #1c1c1c);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.emotions option {
  display: flex;
  min-width: 120px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-300, #c7c7c7);
  background: var(--Gray-Gray-100, #e4e4e4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  color: var(--Gray-B, #000);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

/* main-container */
.main-container {
  max-width: 1168px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: flex-start;
}

/* main-container > board */
.board {
  display: flex;
  width: 100%;
  max-width: 1168px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.board-post-line {
  display: flex;
  flex-wrap: wrap;
  min-width: 750px;
  max-width: 784px;
  justify-content: space-between;
  gap: 24px;
  align-self: stretch;
}

.post {
  /* test */
  min-width: 350px;
  max-width: 350px;
  max-height: 380px;
  padding-bottom: 16px;
  flex: 1 0 0;
  transition: 0.5s;
}

.post a {
  text-decoration: none;
}

.post:hover {
  transform: scale(110%);
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.16);
}

.post:hover .emotion-preview-img {
  filter: blur(3px);
}

.emotion-img {
  width: 100%;
  height: 285px;
  background-size: contain;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: row;

  background-color: lightgray;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.emotion-preview-img {
  width: 100%;
  border-radius: 16px;
}

.delete-card-board {
  position: absolute;
  right: 12px;
  top: 12px;
}

.post-preview {
  display: flex;
  padding: 0px 8px;
  margin-top: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.post-preview-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.post-preview-emotion {
  color: #28b4e1;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}

.post-preview-date {
  color: var(--Gray-Gray-500, #919191);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}

.post-preview-title {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

/* main-container > sidebar */
.sidebar {
  min-width: 360px;
  max-width: 760px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.sidebar-title {
  width: 100%;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: -0.24px;
}

.ask-emotion {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.ask-emotion p {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;
}

.radio-emotion {
  margin-top: 16px;
  display: flex;
  max-width: 592px;
  align-items: center;
  align-content: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}

.radio-emotion-element label {
  margin-left: 8px;
}

/* 라디오버튼 이미지로 변경 */
/* .radio-emotion-element input {
  background-image: url("./assets/radio_button_unchecked_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg");
} */

/* .radio-emotion-element input:checked {
  background-image: url("./assets/radio_button_checked_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg");
} */

.side-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.side-editor p {
  color: var(--Gray-Gray-800, #333);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.side-title,
.side-content {
  width: 100%;
}

.side-title input {
  width: 100%;
  padding: 12px 16px;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);

  color: var(--Gray-Gray-400, #ababab);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.side-content textarea {
  width: 100%;
  height: 128px;
  padding: 12px 16px;
  resize: none;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);

  color: var(--Gray-Gray-400, #ababab);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.side-push-button {
  width: 100%;
  height: 48px;
  padding: 8px 10px;
  margin-top: 40px;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: var(--Gray-Gray-300, #c7c7c7);

  color: var(--Gray-Gray-50, #f2f2f2);
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

/* scroll-top */
.scroll-top-btn {
  position: fixed;
  bottom: 40px;
  left: 83%;

  border: none;
  background-color: transparent;
}

/* footer */
.footer {
  width: 100%;
  height: 180px;
  display: flex;
  padding: 24px 20px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  background: var(--Gray-Gray-50, #f2f2f2);
}

.user-info {
  display: flex;
  max-width: 1168px;
  margin: 0px 376px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.diary-title {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 80% */
  letter-spacing: -0.2px;
}

.owner {
  color: var(--Gray-Gray-700, #5f5f5f);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}

.copyright {
  color: var(--Gray-Gray-500, #919191);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}
