.myReflow {
  width: 100px;
  height: 100px;
  background-color: skyblue;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    /* background-color: yellow; */
    width: 110px;
    height: 110px;
  }
}
.myRepaint {
  width: 100px;
  height: 100px;
  background-color: blue;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: red;
  }
}
