.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.boardListContainer {
  max-width: 80rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  padding: 1.5rem 3rem 1.5rem 3rem;

  border-radius: 16px;

  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #00000014;
}
