* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
}

html {
    font-size: 10px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container__header {
    margin-bottom: 2.4rem;

    @media (max-width: 375px) {
        width: 100%;
        display: block;
        padding: 2rem;
        margin-bottom: 0rem;
    }
}

.header__img {
    @media (max-width: 375px) {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 1.6rem;
    }
}

.header__text {
    height: 6rem;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    margin: 2.4rem 0rem;

    @media (max-width: 375px) {
        font-size: 1.8rem;
    }
}

.container__sticky {
    width: 100vw;
    height: 12.8rem;
    background-color: #FCFCFC;
    display: none;
    position: sticky;
    top: 0rem;
    z-index: 2;
}

.container__body {
    width: 116.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-bottom: 4rem;

    @media (max-width: 375px) {
        width: 100%;
        flex-direction: column;
        padding: 2rem;
    }
}

/* .nav__tap {
    width: 100vw;
    height: 15rem;
    background-color: #FCFCFC;
    gap: 1rem;
    margin: 2.4rem 0rem 4.2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0rem;
    z-index: 2;
    box-shadow: 0rem 0.5rem 0rem 0rem #fff;

    @media (max-width: 375px) {
        width: 100%;
        display: block;
        padding: 2rem;
        position: static;
    }
} */

.nav__tap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0rem;
    z-index: 2;
}

.tap__bar {
    width: 100%;
    height: 7.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 375px) {
        width: 100%;
    }
}

.tap__active, .tap__disabled {
    width: 12rem;
    height: 4.8rem;
    padding: 1.2rem 0.8rem;
    font-size: 2.4rem;
    color: #222;
    border-bottom: 0.2rem solid #222;

    @media (max-width: 375px) {
        font-size: 2rem;
        width: 11rem;
    }
}

.tap__disabled {
    color: #bbb;
    border: none;
}

.tap__new {
    width: 12rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.new__text {
    font-size: 2rem;
    color: #fff;
    margin-right: 0.8rem;

    @media (max-width: 375px) {
        font-size: 1.4rem;
        margin: 0.4rem;
    }
}

.nav__filter {
    width: 100%;
    height: 5.6rem;
    display: flex;
    align-items: center;

    position: sticky;
    top: 7.2rem;
    z-index: 2;

    @media (max-width: 375px) {
        width: 100%;
        margin: 2rem 0rem;
    }
}

.filter__bar {
    height: 3.2rem;
    border-radius: 0.8rem;
    font-size: 2rem;
    padding: 0.2rem 0.4rem;
}

.body__left__card {
    width: 78.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.4rem;

    @media (max-width: 375px) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.wrapper__card {
    width: 38rem;
    height: 38rem;
    background-color: #FFF;
    border-radius: 1.6rem;
    box-shadow: 0rem 0.4rem 1.2rem 0rem #eee;
    position: relative;

    @media (max-width: 375px) {
        max-width: 15rem;
        height: 100%;
    }
    @media (max-width: 360px) {
        max-width: 14.4rem;
    }
}

.wrapper__card:hover {
    transform: scale(110%);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.card__img {
    @media (max-width: 375px) {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 1.6rem;
    }
}

.card__img:hover {
    filter: grayscale(100%) blur(2px);
    transition: 0.5s;
    transition-timing-function: ease-in;
    z-index: -1;
}

.card__delete {
    width: 4rem;
    height: 4rem;
    background-image: url(./asset/icon/close_outline_light_m.png);
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    z-index: 1;
}

.card__topic {
    height: 6.4rem;
    padding: 0rem 1.6rem;
    margin: 1.6rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 375px) {
        margin: 1.6rem 0rem;        
    }
}

.card__status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.card__mood, .card__sad, .card__surprise, .card__angry, .card__happy, .card__etc, .card__date {
    font-size: 1.4rem;
    font-weight: 200;

    @media (max-width: 375px) {
        font-size: 1.2rem;
    }
}

.card__sad {
    color: #28B4E1;
}

.card__surprise {
    color: #D59029;
}

.card__angry {
    color: #222;
}

.card__happy {
    color: #EA5757;
}

.card__etc {
    color: #A229ED;
}

.card__date {
    color: #bbb;
}

.card__title {
    font-size: 1.8rem;
    font-weight: 600;

    @media (max-width: 375px) {
        font-size: 1.6rem;
        overflow: hidden;
    }
}

.body__right__diary {
    width: 36rem;
    height: 100%;
    padding: 2.4rem;
    box-shadow: 0rem 0.4rem 1.2rem 0rem #eee;
    border-radius: 1.6rem;
    background-color: #FFF;

    @media (max-width: 375px) {
        width: 100%;
    }
}

.diary__subject {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.diary__question {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    font-weight: 600;
}

.diary__radio {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: 200;
    gap: 2rem;
    margin-bottom: 4rem;

    @media (max-width: 375px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.diary__title, .diary__content {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.diary__titleInput, .diary__contentInput {
    width: 100%;
    height: 4.8rem;
    border: 0.1rem solid #eee;
    border-radius: 0.8rem;
    padding: 1.2rem 0.8rem;
    margin-bottom: 2.4rem;
}

.diary__contentInput {
    height: 12.8rem;
    margin-bottom: 4rem;
}

.diary__button {
    width: 100%;
    height: 4.8rem;
    border-radius: 0.8rem;
    padding: 0.8rem;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    font-size: 2rem;
}

.diary__button:hover {
    background-color: #FFBE98;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.container__modal__bg {
    width: 100%;
    height: 100%;
    background-color: #222222BB;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
}

.container__modal {
    width: 64rem;
    height: 56rem;
    background-color: #F2F2F2;
    border-radius: 2.4rem;
    padding: 2.4rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    box-shadow: 0rem 1rem 2rem 0rem #222;
    z-index: 5;
}

.modal__header {
    font-size: 2.4rem;
    margin-bottom: 4rem;
    font-weight: 600;
}

.modal__question {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    font-weight: 600;
}

.modal__radio {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
    input {
        margin-right: 0.8rem;
    }
}

.title__text, .content__text {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.title__input, .content__input {
    width: 100%;
    height: 4rem;
    border-radius: 0.8rem;
    border: 0.2rem solid #bbb;
    padding: 1.2rem 1.6rem;
    margin-bottom: 2.4rem;
}

.content__input {
    height: 12.8rem;
}

.modal__button {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.btn__exit, .btn__submit, .btn__continue, .btn__cancel {
    width: 11.6rem;
    height: 4.8rem;
    border: 0.2rem solid #ddd;
    border-radius: 0.8rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__exit:hover, .btn__cancel:hover {
    background-color: #767676;
    color: #fff;
    border: 0.2rem solid #FCFCFC;
    font-weight: 600;
    transition: 0.2s;
}

.btn__submit:hover, .btn__continue:hover {
    background-color: #FFBE98;
    color: #fff;
    border: 0.2rem solid #FCFCFC;
    font-weight: 600;
    transition: 0.2s;
    transform: rotate(3deg);
}

.modal__cancel, .modal__submit {
    width: 48rem;
    height: 20rem;
    padding: 2.4rem;
    background-color: #F2F2F2;
    border-radius: 1.6rem;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    box-shadow: 0rem 1rem 2rem 0rem #222;
    top: 16rem;
    z-index: 6;
}

.cancel__title, .submit__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.cancel__desc, .submit__desc {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 4rem;
}

.btn__confirm {
    width: 100%;
    height: 4rem;
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__floating {
    width: 4rem;
    height: 4rem;
    position: fixed;
    background-image: url(./asset/icon/up_outline_light_xl.png);
    border-radius: 100%;
    box-shadow: 0rem 0.1rem 0.6rem 0rem #767676;
    right: 2%;
    bottom: 2%;

    @media (max-width: 375px) {
        right: 4%;
        bottom: 2%;
    }
}

.container__floating:hover {
    background-color: #ff7700;
}

.container__footer {
    width: 100%;
    height: 16rem;
    background-color: #F2F2F2;
    padding: 2.4rem;
    display: flex;
    justify-content: center;

    @media (max-width: 375px) {
        width: 100%;
    }
}

.wrapper__footer {
    width: 114.8rem;
    height: 11.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__text {
    font-size: 2rem;
}

.footer__name, .footer__copy {
    color: #767676
}