* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text {
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 24px 0px;
}

.container__nav {
    width: 100vw;
    height: 150px;
    background-color: #FCFCFC;
    gap: 10px;
    margin: 24px 0px 42px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    box-shadow: 0px 5px 0px 0px #fff;
}

.nav__tap__bar {
    display: flex;
    margin-bottom: 32px;
    width: 1168px;
    justify-content: flex-start;
}

.tap__active, .tap__disabled {
    width: 120px;
    height: 48px;
    padding: 12px 8px;
    font-size: 24px;
    color: #222;
    border-bottom: 2px solid #222;
}

.tap__disabled {
    color: #bbb;
    border: none;
}

.nav__filter__bar {
    display: flex;
    align-items: center;
    width: 1168px;
    justify-content: flex-start;
}

.nav__filter {
    width: 120px;
    height: 32px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 20px;
    padding: 2px 4px;
}

.container__body {
    width: 1168px;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.body__left__card {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.wrapper__card {
    width: 380px;
    height: 380px;
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 0px 4px 12px 0px #eee;
    position: relative;
}

.wrapper__card:hover {
    transform: scale(110%);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.card__img:hover {
    filter: grayscale(100%) blur(2px);
    transition: 0.5s;
    transition-timing-function: ease-in;
    z-index: -1;
}

.card__delete {
    width: 40px;
    height: 40px;
    background-image: url(./asset/close_outline_light_m.png);
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}

.card__topic {
    height: 64px;
    padding: 0px 16px;
    margin: 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card__mood, .card__sad, .card__surprise, .card__angry, .card__happy, .card__etc, .card__date {
    font-size: 14px;
    font-weight: 200;
}

.card__sad {
    color: #28B4E1;
}

.card__surprise {
    color: #D59029;
}

.card__angry {
    color: #222;
}

.card__happy {
    color: #EA5757;
}

.card__etc {
    color: #A229ED;
}

.card__date {
    color: #bbb;
}

.card__title {
    font-size: 18px;
    font-weight: 600;
}

.body__right__diary {
    width: 360px;
    height: 100%;
    padding: 24px;
    box-shadow: 0px 4px 12px 0px #eee;
    border-radius: 16px;
    background-color: #FFF;
}

.diary__subject {
    font-size: 24px;
    margin-bottom: 40px;
}

.diary__question {
    font-size: 20px;
    margin-bottom: 16px;
}

.diary__radio {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 20px;
    margin-bottom: 40px;
}

.diary__title, .diary__content {
    font-size: 20px;
    margin-bottom: 8px;
}

.diary__titleInput, .diary__contentInput {
    width: 100%;
    height: 48px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 12px 8px;
    margin-bottom: 24px;
}

.diary__contentInput {
    height: 128px;
    margin-bottom: 40px;
}

.diary__button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 8px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    font-size: 20px;
}

.diary__button:hover {
    background-color: #FFBE98;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.container__floating {
    width: 40px;
    height: 40px;
    position: fixed;
    background-image: url(./asset/up_outline_light_xl.png);
    border-radius: 100%;
    box-shadow: 0px 1px 6px 0px #767676;
    right: 2%;
    bottom: 2%;
}

.container__floating:hover {
    background-color: #ff7700;
}

.container__footer {
    width: 100%;
    height: 160px;
    background-color: #F2F2F2;
    padding: 24px;
    display: flex;
    justify-content: center;
}

.wrapper__footer {
    width: 1148px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__text {
    font-size: 20px;
}

.footer__name, .footer__copy {
    color: #767676
}