* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	appearance: none;
	text-decoration: none;
}

.wrapper {
	margin: 0 20px 40px;
}

.wrapper__header {
	width: 100%;
	height: 60px;
	font-size: 18px;
	font-weight: 700;
	line-height: 16px;
	padding: 20px;
}

.wrapper__body {
	display: flex;
	width: 100%;
	gap: 24px;
}

/* 배너 이미지 */
.banner {
	width: 100%;
}

/* 내비게이션 */
.tab {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 16px;
	margin-top: 24px;
	margin-bottom: 42px;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.diarystore {
	border-bottom: 2px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 8px;
	color: #000;
}

.photostore {
	color: #ababab;
}

/* 필터 */
.filter {
	min-width: 120px;
	padding: 4px;
	border-radius: 8px;
	border: 1px solid #c7c7c7;
	height: 32px;
	margin-bottom: 42px;
}

/* 일기 보여주는 곳 */
.wrapper__left__body {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.moodWrapper__item {
	max-width: 380px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.mood-thumbnail {
	height: 285px;
	width: auto;
}

.mood-image {
	height: 100%;
	width: 100%;
}

.mood-feel {
	width: 100%;
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	font-size: 14px;
	color: #777;
}

.detail-thumbnail {
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

.happy {
	color: #ea5757;
}

.sad {
	color: #28b4e1;
}

.surprised {
	color: #d59029;
}

.mad {
	color: #777;
}

.etc {
	color: #a229ed;
}

.mood-date {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #919191;
	text-align: right;
	width: 100%;
}

.mood-title {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

/* 일기등록 상자*/
.wrapper__right__body {
	min-width: 360px;
	height: fit-content;
	border-radius: 16px;
	background-color: #fff;
	border: 1px solid #d4d3d3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 24px;
	gap: 40px;
	text-align: left;
	font-size: 24px;
	color: #000;
}

.diary {
	width: 100%;
	font-size: 24px;
	font-weight: 700;
}

.wrapper__right__body_ment {
	width: 100%;
	font-size: 20px;
	font-weight: 600;
}

.diary-feel {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.selectbox {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	color: #333;
}

.diary-select {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

.writingBox {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.diary-title {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #333;
}

#diary-title,
#diary-content {
	appearance: none;
	width: 100%;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #d4d3d3;
	padding: 12px 16px;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

#diary-title::placeholder,
#diary-content::placeholder {
	color: #ababab;
}

.diary-submit {
	width: 100%;
	border-radius: 8px;
	background-color: #c7c7c7;
	height: 48px;
	display: flex;
	align-items: center;
	border: 0px;
	justify-content: center;
	padding: 8px 10px;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: #f2f2f2;
}
