* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.전체화면 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

/*header*/

.상단박스{
    width: 1168px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.민지의다이어리{
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0px;
    
}

/*section*/

.일기내용Box {
    width: 1168px;
    height: 321px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titleBox{
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.titlePrint {
    width: 100%;
    height: 36px;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px solid black;

}

.detailBox {
    width: 100%;
    height: 133px;
    background-color: antiquewhite;

}

.wirtePrint{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.myEmotion {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.myEmotionPrint{
    height: 32px;
}

.myEmotionPrint span {
    font-size: 20px;
    font-weight: 600;
    color: #EA5757;
}

.writeDayPrint{
    height: 20px;
}

.detailBoxBtn {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content:flex-end;
    gap: 16px;
}

.detailBoxBtn button {
    width: 104px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
   
}

