*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CSS_가장큰배경 {
    margin: 0 20px 40px;
}
  

.CSS_헤더 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    padding: 20px;
}

.CSS_탭 {
    width: 1168px;
    height: 48px;
    border: 1px solid black;
 
}

.CSS_보관함버튼 {
    width: 119px;
    height: 48px;
    background-color: transparent;
}

.CSS_메인 {
    border: 1px solid red;
    width: 100%;
    display: flex;
    gap: 24px;
}



.CSS_등록상자 {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    height: fit-content;
    text-align: left;

}

.CSS_등록상자_제목 {
    font-size: 24px;
    font-weight: 700;
}

.CSS_등록상자_내용_영역 {
    width: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
.CSS_등록상자_내용 {
    font-size: 16px;
} 
