* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.diarycontainer {
    display: flex; /* Flexbox 사용 */
    justify-content: center;
    align-items: center; /* 수직 중앙 정렬 */
}

.whoesdiary {
    height: 3.75rem; 
    width: 73rem; 
    display: flex;
    align-items: center;
    text-align: left;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.125rem; 
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; 
    letter-spacing: -0.01125rem;
    margin-bottom: 1.5rem;
}

.bannerimgcontainer {
    justify-content: center;
    align-items: center; /* 수직 중앙 정렬 */
    width: 100vw; /* 전체 화면 높이 */
    height: 15rem; /* 240px -> 15rem */
    display: flex;
    padding: 0 1.25rem; /* 20px -> 1.25rem */
    flex-direction: row;
    align-items: center;
    gap: 0.625rem; /* 10px -> 0.625rem */
    justify-content: center;
    margin-bottom: 1.5rem; /* 24px -> 1.5rem */
}

.bannerimg {
    height: 15rem; /* 240px -> 15rem */
    width: 73rem; /* 1168px -> 73rem */
    align-self: stretch;
    border-radius: 1.5rem; /* 24px -> 1.5rem */
    background: url('./img/banner.png');
    overflow: hidden;
    margin-bottom: 1.5rem; /* 24px -> 1.5rem */
}

.menucontainer {
    height: 3rem; /* 48px -> 3rem */
    gap: 1rem; /* 16px -> 1rem */
    display: flex;
    padding: 0 1.25rem; /* 20px -> 1.25rem */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; /* 32px -> 2rem */
}
/* -------------커스텀 드롭다운---------------------*/
.selectbox {
    display: flex;
    align-items: center;   /* 세로 중앙 정렬 */
    position: relative;
    max-width: 100%;
}

.customDropdown {
    min-width: 120px;  /* 최소 너비 설정 */
    max-width: 60%;  /* 최대 너비를 설정하여 버튼과 겹치지 않도록 */
    padding: 12px 10px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #FFF;
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;  /* padding 포함한 크기 계산 */
    margin-right: 16px;
}

.customDropdown::after {
    content: var(--text, '전체');
    display: block;
    font-size: 16px;
}

.CSS_dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    min-width: 120px;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.customDropdown:checked + .CSS_dropdownMenu {
    display: block;
}

.CSS_dropdownMenu input {
    display: none;
}

.CSS_dropdownMenu label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.CSS_dropdownMenu label:hover {
    background: rgba(58, 181, 15, 0.05);
}

.CSS_dropdownMenu input:checked + label::after {
    content: url('./img/check_outline_light_xs.png'); 
    position: absolute;
    right: 10px;
    width: 16px; 
    height: 16px;
}

.CSS_dropdownMenu label::after {
    content: "";
    display: none;
}

.CSS_dropdownMenu input:checked + label::after {
    display: inline-block;
}
.search-container {
    display: flex;
    justify-content: center;
}

.input-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 16px; 
    width: 24px;
    height: 24px;
    pointer-events: none; 
}

.input-wrapper > input {
    display: flex;
    width: 22.5rem;
    max-width: 22.5rem;
    padding: 0.75rem 1rem;
    padding-left: 3rem; 
    border-radius: 100px;
    border: 1px solid var(--Gray-Gray-300, #C7C7C7);
    align-items: center;
    gap: 0.5px;
    box-sizing: border-box;
}
.input-wrapper > input::placeholder {
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.16px;
    ;
}

.selectcontainer {
    height: 3rem; /* 48px -> 3rem */
    gap: 1rem; /* 16px -> 1rem */
    display: flex;
    padding: 0 1.25rem; /* 20px -> 1.25rem */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.625rem; /* 42px -> 2.625rem */
    position: sticky;
    top: 0; /* 스크롤 시 상단에 고정되도록 설정 */
    background-color: white; 
    z-index: 10;
    flex-basis: 100%;
    max-width: 1168px;

}

select {
    width: 7.5rem; /* 120px -> 7.5rem */
    height: 2rem; /* 32px -> 2rem */
    border-radius: 0.5rem; /* 8px -> 0.5rem */
}

.menubox {
    width: 73rem; /* 1168px -> 73rem */
    display: flex;
    justify-content: start;
    gap: 0.625rem; /* 10px -> 0.625rem */
    border-bottom: 0.125rem solid #000; /* 2px -> 0.125rem */
    padding: 0.75rem 0.5rem; /* 12px 8px -> 0.75rem 0.5rem */
}

.menu_active {
    display: flex;
    padding: 0.75rem 0.5rem; /* 12px 8px -> 0.75rem 0.5rem */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px -> 0.625rem */
    border-bottom: 0.25rem solid #000; /* 4px -> 0.25rem */
}

.menu_inactive {
    display: flex;
    padding: 0.75rem 0.5rem; /* 12px 8px -> 0.75rem 0.5rem */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px -> 0.625rem */
}

.menu {
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 1.5rem; /* 24px -> 1.5rem */
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 24px -> 1.5rem */
    letter-spacing: -0.015rem; /* -0.24px -> -0.015rem */
}

.center_box {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
}

.listcontainer {
    max-width: 100%;
    width: 73rem;
    box-sizing: border-box;
}

.diarylistbox {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;         
    flex-wrap: wrap;       /* 줄 바꿈 허용 */
    gap: 1.5rem;           /* 24px -> 1.5rem */
    box-sizing: border-box; 

}
.inputcontainer{
    display: flex;
}



.diarybox {
    width: 17.125rem; /* 380px */
    height: 18.5rem; /* 373px */
    padding-bottom: 1rem; /* 16px */
    position: relative;
    overflow: visible;
}
.diarybox:hover {
    transform: scale(1.1);
    border-radius: 1rem; /* 16px */
    background: #FFF;
    box-shadow: 0px 0.125rem 1.875rem 0px rgba(0, 0, 0, 0.16); /* 2px 30px */
    transition-duration: 0.5s;
}
.diarybox [class^="thumbnail_"]:hover {
    filter: blur(0.3125rem); /* 5px */
    transition-duration: 0.5s;
  }
.thumbnail_sad{
    width: 17.125rem; /* 380px */
    height: 13rem; /* 285px */
    background-image: url("./img/sad.png");
    background-size: cover;
    margin-bottom: 16px;
}

.thumbnail_surprise{
    width: 17.125rem;; /* 380px */
    height: 13rem; /* 285px */
    background-image: url("./img/surprise.png");
    background-size: cover;
    margin-bottom: 16px;

}
.thumbnail_angry{
    width: 17.125rem;; /* 380px */
    height: 13rem; /* 285px */
    background-image: url("./img/angry.png");
    background-size: cover;
    margin-bottom: 16px;
}
.thumbnail_happy{
    width: 17.125rem; /* 380px */
    height: 13rem; /* 285px */
    background-image: url("./img/happy.png");
    background-size: cover;
    margin-bottom: 16px;
}
.thumbnail_etc{
    width: 17.125rem; /* 380px */
    height: 13rem; /* 285px */
    background-image: url("./img/etc.png");
    background-size: cover;
    margin-bottom: 16px;
}
.textbox {
    width: 17.125rem; /* 380px */
    height: 3.5rem; /* 56px */
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
}
.date_title_container {
    height: 1.5rem; /* 24px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem; /* 8px */
}
.emotion_sad, .emotion_surprise, .emotion_angry, .emotion_happy, .emotion_etc {
    font-family: "Pretendard Variable";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 20px */
    letter-spacing: -0.00875rem; /* -0.14px */
}

.emotion_sad { color: #28B4E1; }
.emotion_surprise { color: #D59029; }
.emotion_angry { color: var(--Gray-Gray-600, #777); }
.emotion_happy { color: #EA5757; }
.emotion_etc { color: #A229ED; }

.date {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 24px */
    letter-spacing: -0.00875rem; /* -0.14px */
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    flex: 1 0 0;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: "Pretendard Variable";
    font-size: 1.125rem; /* 18px */
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 24px */
    letter-spacing: -0.01125rem; /* -0.18px */
}

.footer {
    margin-top: 2.5rem; /* 40px */
    display: flex;
    padding: 1.5rem 1.25rem; /* 24px 20px */
    align-items: center;
    background: var(--Gray-Gray-50, #F2F2F2);
    justify-content: center;
}

.footercontainer {
    max-width: 1168px;
    width: 1168px;
    height: 7rem; /* 112px */
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 32px */
    max-width: 73rem;
    

}
.footerwhosediary {
    /* width: 73rem; 1168px */
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 16px */
    letter-spacing: -0.0125rem; /* -0.2px */
    flex-direction: column;
}

.representative {
    color: var(--Gray-Gray-700, #5F5F5F);
    font-family: "Pretendard Variable";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 16px */
    letter-spacing: -0.00875rem; /* -0.14px */
}
.companyinfo {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 300;
    line-height: 1rem; /* 16px */
    letter-spacing: -0.00875rem; /* -0.14px */
}

.xbutton {
    background-image: url('./img/close.png');
    background-size: 1.5rem; /* 24px */
    border-radius: 50%;
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
    position: absolute;
    top: 0.75rem; /* 12px */
    right: 0.75rem; /* 12px */
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: opacity 0.5s;
}
.diarybox:hover .xbutton {
    z-index: 15; /* 호버 상태에서 버튼이 항상 위에 있게 설정 */
}

.diarybox [class^="thumbnail_"]:hover {
    filter: blur(0.3125rem); /* 블러 효과 */
    transition-duration: 0.5s;
}

.floating {
    background-image: url('./img/up_outline_light_xl.png');
    width: 2.5rem; /* 40px -> 2.5rem */
    height: 2.5rem; /* 40px -> 2.5rem */
    position: fixed;
    bottom: 0.625rem; /* 10px -> 0.625rem */
    left: 4.875rem; 
}






/* --------------------------------------- */
.writebutton{
    display: flex;
    height: 48px;
    padding: 8px 10px;
    align-items: center;
    border-radius: 8px;
    background: var(--Gray-B, #000);;
}
.witerbuttontext {
    color: var(--Gray-W, #FFF);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.2px;
}
.textToggleContainer {
    align-items: flex-start;
    align-self: stretch;
    position: relative; 
    display: flex;
    align-items: center;
}
.toggle {
    appearance: none; /* 고유의 디자인을 안보이게 만듬 */
    width: 40px;
    height: 24px;
    border-radius: 20px;
    background-color: lightgrey;
    cursor: pointer;
    margin-left: 10px; 
}
.toggle::after {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 2px;

    transition: margin-left 0.3s; /*실제로 이동하는 원 => 토글에 적용하면 안됨 */
}
.toggle:checked {
    background-color: #3AD84A;
}
.toggle:checked::after {
    margin-left: 18px;
}
.darkModeLabel {
    display: flex;
    align-items: center;
    margin-left: auto;
}
/*-----다크모드 관련--------*/
:root {
    --모달배경색: #1c1c1c;
    --제목텍스트색: #ffffff;
    --작은텍스트색: #c7c7c7;
    --인풋배경: #000000;

}
.modal.dark-mode,
.closeModal.dark-mode {
    background-color: #1c1c1c;
}
.text1.dark-mode {
    color: #fff
}
.text2.dark-mode,
.text3.dark-mode,
.text5.dark-mode {
    color: #fff;
}
.text4.dark-mode,
.text6.dark-mode {
    color: #D4D3D3;
}
.titleInModal.dark-mode {
    color:#c7c7c7
}
.inputcontainer.dark-mode {
    color: #c7c7c7
}
.titleInputModal.dark-mode {
    background-color: #000;
    color: #c7c7c7
}
.titleTextareaModal.dark-mode {
    background-color: #000;
}
.closeButton.dark-mode,
.keepWriteButton.dark-mode {
    background-color: #1c1c1c;
}
.closeButtonText.dark-mode ,
.keepWriteText.dark-mode {
    color: #fff;
}
.confirmButton.dark-mode {
    background-color: #333;
}
.confirmButtonText.dark-mode {
    color: #777;
}
.completionModal.dark-mode {
    background-color: #1c1c1c;
}
.completionModalButton.dark-mode,
.cancellationButton.dark-mode {
    background-color: #fff;
}
.completionModalText.dark-mode,
.cancellationButtonText.dark-mode {
    color: #000;
}
/*-------------------------*/
.modalcontainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modalbackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 설정 */
    top: 0;
    left: 0;
    z-index: 999;
}

.modal {
    position: absolute;
    top: calc(50% - 540px/2); /*어디서 그리기 시작하는 포인트가 핵심*/
    left: calc(50% - 640px/2);
    height: 560px;
    background-color: white;
    z-index: 1001;

    padding: 24px;

    display: flex;
    width: 640px;
    min-width: 640px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 24px;
    background-color: #FFF;   
}

.text1 {
    width: 592px;
    height: 24px;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;

    position: absolute;
    left: 0;  /* 텍스트를 왼쪽에 고정 */
    top: 50%;  /* 세로 가운데 정렬 */

}
.text2 {
    width: 592px;
    height: 24px;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;

    margin-bottom: 16px;
}
.radioboxInModal {
    display: flex;
    gap: 20px;
}
.titleInModal {
    width: 592px;
    height: 20px;
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;

    margin-bottom: 8px;
}
.titleInputModal {
    width: 592px;
    height: 48px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    margin-bottom: 24px;
}
.titleInputModal::placeholder {
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
.titleTextareaModal {
    display: flex;
    width: 592px;
    height: 128px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    resize: none;
}
.titleTextareaModal::placeholder {
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
.closeButton {
    display: flex;
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-B, #000);
    background: var(--Gray-W, #FFF);
}
.closeButtonText {
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}
.confirmButton {
    display: flex;
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Gray-Gray-300, #C7C7C7);
}
.confirmButtonText {
    color: var(--Gray-Gray-50, #F2F2F2);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}
.modalButtonContainer {
    display: flex;
    gap: 16px;
}


.completionModalContainer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.completeModalbackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 설정 */
    top: 0;
    left: 0;
    z-index: 999;
}
.completionModal {
    display: flex;
    height: 200px;
    width: 480px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #FFF;

    position: absolute;
    top: calc(50% - 200px/2); /*어디서 그리기 시작하는 포인트가 핵심*/
    left: calc(50% - 480px/2);
    background-color: white;
    z-index: 1004;
    padding: 24px;
}
.text3 {
    color: #000;

    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;
    margin-bottom: 16px;
}
.text4 {
    color: var(--Gray-Gray-800, #333);
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 40px;
}
.completionModalButton {
    display: flex;
    width: 432px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Gray-B, #000);
}
.completionModalText {
    color: var(--Gray-W, #FFF);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}

.closeModalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.closeModalbackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 설정 */
    top: 0;
    left: 0;
    z-index: 999;
}
.closeModal {
    display: flex;
    height: 200px;
    width: 480px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #FFF;

    position: absolute;
    top: calc(50% - 200px/2); /*어디서 그리기 시작하는 포인트가 핵심*/
    left: calc(50% - 480px/2);
    background-color: white;
    z-index: 1005;
    padding: 24px;
}
.text5 {
    color: #000;

    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;
    margin-bottom: 16px;
}
.text6 {
    color: var(--Gray-Gray-800, #333);
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 40px;
}
.cancellationButton {
    display: flex;
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Gray-B, #000);
}
.keepWriteButton {
    display: flex;
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-B, #000);
    background: var(--Gray-W, #FFF);
}
.keepWriteText{
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}
.cancellationButtonText{
    color: var(--Gray-Gray-50, #F2F2F2);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}




.deleteModalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.deleteModalbackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 설정 */
    top: 0;
    left: 0;
    z-index: 999;
}
.deleteModal {
    display: flex;
    height: 200px;
    width: 480px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #FFF;

    position: absolute;
    top: calc(50% - 200px/2); /*어디서 그리기 시작하는 포인트가 핵심*/
    left: calc(50% - 480px/2);
    background-color: white;
    z-index: 1004;
    padding: 24px;
}



/*강아지사진 페이지 관련*/
.photoStorageContent {
    display: none;
}
a {
    text-decoration: none; 
    color: inherit;
  }

a:visited {
color: #ababab; /* 방문한 링크의 색상 */
}

.photoContainer {
    gap: 10px;
}
.imageBox {
    max-width: 640px; /* 기본 너비 */
    width: 640px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
}
.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 24px;
}
.skeleton-animation {
    width: 100px;
    height: 1000px;
    background-color: white;
    filter: blur(70px);
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes loading {
    from {
        transform: translate(-400px, -400px) rotateZ(30deg);
    }
    to {
        transform: translate(700px, 200px) rotateZ(30deg);
    }
}
.hidden {
    display: none;
}
.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#photoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.paginationContainer {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
}
.numberButton_active {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: var(--Gray-Gray-50, #F2F2F2);
}
.numberButton {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Gray-Gray-600, #777);
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    gap:16px;
}
#pagination_show {
    display: flex;
    align-items: center;
    gap: 16px;
}
.prevNextButton {
 margin-top: 4px;
}

@media (max-width: 360px) { 
    /* 360px에 맞춰서 스타일 조정 */
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .whoesdiary {
        padding: 0px 20px;
    }

    .bannerimgcontainer {
        padding: 0px 20px;
        width: 360px;
    }

    .bannerimg {
        background-image: url('./img/small-Rectangle\ 1.png');
        width: 320px;
        height: 240px;
        background-size: contain;
    }

    .menubox {
        border-bottom: none;
    }

    .menu_active .menu {
        color: black;
    }

    .listcontainer {
        display: flex;
        flex-direction: column;
    }

    .diarylistbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding: 0;
        margin: 0 auto;
        width: 320px;
        order: 3; 
    }
    

    .diarybox {
        width: 148px;
        height: 373px;
        gap: 24px;
        margin: 0;

    }

    .diarybox [class^="thumbnail_"] {
        width: 148px;
        background-position: center;
        border-radius: 16px;
    }

    .textbox {
        padding: 0;
    }

    .date_title_container {
        width: 148px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 132px;
        display: inline-block;
    }

    .writingboxcontainer {
        /* position: unset; */
        padding: 24px;
        width: 320px;
        height: 648px;
        order: 1;
        margin: 0 auto; 
        width: 90%; /* 원하는 너비로 조정 */
        max-width: 22.5rem; /* 최대 너비를 설정하여 너무 커지지 않도록 함 */
        margin-bottom: 32px;


    }
    .selectcontainer {
        position:static;
        display: flex;
        order: 2;
        flex-basis: 0%;
        
    }
    .selectbox{
        width: 320px;
    }




    #writingtitle {
        width: 272px;
    }
    #writingcontent {
        width: 272px;
    }
    .submit {
        width: 272px;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .footer{
        width: 100vw;
    }
    .footercontainer {
        width: 100vw;
        padding: 20px 24px 20px 24px;
    }

    .firstline  {
        color: var(--Gray-Gray-800, #333);
        font-family: "Pretendard Variable";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
        letter-spacing: -0.18px;
        gap: 20px;
    }


    /*모바일 모달 관련*/
            .CSS_토글 {
            appearance: none; /*고유의 디자인을 안보이게 만듬*/
            width: 40px;
            height: 24px;
            border-radius: 20px;
            background-color: lightgrey;
        }
        .CSS_토글::after {
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            margin: 2px;

            transition: margin-left 0.3s; /*실제로 이동하는 원 => 토글에 적용하면 안됨 */
        }
        .CSS_토글:checked {
            background-color: greenyellow;
        }
        .CSS_토글:checked::after {
            margin-left: 18px;
        }
    .modal {
        width: 320px;
        height: 620px;
        top: calc(50% - 620px / 2);
        left: calc(50% - 320px / 2);
        padding:24px;
        gap: 24px;
    }
    .text1 {
        width: 320px;
        height: 24px;
        color: #000;
        font-family: "Pretendard Variable";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-bottom: 16px;

    } 

    .radioboxInModal {
        flex-direction: column;
        gap: 12px;
    }
    .radioboxInModal input[type="radio"] {
        margin: 0;
        margin-right: 8px; /* 라디오 버튼과 텍스트 사이의 간격 설정 */
    }
    .titleInModal {
        color: var(--Gray-Gray-800, #333);
        font-family: "Pretendard Variable";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 133.333% */
        letter-spacing: -0.12px;
    }
    .titleInputModal {
        width: 272px;
        height: 40px;
    }
    .titleTextareaModal {
        width: 272px;
        height: 128px;
        display: flex;
        height: 128px;
        padding: 8px 16px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid var(--Gray-Gray-200, #D4D3D3);
        background: var(--Gray-W, #FFF);
    }
    .modalButtonContainer{

    }
    .text2 {

    }
    .radioboxInModal {
        width: 320px;
    }






    /*사진보관함 관련css*/
    .photoStorageContent {
        padding: 20px;
        width:360px
    }
    .imageBox {
        position: relative;
        display: inline-block;
        width: 260px;
    }
    .imageBox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
    .selectbox2 {
        width:320px;
        margin-bottom: 32px;
    }

}


