*{
    margin:0 auto;
    padding:0;
}
body{
    width:1280px;
}
input::placeholder,textarea::placeholder{
    font-size:16px;
    color:#ababab;
}
.red{
    color:red;
    margin-left:4px;
}
.flex{
    display:flex;
} 
.flex-bw{
    display:flex;
    justify-content:space-between;
}
.d-block{
    display:block;
}

h1{
    font-size:20px;
    font-weight:700;
    margin-top:40px;
}

/* 공통 input */
.title input, .address input, .link input{
    width:1280px;
    height:48px;
    border-radius:8px;
    border:1px solid #d4d3d3;
    text-indent:16px;
}

/* 작성자 / 비밀번호 */
.name_pw_bg{
    height:80px;
    margin:40px 0;
}
.name_pw_bg div{
    width:620px;
    margin:0;
}
.name_pw_bg input, .title input{
    width:620px;
    height:48px;
    border-radius:8px;
    border:1px solid #d4d3d3;
    text-indent:16px;
    margin:8px 0 8px 0;
}

/* 제목 */
.title{
    height:80px;
    margin:80px 0;
}

/* 내용 */
.subject{
    height:368px;
    margin:80px 0;
}
.subject textarea{
    width:1280px;
    height:336px;
    border-radius:8px;
    border:1px solid #d4d3d3;
    text-indent:16px;
    padding-top:12px;
    margin-top:8px;
}

/* 주소 */
.address{
    height:192px;
    margin:40px 0;
}
.address input{
    margin:8px 0 8px 0;
}
.address_top > input{
    width:82px !important;
    text-align:center;
    text-indent:0 !important;

}
.address_top button{
    width:130px;
    height:48px;
    border-radius:8px;
    border:1px solid #000;
    background:#fff;
    margin:8px;
}

/* 유튜브 링크 */
.link{
    height:80px;
    margin:80px 0;
}
.link input{margin-top:8px;}

/* 사진 첨부 */
.picture{margin:40px 0;}
.picture button{
    width:160px;
    height:160px;
    background:url(./img/add\ image.png) no-repeat;
    margin:8px 16px 8px 0;
    border:none;
}

/* 하단 버튼 */
.bt_button{
    float:right;
    margin-bottom:40px;
}
.bt_button button{
    border-radius:8px;
    height:48px;
    font-size:18px;
}
.bt_button button:first-child{
    width:64px;
    background:#fff;
    margin-right:16px;
}
.bt_button button:last-child{
    width:95px;
    background:#2874e5;
    color:#fff;
    border:none;
}