@import './reset.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* Typography */
:root {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Variables */

:root {
  --gray-w: #fff;
  --gray-50: #f2f2f2;
  --gray-200: #d4d3d3;
  --gray-300: #c7c7c7;
  --gray-400: #ababab;
  --gray-500: #919191;
  --gray-600: #777777;
  --gray-700: #5f5f5f;
  --gray-800: #333333;
  --gray-900: #1c1c1c;
  --gray-b: #000;
  --accent-red: #ea5757;
  --accent-blue: #28b4e1;
  --accent-purple: #a229ed;
  --accent-yellow: #d59029;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --gap-xxs: 8px;
  --gap-xs: 12px;
  --gap-sm: 16px;
  --gap-md: 20px;
  --gap-lg: 24px;
  --gap-xl: 32px;
  --gap-xxl: 40px;
  --weight-this: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
}

/* Layouts */

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-insede {
  min-width: 1168px;
  padding: var(--gap-sm);
}

.header {
  padding: 22px 0;
}

.container {
  padding: var(--gap-lg) 0 var(--gap-xxl);
}

.container-cover {
  width: 100%;
}

.menu {
  padding-top: var(--gap-lg);
  padding-bottom: var(--gap-xxl);
}

.block-box {
  width: 100%;
}

.panel-list {
  min-width: 784px;
  flex-wrap: wrap;
}

.side-panel {
  min-width: 360px;
}

.footer {
  width: 100%;
}

/* Commons */

.flexbox {
  display: flex;
}

.flexbox.col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Components */

.header-title {
  font-size: 18px;
  font-weight: var(--weight-bold);
}

.container-cover {
  height: 240px;
  border-radius: var(--radius-lg);
  overflow: hidden;
  align-items: center;
}

.container-cover img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu-list {
  gap: var(--gap-md);
}

.menu-list li {
  color: var(--gray-400);

  padding: var(--gap-sm) var(--gap-xs);
  font-size: 24px;
  font-weight: var(--weight-medium);
}

.menu-list li.active {
  border-bottom: 2px solid var(--gray-b);
}

.menu-list li.active a {
  color: var(--gray-b);
  font-weight: bold;
}

.filter-emotion {
  width: 120px;
  height: 32px;
  border-radius: var(--radius-sm);
  border-color: var(--gray-300);
  color: var(--gray-900);
  font-size: 16px;
  font-weight: var(--weight-medium);
  padding: 4px;
  appearance: none;
  background-image: url('../assets/images/icon_arrow_down.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.main-content {
  gap: var(--gap-lg);
  padding-top: var(--gap-xxl);
}

.panel-list {
  flex-grow: 1;
  gap: var(--gap-lg);
  align-items: flex-start;
}

.panel-list .no-content {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 18px;
  line-height: 1.5em;
}

.panel-item {
  width: 48.4%;
  transition: all 0.5s ease-out;
  border-radius: var(--radius-md);
}

.panel-item:hover {
  transform: scale(110%);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
}

.panel-item:hover .emotion-card {
  filter: blur(2px);
}

.emotion-card {
  width: 100%;
  height: 100%;
}

.emotion-card img {
  aspect-ratio: 760px / 570px;
}

.panel-info {
  padding: var(--gap-sm) var(--gap-xxs);
}

.panel-info > div {
  padding-bottom: var(--gap-xxs);
  font-size: 14px;
}

.badge-emoticon {
  font-weight: var(--weight-semi-bold);
}
.badge-emoticon.happy {
  color: var(--accent-red);
}
.badge-emoticon.angry {
  color: var(--gray-600);
}
.badge-emoticon.surprising {
  color: var(--accent-yellow);
}
.badge-emoticon.sad {
  color: var(--accent-blue);
}
.badge-emoticon.etc {
  color: var(--accent-purple);
}

.date {
  color: var(--gray-500);
  font-weight: var(--weight-regular);
}

.panel-title {
  font-size: 18px;
  font-weight: var(--weight-bold);
  max-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.side-panel {
  align-self: self-start;
  padding: var(--gap-lg);
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-md);
}

.side-title {
  font-size: 24px;
  font-weight: var(--weight-bold);
}

.form-area {
  padding: var(--gap-xxl) 0;
}

.form-title {
  font-size: 20px;
  font-weight: var(--weight-semi-bold);
}

.emotions {
  padding: var(--gap-sm) 0 var(--gap-xxl);
  gap: var(--gap-md);
  flex-wrap: wrap;
}

.emotions input[type='radio'] {
  width: 20px;
  height: 20px;
  margin-right: var(--gap-xxs);
  appearance: none;
  border: 2px solid var(--gray-600);
  border-radius: 50%;
}

.emotions input[type='radio']:checked {
  border: none;
  box-shadow: inset 0 0 0 2px var(--gray-b), inset 0 0 0 5px var(--gray-w),
    inset 0 0 0 10px var(--gray-b);
}

.input-title-area {
  padding-bottom: var(--gap-lg);
}

.input-title-area > label,
.input-content-area > label {
  color: var(--gray-800);
  font-size: 14px;
  font-weight: var(--weight-medium);
}

#input-title,
#input-content {
  display: block;
  width: 100%;
  color: var(--gray-400);
  font-size: 16px;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-sm);
  padding: var(--gap-xs) var(--gap-sm);
  margin-top: var(--gap-sm);
}

#input-title {
  height: 48px;
}

#input-content {
  min-height: 128px;
}

.button-register {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: var(--radius-sm);
  font-size: 18px;
  font-weight: var(--weight-semi-bold);
  color: var(--gray-50);
  background-color: var(--gray-b);
}

.button-register:disabled {
  color: var(--gray-50);
  background-color: var(--gray-300);
  cursor: not-allowed;
}

.footer {
  width: 100%;
  background-color: var(--gray-50);
  display: flex;
  justify-content: center;
}

.footer-inside {
  flex-grow: 1;
  max-width: 1168px;
  padding: var(--gap-lg) var(--gap-sm);
  gap: var(--gap-xl);
  font-size: 14px;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
}

.footer-info {
  color: var(--gray-700);
  font-weight: var(--weight-regular);
}

.footer-copy {
  color: var(--gray-500);
  font-weight: var(--weight-light);
}

@media (max-width: 1000px) {
  .panel-item {
    width: 100%;
  }
}
