@font-face {
    font-family: "medium";
    src: url(../font/Pretendard-Medium.otf) format("opentype");
}
@font-face {
    font-family: "bold";
    src: url(../font/Pretendard-Bold.otf) format("opentype");
}
@font-face {
    font-family: "semibold";
    src: url(../font/Pretendard-SemiBold.otf) format("opentype");
}
@font-face {
    font-family: "extrabold";
    src: url(../font/Pretendard-ExtraBold.otf) format("opentype");
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "medium", sans-serif;
}
body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
main {
    width: 73rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.header-text-container {
    display: flex;
    height: 60px;
    min-width: 320px;
    max-width: 1168px;
    align-items: center;
}
.header-text {
    font-family: "semibold", sans-serif;
}
.header-mobile {
    display: flex;
    font-family: "bold", sans-serif;
    align-items: center;
    font-size: 1.3rem;
}
article {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mobile-text {
    font-family: "bold", sans-serif;
}
.article-header {
    padding-bottom: 12px;
    font-family: "bold", sans-serif;
    font-size: 24px;
    border-bottom: 2px solid black;
}
.article-mood-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.article-mood {
    display: flex;
    gap: 8px;
    align-items: center;
}
.post-font-sad {
    color: #28b4e1;
    font-family: "semibold", sans-serif;
}
.post-font-surprise {
    color: #d59029;
    font-family: semibold, sans-serif;
}
.post-font-happy {
    color: #ea5757;
    font-family: semibold, sans-serif;
}
.post-font-etc {
    color: #a229ed;
    font-family: semibold, sans-serif;
}
.post-font-angry {
    color: #777777;
    font-family: semibold, sans-serif;
}
.post-date {
    color: #919191;
    font-family: semibold, sans-serif;
}
.post-img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.post-font {
    color: rgba(145, 145, 145, 1);
}
.post-copy-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    color: rgba(28, 28, 28, 1);
}
.post-copy {
    display: flex;
    gap: 8px;
    align-items: center;
}
.post-update {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.update-button {
    padding: 8px;
    border: 1px solid rgba(212, 211, 211, 1);
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
section {
    width: 73rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
}
footer {
    width: 47.5rem;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: black;
    bottom: 20px;
    opacity: 0%;
    transition: opacity 0.5s ease;
}
.footer-animation {
    animation: toast 2s ease;
}

@keyframes toast {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.footer-content {
    color: white;
}

.section-title {
    font-size: 20px;
    font-family: "semibold", sans-serif;
}
.section-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-input1 {
    width: 80%;
    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--Gray-Gray-200, rgba(212, 211, 211, 1));
}
.section-button {
    padding: 8px 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.section-comment {
    display: flex;
    gap: 12px;
    align-items: center;
}
.section-date {
    color: rgba(119, 119, 119, 1);
}
.section-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.modal_fail_container {
    width: 100dvw;
    height: 100dvh;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.modal_success {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border-radius: 24px;
    padding: 24px;
    gap: 40px;
    z-index: 5;
    background-color: white;
    align-items: center;
}
.modal_fail_button_container {
    display: flex;
    gap: 20px;
}
.modal_fail_button1 {
    width: 6.5rem;
    height: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}
.modal_fail_button2 {
    border: 1px solid black;
    border-radius: 8px;
    width: 6.5rem;
    height: 3rem;
    background-color: black;
    color: white;
    cursor: pointer;
}
@media (min-width: 380px) {
    .header-text-container {
        display: flex;
    }
    .header-mobile {
        display: none;
    }
}
@media (max-width: 375px) {
    * {
        padding: 4px;
    }
    main,
    section {
        width: 100%;
    }
    .header-text-container {
        display: none;
    }
    .header-mobile {
        display: flex;
    }
    footer {
        width: 90dvw;
        height: 44px;
    }
}
