* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
#root {
  display: flex;
  width: 100vw;

  padding: 0rem 20rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 60vw;
  padding: 2.5rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex-shrink: 0;
}

.block {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  align-items: flex-start;
  border-bottom: 1px solid var(--Gray-Gray-200, #d4d3d3);
  &.photo {
    border-bottom: none;
  }
}
.semi_block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  flex: 1;

  p {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
  }
  span {
    color: red;
  }
  .zip_code {
    width: 20%;
  }
  input {
    border-radius: 0.5rem;
    border: 1px solid var(--Gray-Gray-200, #d4d3d3);
    background: var(--Gray-W, #fff);
    display: flex;
    padding: 0.75rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  textarea {
    border-radius: 0.5rem;
    border: 1px solid var(--Gray-Gray-200, #d4d3d3);
    background: var(--Gray-W, #fff);
    display: flex;
    padding: 0.75rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
.detail_block {
  display: flex;
  gap: 0.5rem;
  .searchZipCode {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.5rem;
  }
}
.photoDiv {
  display: flex;
  width: 10rem;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
  p {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
  }
  span {
    color: #777777;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
.addPhoto {
  cursor: pointer;
  display: flex;
  gap: 0.7rem;
}

.btns {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  button {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 0.6px solid var(--gray-B, #000);
  }
}
.cancelBtn {
  background: var(--gray-w, #fff);
  color: black;
}
.registerBtn {
  background: gray;
  color: black;
}

.errorMsg {
  display: none;
  color: red;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

/* boardDetail page */
.boardInfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: space-between;
}
#boardTitle {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.detailBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}
.detailBlock .boardWriter {
  display: flex;
  img {
    margin-right: 0.5rem;
  }
  p {
    color: gray;
    font-weight: 400;
    line-height: 1.6rem;
    font-size: 0.8rem;
  }
}
.boardDate {
  p {
    color: gray;
    font-weight: 400;
    line-height: 1.6rem;
    font-size: 0.8rem;
  }
}
.contentExtra {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 0.5rem;

  padding-top: 0.6rem;
  border-top: 1px solid var(--Gray-Gray-200, #d4d3d3);
  img {
    width: 1rem;
  }
}
.boardContent {
  .exImg {
    width: 20rem;
    height: 26rem;
  }
  .exVideo {
    width: 100%;
    height: auto;
  }
}

.countLike {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.countLike div {
  display: flex;
  flex-direction: column;
  img {
    width: 1.5rem;
    height: auto;
  }
  p {
    font-size: 0.7rem;
  }
}

.detailBtnList {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    gap: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid black;

    text-align: center;
    background: none;
    font-weight: 700;
  }
  button img {
    width: 1rem;
    height: auto;
  }
}
