* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css_layout {
    width: 1280px;
    padding: 40px 0px 40px 0px;
    left: 320px;
    gap: 40px;
}

/* 헤더 */
.css_header {
    height: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
    align-items: center;
}

/* 작성란 */
.css_input {
    height: 1352px;
    gap: 40px;
}

.css_inputtop {
    display: flex;
    gap: 40px;
    height: 80px;
}


/* 이름 */
.css_writer {
    width: 620px;
    height: 80px;
    gap: 8px;
    
}

.css_nametag {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.css_nameinput {
    height: 48px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}

/* 비밀번호 */
.css_password {
    width: 620px;
    height: 80px;
    gap: 8px;
}

.css_pwdtag {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.css_pwdinput {
    height: 48px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}

.css_line {
    width: 100%;
    border: 1px solid #E4E4E4;
    margin-top: 30px;
}

/* 제목 */
.css_title {
    width: 100%;
    height: 80px;
    gap: 8px;
}

.css_titletag {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.css_titleinput {
    height: 48px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}


/* 내용 */
.css_content {
    width: 100%;
    height: 368px;
    gap: 8px;
}

.css_contenttag {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.css_contentinput {
    width: 100%;
    height: 336px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}

/* 주소 */

.css_address {
    width: 100%;
    height: 192px;
    gap: 8px;
}

.css_addressnumtag {
    width: 220px;
    height: 24px;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.css_addressnum {
    width: 220px;
    height: 48px;
    gap: 8px;
    display: flex;
}

.css_addressnuminput {
    width: 82px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px 16px 12px 16px;
}

/* .css_searchinput {
    width: 130px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px 16px 12px 16px;   

} */

.css_search {
    width: 130px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px 16px 12px 16px;   
}
.css_addressinput {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px 16px 12px 16px;
    margin-top: 10px;
}

.css_addressdetailinput {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px 16px 12px 16px;
    margin-top: 10px;
}
hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 링크 */

.css_link {
    width: 100%;
    height: 80px;
    gap: 8px;
}

.css_linktag {
    width: 100%;
    height: 24px;
    gap: 4px;
}

.css_linkinput {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px 16px 12px 16px;
    margin-top: 10px;
}

/* 사진첨부 */

.picture-enroll-row {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.enroll-row-section {
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* 하단 버튼 */

.enroll-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding-top: 40px;
}

.enroll-cancel-button {
    display: flex;
    height: 48px;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-B, #000);
    background: var(--gray-w, #fff);
}

  .enroll-submit-button {
    border-radius: 8px;
    background: #2974e5;
    display: flex;
    height: 48px;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border: 0;
    color: #ffffff;
}
