@media (max-width: 1208px) {
    .root_container {
        justify-content: center;
    }
    
    .header_container {
        align-items: flex-start;
    }

    .header_title {
        width: 100%;
    }

    .detail_section_container {
        width: 100%;
    }

    .main_contents_container {
        width: 100%;
    }

    .main_contents_text_container {
        width: 100%;
    }

    .main_contents_article {
        width: 100%;
    }

    .main_contents_title_contents {
        width: 100%;
    }

    .main_contents_text_contents {
        width: 100%;
    }

    .main_contents_text_title {
        width: 100%;
    }

    .main_contents_text {
        width: 100%;
    }

    .main_contents_title {
        width: 100%;
    }

    .reminiscence_container {
        width: 100%;
    }

    .reminiscence_text {
        width: 95%;
    }

    .break_line {
        width: 100%;
    }
}