* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.root_container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0px 20px 0px 20px;
}

.header_container {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home_link {
    text-decoration: none;
}

.header_title {
    width: 1168px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    color: black;

    display: flex;
    align-items: center;

    gap: 10px;
}

.detail_section_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main_contents_container {
    width: 1168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid black;
    padding-bottom: 16px;
}

.main_contents_article {
    width: 1168px;
    display: flex;
    flex-direction: column;
    
    gap: 24px;
}

.main_contents_title_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main_contents_title {
    font-weight: 700;
    font-size: 22px;
    border-bottom: 2px solid black;
    padding-bottom: 12px;
}

.main_select_mood_container {
    display: flex;
    gap: 20px;
}

.select_mood {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.select_mood_radio {
    width: 24px;
    height: 24px;
}

.select_mood_title {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
}

.main_contents_title_contents {
    display: flex;
    justify-content: space-between;
}

.main_contents_date_container {
    display: flex;
    gap: 8px;
}

.main_contents_mood {
    font-weight: 600;
    font-size: 20px;
}

.main_contents_date {
    font-weight: 400;
    font-size: 14px;
    color: #919191;
}

.main_contents_text_container {
    width: 1168px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.main_contents_text_title {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.main_contents_text {
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.main_contents_button_container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.button_list {
    width: 51px;
    height: 40px;
    border: 1px solid #D4D3D3;
    border-radius: 8px;

    background-color: white;

    font-weight: 500;
    font-size: 18px;
    color: #1C1C1C;
}

.reminiscence_container {
    width: 1168px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reminiscence_container_items {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.reminiscence_title {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.reminiscence_input_container {
    height: 48px;
    display: flex;
    gap: 10px;
}

.reminiscence_text {
    width: 1101px;

    border: 1px solid #D4D3D3;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}

.reminiscence_input_button {
    width: 51px;
    background-color: black;

    font-weight: 600;
    font-size: 18px;

    color: white;

    border-radius: 8px;
}

.reminiscence_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.reminiscence_list_container_items {
    width: 100%;
    display: flex;
    gap: 12px;
}

.reminiscence_list_item_text {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.reminiscence_list_item_date {
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.break_line {
    width: 100%;
    height: 1px;
    border: 1px solid #E4E4E4;
}