* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.root_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0rem 1.25rem 0rem 1.25rem;
}

.header_container {
    height: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.home_link {
    text-decoration: none;
}

.header_title {
    width: 73rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1.125rem;
    color: black;

    display: flex;
    align-items: center;

    gap: 0.625rem;
}

.detail_section_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main_contents_container {
    width: 73rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 0.0625rem solid black;
    padding-bottom: 1rem;
}

.main_contents_article {
    width: 73rem;
    display: flex;
    flex-direction: column;
    
    gap: 1.5rem;
}

.main_contents_title_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_contents_title {
    font-weight: 700;
    font-size: 1.375rem;
    border-bottom: 0.125rem solid black;
    padding-bottom: 0.75rem;
}

.main_select_mood_container {
    display: flex;
    gap: 1.25rem;
}

.select_mood {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
}

.select_mood_radio {
    width: 1.5rem;
    height: 1.5rem;
}

.select_mood_title {
    font-weight: 500;
    font-size: 1.125rem;
    color: #333333;
}

.main_contents_title_contents {
    display: flex;
    justify-content: space-between;
}

.main_contents_date_container {
    display: flex;
    gap: 0.5rem;
}

.main_contents_mood {
    font-weight: 600;
    font-size: 1.25rem;
}

.main_contents_date {
    font-weight: 400;
    font-size: 0.875rem;
    color: #919191;
}

.main_contents_text_container {
    width: 73rem;
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
}

.main_contents_text_title {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}

.main_contents_text {
    font-weight: 500;
    font-size: 1rem;
    color: #333333;
}

.main_contents_text_copy_items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_contents_text_copy_button {
    width: 7.6875rem;
    height: 2.9375rem;
    font-weight: 400;
    font-size: 1rem;

    background-color: white;
    color: #1C1C1C;

    border: 1px solid #D4D3D3;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.main_contents_text_copy_button:active {

}

.main_contents_button_container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button_list {
    width: 3.1875rem;
    height: 2.5rem;
    border: 1px solid #D4D3D3;
    border-radius: 0.5rem;

    background-color: white;

    font-weight: 500;
    font-size: 1.125rem;
    color: #1C1C1C;
}

.reminiscence_container {
    width: 73rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reminiscence_container_items {
    display: flex;
    flex-direction: column;
    gap: 0.813rem;
}

.reminiscence_title {
    width: 100%;
    font-weight: 600;
    font-size: 1.125rem;
    color: black;
}

.reminiscence_input_container {
    height: 3rem;
    display: flex;
    gap: 0.625rem;
}

.reminiscence_text {
    width: 68.813rem;

    border: 1px solid #D4D3D3;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem  0.75rem 1rem;
}

.reminiscence_input_button {
    width: 3.1875rem;
    background-color: black;

    font-weight: 600;
    font-size: 1.125rem;

    color: white;

    border-radius: 0.5rem;
}

.reminiscence_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.reminiscence_list_container_items {
    width: 100%;
    display: flex;
    gap: 0.75rem;
}

.reminiscence_list_item_text {
    font-weight: 500;
    font-size: 1rem;
    color: black;
}

.reminiscence_list_item_date {
    font-weight: 400;
    font-size: 1rem;
    color: #777777;
}

.break_line {
    width: 100%;
    height: 0.0625rem;
    border: 0.0625rem solid #E4E4E4;
}

.toast_message_container {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.toast_message {
    width: 47.5rem;
    height: 3.5rem;

    border-radius: 0.5rem;
    background-color: #000000E5;
    color: white;

    position: fixed;
    bottom: 50px;
    left: (50% - 3.5rem/2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 16px;

    animation-name: toastAnimation;
    animation-duration: 2s;

    animation-iteration-count: 1;
}

@keyframes toastAnimation {
    from {
        /* 투명도 */
        opacity: 10%;
    }

     to {
        opacity: 100%;
     }
}