.navigation_box {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  height: 80px;
  width: 1280px;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
}

.left_area {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  width: 80px;
  height: auto;
}

.active_menu {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--gray-B, #000);
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.menu {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333333;
}

.right_area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user_profile {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.button_box {
  display: flex;
  gap: 24px;
}

.login_button {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
}

.signup_button {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: var(--main-color);
  color: white;
}

/* user menu */
.dropdown_content {
  background-color: white;
  border: 1px solid var(--main-color-back);
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 200px;
  position: absolute;
  padding: 0.5rem;
  right: 0;
  top: 120%;
  z-index: 1;
}

.dropdown_label {
  padding: 0.5rem;
}

.user_name {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.points_container {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}

.points_value {
  font-size: 1.5rem;
  font-weight: 600;
}

.dropdown_separator {
  height: 1px;
  background-color: #d2d8f0;
  margin: 0.5rem 0;
}

.dropdown_item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown_item:hover {
  background-color: #f7fafc;
}

.dropdown_item_icon {
  margin-right: 0.5rem;
  width: 16px;
  height: 16px;
}

/* 포인트 모달 */

.modal_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.charge_options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.charge_option {
  padding: 0.75rem;
  border: 1px solid var(--main-color-back);
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.charge_option:hover {
  background-color: #f7fafc;
}

.charge_option.selected {
  background-color: var(--main-color);
  color: white;
}

.modal_actions {
  display: flex;
  justify-content: space-between;
}

.charge_button,
.cancel_button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.charge_button {
  background-color: #4a5568;
  color: white;
}

.charge_button:hover {
  background-color: #2d3748;
}

.charge_button:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

.cancel_button {
  background-color: var(--main-color-back);
  color: #4a5568;
}

.cancel_button:hover {
  background-color: #cbd5e0;
}
