.lottieLogo {
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease; /* 애니메이션 효과 */
}

.main {
  width: 100%;
  display: flex;

  justify-content: center; /* 화면 중앙 정렬 */
  align-items: center; /* 수직 정렬 */
  border: 1px solid red; /* 나중에 지우시오 */
}

.loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.loginText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}

.title {
  margin: 24px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.subTitle {
  color: var(--gray-800, #333);
  text-align: center;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.inputSection {
  margin: 16px 0 24px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  width: 300px;
  padding: 10px 20px;
  max-width: 320px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);

  line-height: 20px; /* 142.857% */
}

.btnSection {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginBtn {
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  background: var(--n-main, #59cd41);

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.signupBtn {
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #b8860b;
  color: #b8860b;

  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  width: 300px;
}

.signupImage {
  width: 1300px; /* 이미지 섹션 너비 조정 */
  height: auto; /* 비율에 맞춰 높이 조정 */
  background-color: #f0f0f0;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
