* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

.layout {
  max-width: 1168px;
  margin: 0 20px 40px;
}

.header {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  padding: 20px;
}

.main {
  display: flex;
  width: 100%;
  gap: 24px;
}

.bannerImage {
  width: 100%;
}

.tap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

#filter_formButton_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.dropdown_box {
  position: relative;
}

#diary_select {
  appearance: none;
  width: 120px;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  padding: 12px 10px;
  line-height: 22px;
  margin-bottom: 42px;
  --철수의CSS변수: "전체";
}

#diary_select::after {
  content: var(--철수의CSS변수);
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 56px;
  width: 120px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

.dropdown_menu input {
  display: none;
}

.dropdown_menu label {
  height: 48px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
  color: #5f5f5f;
  display: flex;
  justify-content: space-between;
}

.select_img {
  display: none;
}

.dropdown_menu label:hover {
  color: #299c00;
  background-color: #3ab50f0d;
  opacity: 95%;
}

.dropdown_menu label:hover img {
  display: block;
}

#diary_select:checked + .dropdown_menu {
  display: block;
}

#search_bar_box {
  display: flex;
  flex-grow: 1;
  margin-left: 16px;
}

#search_bar {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #c7c7c7;
  padding: 12px 16px;
  gap: 8px;
}

#search_bar input {
  width: 149px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
  color: #ababab;
  border: none;
}

/* .formButton_box {
  width: 100%;
} */

.formButton {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  padding: 8px 10px;
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.formButton img {
  width: 24px;
  height: 24px;
  display: block;
}

.formButton_text {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -1px;
}

#diaryNav {
  border-bottom: 2px solid #000;
  padding: 12px 8px;
  color: #000;
}

#photoNav {
  color: #ababab;
}

#storage_leftBody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.diaryCard {
  width: 274px;
  border-radius: 16px;
  padding-bottom: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diaryCard a {
  position: relative;
}

#diaryCard_image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.diaryCard_content {
  width: 100%;
  padding: 0px 14px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diaryCard_content_header {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#content_header_emotion {
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #28b4e1;
}

#content_header_date {
  width: 60px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1px;
  color: #919191;
}

#diaryCard_content_title {
  width: 100%;
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: #000000;
  display: flex;
  justify-content: start;
}

.footer {
  width: 100%;
  display: flex;
  padding: 24px 20px;
  justify-content: center;
  background-color: #f2f2f2;
}

.footerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footerBox_title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
}

.footerBox_representative {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #5f5f5f;
}

.footerBox_copyright {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #919191;
}

a {
  text-decoration-line: none;
}

#deleteButton {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px #0000001a;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.floatingButton {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #f2f2f2;
  position: sticky;
  left: 97%;
  bottom: 50px;
  cursor: pointer;
}

#modal_group {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#modal_group2 {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#modal_group3 {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#modal_group4 {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.modal_background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}

#modal_form {
  width: 640px;
  height: 560px;
  top: calc(50vh - 280px);
  left: calc(50vw - 320px);
  border-radius: 24px;
  padding: 24px;
  background-color: var(--backgroundColor);
  border: 1px solid #d4d3d3;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_header {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--color);
}

.form_radioBox {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.radioBox_header {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--color);
}

.radioBox_body {
  width: 100%;
  gap: 20px;
  display: flex;
}

.radioButton {
  border-radius: 8px;
  gap: 8px;
  display: flex;
}

.radioButton input {
  width: 24px;
  height: 24px;
  display: block;
}

.radioButton label {
  height: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  display: block;
  color: var(--color);
}

.textBox {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.titleBox {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.titleBox label {
  width: 100%;
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1px;
  display: block;
  color: var(--color);
}

.titleBox input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 12px 16px;
  gap: 10px;
  background-color: var(--backgroundColor);
  border: 1px solid #d4d3d3;
}

.contentBox {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.contentBox label {
  width: 100%;
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1px;
  color: var(--color);
  display: block;
}

.contentBox textarea {
  width: 100%;
  height: 128px;
  border-radius: 8px;
  padding: 12px 16px;
  gap: 10px;
  background-color: var(--backgroundColor);
  border: 1px solid #d4d3d3;
  resize: none;
}

.modal_buttonBox {
  width: 100%;
  gap: 16px;
  display: flex;
  justify-content: center;
}

.cancelButton {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--buttonBorderColor);
  background-color: #ffffff;
  padding: 8px 10px;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--color);
  background-color: var(--backgroundColor);
}

.registerButton {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  gap: 10px;
  background-color: var(--registerBackgroundColor);
  color: var(--registerColor);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
}

.registerButton:hover {
  background-color: #000000;
}

#modal_register {
  width: 480px;
  border-radius: 24px;
  padding: 24px;
  gap: 40px;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  top: calc(50vh - 100px);
  left: calc(50vw - 240px);
  position: absolute;
}

.register_header_box {
  width: 100%;
  height: 64px;
  gap: 16px;
}

.register_header {
  width: 100%;
  height: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color);
}

.register_content {
  width: 100%;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color);
}

#modal_register button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 8px 10px;
  gap: 10px;
  background-color: var(--buttonBackgroundColor);
  color: var(--backgroundColor);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  cursor: pointer;
}

#modal_cancel {
  width: 480px;
  height: 200px;
  border-radius: 24px;
  padding: 24px;
  gap: 40px;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 240px);
  align-items: center;
}

.cancel_header_box {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.cancel_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color);
}

.cancel_content {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color);
}

.cancel_button_box {
  width: 100%;
  gap: 21px;
  display: flex;
  justify-content: center;
}

.writeButton {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--buttonBorderColor);
  background-color: var(--backgroundColor);
  padding: 8px 10px;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--color);
}

.realCancelButton {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  padding: 8px 10px;
  gap: 10px;
  background-color: var(--registerCancelBackgroundColor);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--registerCancelColor);
}

#modal_delete_diary {
  width: 480px;
  height: 200px;
  border-radius: 24px;
  padding: 24px;
  gap: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50vw - 240px);
  top: calc(50vh - 100px);
}

.delete_header {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  color: #000000;
}

.delete_content {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
}

.delete_button_box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 21px;
  text-align: center;
}

#delete_cancel_button {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 8px 10px;
  gap: 10px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #1c1c1c;
}

#delete_button {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  padding: 8px 10px;
  gap: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -1px;
}

.delete_button_box button:hover {
  background-color: #000000;
  color: #ffffff;
}

#delete_button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .main {
    flex-wrap: wrap;
  }
  #storage_leftBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 2;
    place-items: center center;
  }
  .diaryCard {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .radioBox_body {
    flex-direction: column;
  }

  .diaryCard {
    overflow: hidden;
  }

  #diaryCard_image {
    object-fit: cover;
    width: auto;
  }

  #modal_form {
    overflow-y: scroll;
    max-width: 480px;
    width: 80vw;
    left: calc(50vw - 40vw);
    top: 50vw;
  }

  #modal_form::-webkit-scrollbar {
    display: none;
  }

  #dog_image {
    max-width: 640px;
    width: 80vw;
  }

  #search_bar_box {
    order: 1;
    flex-basis: 100%;
    width: 100%;
  }

  .dropdown_box {
    order: 2;
  }

  .formButton {
    order: 3;
  }
}

#dog_image_box {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#dog_image {
  display: block;
  width: 640px;
  border-radius: 24px;
  aspect-ratio: 1 / 1;
}

#skeleton_card {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#skeleton_box {
  display: block;
  width: 640px;
  height: 640px;
  border-radius: 24px;
  background-color: lightgray;
}

.skeleton_stick {
  width: 100px;
  height: 500px;
  background-color: white;
  filter: blur(70px);

  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes skeletonAnimation {
  from {
    transform: translate(0px, 0px) rotateZ(30deg);
  }
  to {
    transform: translate(700px, 200px) rotateZ(30deg);
  }
}

#photo_select {
  width: 100%;
  display: none;
}

#photoFilter {
  width: 120px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  padding: 4px;
  gap: 10px;
}

@media (max-width: 400px) {
}

.modal_header {
  display: flex;
  justify-content: space-between;
}

.darkMode_toggle {
  display: flex;
  gap: 8px;
}

.darkMode_toggle label {
  width: 55px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -1px;
  color: var(--color);
}

#toggle {
  appearance: none;
  width: 40px;
  height: 24px;
  border-radius: 100px;
  padding: 2px;
  background-color: #e4e4e4;
}

#toggle::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 100px;
  transition: 0.3s;
}

#toggle:checked {
  background-color: #3ad84a;
}

#toggle:checked::after {
  margin-left: 18px;
}

:root {
  --backgroundColor: #ffffff;
  --color: #000000;
  --inputPlaceholderColor: #ababab;
  --buttonColor: #1c1c1c;
  --buttonBorderColor: #000000;
  --buttonBackgroundColor: #000000;
  --registerBackgroundColor: #c7c7c7c7;
  --registerColor: #f2f2f2;
  --registerCancelBackgroundColor: #000000;
  --registerCancelColor: #f2f2f2;
}

[darkmode="on"] {
  --backgroundColor: #1c1c1c;
  --color: #ffffff;
  --radioButtonColor: #ffffff;
  --inputBackgroundColor: #000000;
  --inputPlaceholderColor: #777777;
  --inputBorderColor: #333333;
  --buttonBorderColor: #5f5f5f;
  --buttonBackgroundColor: #ffffff;
  --registerBackgroundColor: #333333;
  --registerColro: #777777;
  --registerCancelBackgroundColor: #f2f2f2;
  --registerCancelColor: #000000;
}
