* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  appearance: none;
  text-decoration: none;
}

.CSS_레이아웃 {
  margin: 0 2rem 4rem;
}

.CSS_타이틀 {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.CSS_배너이미지 {
  width: 100%;
}

.CSS_탭 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
  margin-top: 2.4rem;
  margin-bottom: 4.2rem;
}

.CSS_탭_텍스트 {
  cursor: pointer;
  line-height: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0.8rem;
}

/* 필터 */
.CSS_필터_영역_배경 {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(1rem);
  margin-bottom: 3.2rem;
  z-index: 1;
}

.CSS_필터 {
  min-width: 12rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #c7c7c7;
  height: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
/* 
.CSS_드롭다운메뉴 {
  display: none;
  width: 150px;
  border: 2px solid green;
  border-radius: 10px;


  overflow: hidden;
}

.CSS_드롭다운메뉴 input {
  display: none;
} */

.CSS_드롭다운제목 {
  appearance: none;
  width: 150px;
  height: 40px;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

  --철수의CSS변수: "선텍하세요."
}

.CSS_드롭다운메뉴 {
  display: none;
  width: 150px;
  border: 2px solid green;
  border-radius: 10px;

  /* 노란색이 모서리영역 넘치는거 방지 */
  overflow: hidden;
}


.CSS_드롭다운제목::after {
  /* content: "선택하세요"; */
  content: var(--철수의CSS변수);

}


.CSS_드롭다운제목:checked {
  background-color: yellow;
}

/* 형제는 + */
.CSS_드롭다운제목:checked  + .CSS_드롭다운메뉴 {
  display: block;
}

/* 자손 선택자 */
.CSS_드롭다운메뉴 input {
  display: none;
}

.CSS_드롭다운메뉴 label {
  display: block;
  padding: 10px;
  height: 40px;
}

.CSS_드롭다운메뉴 label:hover {
  background-color: yellow;

}


.CSS_색상반전 {
  filter: invert(1);
}

.CSS_일기쓰기버튼 {
  border-radius: 0.8rem;
  background-color: #000;
  width: 100%;
  height: 4.8rem;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
  text-align: left;
}

.CSS_일기쓰기버튼_텍스트 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.CSS_plus부분 {
  width: 2.4rem;
}

/* 메인 */
.CSS_메인 {
  display: flex;
  width: 100%;
  gap: 2.4rem;
}

.CSS_일기보여주는곳 {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  width: 100%;
}

.CSS_일기 {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  border-radius: 1.6rem;
}

.CSS_일기:hover {
  transform: scale(1.1);
  box-shadow: 0rem 0.2rem 3rem 0rem rgba(0, 0, 0, 0.16);
  transition: 0.5s;
}

.CSS_일기:hover .CSS_일기사진 {
  filter: blur(0.3rem);
}

.CSS_일기사진 {
  height: 28.5rem;
  width: auto;
}

.CSS_일기정보 {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem 1.6rem;
}

.CSS_기분이미지 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.CSS_일기내용 {
  width: 100%;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 1.4rem;
  color: #777;
}

.CSS_기분 {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}

.CSS_행복 {
  color: #ea5757;
}

.CSS_슬픔 {
  color: #28b4e1;
}

.CSS_놀람 {
  color: #d59029;
}

.CSS_화남 {
  color: #777;
}

.CSS_기타 {
  color: #a229ed;
}

.CSS_날짜 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #919191;
  text-align: right;
  width: 100%;
}

.CSS_일기제목 {
  width: 100%;
  height: 1.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  overflow: hidden;
}

.CSS_삭제버튼 {
  width: 100%;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* 일기쓰기 모달 */
.CSS_등록상자 {
  border-radius: 1.6rem;
  background-color: #fff;
  padding: 0;
  text-align: left;
  font-size: 2.4rem;
  color: #000;
}

.CSS_등록상자_내부 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  height: 100%;
  padding: 2.4rem;
}

.CSS_등록상자_제목 {
  font-size: 2.4rem;
  font-weight: 700;
}

.CSS_등록상자_기분 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.CSS_등록상자_기분_타이틀 {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
}

.CSS_일기입력상자 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.CSS_일기쓰기 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.CSS_인풋라벨 {
  font-size: 1.4rem;
  font-weight: 500;
}

.CSS_라디오그룹 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: #333;
}

.CSS_라디오버튼 {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.CSS_라디오버튼 > div {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
}

#HTML_제목입력창,
#HTML_내용입력창 {
  width: 100%;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 0.1rem solid #d4d3d3;
  padding: 1.2rem 1.6rem;
  text-align: left;
  font-size: 1.6rem;
}

/* 푸터 영역 */
.CSS_푸터_영역 {
  width: 100%;
  display: flex;
  padding: 2.4rem 2rem;
  justify-content: center;
  background-color: #f2f2f2;
}

.CSS_푸터 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.CSS_푸터_제목 {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.CSS_푸터_대표 {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #5f5f5f;
}

.CSS_푸터_Copyright {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #919191;
}

/* 플로팅 버튼 */
.CSS_플로팅버튼 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
}

.CSS_플로팅이미지 {
  width: 4rem;
}

/* 사진보관함 */
#HTML_사진보관함필터,
#HTML_사진보관함메인 {
  display: none;
}

.CSS_강아지사진보여주는곳,
.CSS_스켈레톤 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.CSS_강아지사진 {
  max-width: 63rem;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.4rem;
}

.CSS_스켈레톤박스 {
  max-width: 63rem;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 2.4rem;
}

.CSS_스켈레톤막대기 {
  width: 100px;
  height: 1000px;
  background-color: white;
  filter: blur(70px);

  animation-name: 스켈레톤애니메이션;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes 스켈레톤애니메이션 {
  from {
    transform: translate(-400px, -400px) rotate(30deg);
  }
  to {
    transform: translate(700px, 200px) rotate(30deg);
  }
}



.CSS_검색 {
  width: 320px;
  height: 48px;
  border: 1px solid black;
  border-radius: 100px;
  display: flex;
  justify-content: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 30px;
  margin-right: 250px;
  background-image: url(../assets/images/search.png);
  background-position: 5px center;
  background-repeat: no-repeat;
}




