.detail__travel__product {
  width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
}

.top__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon__container .bookmark__container {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;

  background-color: #00000066;
  box-shadow: 0px 0px 8px 0px #00000040;
  border-radius: 0.5rem;

  color: white;
  stroke: white;
  font-weight: 500;
  font-size: 0.875rem;

  cursor: pointer;
}

.description {
  color: #777777;
  font-weight: 500;
  font-size: 1rem;
}

.hashTag {
  color: #2974e5;
  font-weight: 500;
  font-size: 1rem;
}

.contents__container {
  display: flex;
  gap: 1.5rem;
}

.buyingInfo__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.buying__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e4e4e4;
  padding: 1.5rem;
}

.price__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price__description__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.price__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price {
  font-weight: 700;
  font-size: 1.5rem;
}

.cautions__container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cautions__container p {
  color: #5f5f5f;
  font-weight: 400;
  font-size: 0.875rem;
  text-wrap: nowrap;
}

.buyingButton {
  color: white;

  border-radius: 0.5rem;

  font-weight: 500;
  font-size: 1.25rem;
  background-color: #2974e5;

  padding: 0.75rem 1rem;
}

.seller__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;

  border-radius: 0.5rem;
  background-color: #f2f2f2;

  color: black;
  font-weight: 700;
  font-size: 1.25rem;
}

.profile__container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.profile__container span {
  color: #333333;
  font-weight: 500;
  font-size: 1rem;
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section__title {
  color: #333333;
  font-weight: 700;
  font-size: 1.25rem;
}
