* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.레이아웃 {
  display: flex;
  width: 100%;
  max-width: 1168px;
  padding: 0 20px 40px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.헤더 {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  padding: 20px;
}

.메인 {
  margin-top: 40px;
  display: flex;
  width: 100%;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.바뀌는_부분 {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
}

/* 수정화면 */

.수정_기분_선택_영역 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.기분_레이블 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
}

.기분_선택_라디오_영역 {
  display: flex;
  max-width: 592px;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;

  color: var(--Gray-Gray-800, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  /* 111.111% */
}

@media (max-width: 48.686rem) {
  .기분_선택_라디오_영역 {
    flex-direction: column;
  }

  .라디오버튼 {
    display: flex;
    gap: 8px;
    justify-content: left;
    align-items: left;
  }
}

.라디오버튼 {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.기분_영역 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.수정_제목_영역 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.레이블 {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.제목_인풋 {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
}

.수정_내용_영역 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.내용_인풋 {
  width: 100%;
  display: flex;
  height: 128px;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
}

.수정_버튼_영역 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}

.취소_버튼 {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-B, #000);
  background: var(--Gray-W, #FFF);

  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.수정하기_버튼 {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Gray-B, #000);

  color: var(--Gray-Gray-50, #F2F2F2);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  transition: translate 0.5s;
}

.수정하기_버튼:active {
  transform: rotate(30deg);
}

.회고_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.입력_영역 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  align-self: stretch;
}

.회고_레이블 {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.회고_인풋_영역 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;

}

.회고_인풋 {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  border-radius: 8px;
  background: var(--Gray-Gray-50, #F2F2F2);
}

.회고_입력_버튼 {
  color: var(--Gray-Gray-50, #F2F2F2);
  display: flex;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Gray-Gray-300, #C7C7C7)
}

.보기_영역 {
  display: flex;
  max-width: 1168px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.회고_댓글_영역 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px 12px;
  flex-wrap: wrap;
}

.회고_댓글 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.회고_날짜 {
  color: var(--Gray-Gray-600, #777);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}