.layoutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childrenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
