.signup_page_body {
  display: flex;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.main_box {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.main_form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.signup_title {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.input_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
}

.signup_button {
  width: 100%;
  background-color: #f88379;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
