.input_box input::placeholder,
.input_box textarea::placeholder {
  color: #251a1a;
}

/* 공통 - 레이블과 인풋 그룹 */
.input_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

/* 공통 - 인풋 레이블 */
.input_label {
  color: #333;
  font-weight: 500;
}

.require {
  color: #f66a6a;
}

/* 공통 - 인풋 박스 */
.input_box {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
}

.content_input_box {
  border-radius: 8px;
  border: 1px solid #d4d3d3;
  height: 336px;
  padding: 12px 16px;
  resize: none;
  overflow: auto;
}

.input_box_zip_code {
  padding: 12px 16px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
  width: 82px;
}

#file {
  display: none;
}

.btn_upload {
  display: flex;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn_upload input {
  display: none;
}
