.page {
  min-width: 36rem;
  max-width: 78rem;
  padding: 0rem 2rem 0rem 2rem;
}

/* title */
.menu {
  width: 100%;
  padding: 1.2rem 2rem 1.2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 2.4rem;
  text-align: center;
  gap: 0.8rem;
}

.menu p {
  color: #000;
  text-align: center;

  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
}

/* 작성 영역 */
.container {
  padding: 2rem 2.4rem 2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.title > .input:first-child {
  margin-bottom: 1.6rem;
}

.labelTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.4rem;
}

.label {
  color: var(--gray-800, #333);

  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

/* 필수 입력 사항 */
.star {
  color: var(--red, #f66a6a);

  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.info {
  width: 100%;
  padding: 1rem 1.2rem;
  line-height: 2.4rem;

  border-radius: 0.8rem;
  border: 0.1rem solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.infoContent {
  width: 100%;
  height: 12rem;
  padding: 1.2rem 1.6rem;
  line-height: 2.4rem;
  resize: none;

  border-radius: 0.8rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.vaildation {
  display: none;
}

.address {
  gap: 0.8rem;
}

.addressMail {
  display: flex;
  flex-direction: row;
}

.infoAddress {
  padding: 1.2rem 1.6rem;
  line-height: 2.4rem;

  border-radius: 0.8rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.infoInput::placeholder,
.infoContent::placeholder,
.infoAddress::placeholder {
  color: var(--Gray-Gray-400, #ababab);

  font-family: "Pretendard Variable";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background: var(--gray-100, #e4e4e4);
}

/* 사진 업로드 */
.postUploadImage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postUploadeImg > .label {
  margin-bottom: 0.8rem;
}

/* 버튼 */
.postButtonGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
}

/* 데스크탑 */
@media (min-width: 781px) {
  .page {
    width: 128rem;
    min-width: 78.1rem;
    max-width: 192rem;
    margin: 0rem 2rem 0rem 2rem;
    padding: 4rem 0rem;
  }

  /* title */
  .menu {
    padding: 0rem;
    margin-bottom: 4rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
  }

  .menu img {
    display: none;
  }

  .container {
    padding: 0rem;
    gap: 4rem;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  /* 작성 영역 */
  .infoContent {
    height: 33.6rem;
  }
  /* 사진 업로드 */
  .postUploadImage {
    justify-content: flex-start;
    gap: 1.6rem;
  }

  /* 버튼 */
  .postButtonGroup {
    justify-content: flex-end;
    gap: 1.6rem;
  }
}
