.main {
  margin-top: 120px;
}

.인풋이름 {
  font-weight: 500;
}

.빨간별 {
  color: #f66a6a;
  font-weight: 500;
}
.경고글 {
  color: #f66a6a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.게시물등록섹션 {
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.게시물등록 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.이름과비번입력하는곳 {
  display: flex;
  justify-content: space-between; /* 항목들 사이에 여백을 자동으로 조정 */
  padding: 40px 0;
}

.반쪽인풋섹션 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-weight: 500;
  width: 48%;
}

.반쪽인풋 {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  width: 100%;
}

.제목입력하는곳 {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.풀인풋 {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
}

.내용입력하는곳 {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.많이큰인풋 {
  display: flex;
  width: 100%;
  height: 336px;
  padding: 12px 16px;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
}

.주소입력하는곳 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 0;
}

.우편번호입력하는곳 {
  display: flex;
  gap: 8px;
}

.우편번호인풋 {
  width: 80px;
  display: flex;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  text-align: center;
}

.우편버튼 {
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-B, #000);
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.링크입력하는곳 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 0;
}

.사진첨부하는곳 {
  padding: 40px 0;
}

.업로드박스그룹 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.업로드박스그룹 {
  margin-top: 8px;
}

.업로드박스 {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  background: var(--gray-50, #f2f2f2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #777;
}

.addIcon {
  width: 40px;
  height: 40px;
}

.버튼있는곳 {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 40px;
}

.취소버튼 {
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.등록하기버튼 {
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: #c7c7c7;
  color: #e4e4e4;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.등록하기버튼.active {
  background-color: #2974e5; /* 버튼이 활성화되었을 때 배경색 */
  color: white; /* 활성화 시 글자색 */
}
