.tbLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.tbContainer {
  display: flex;
  width: 1280px;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  padding: 0px 48px 40px;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.searchBar {
  display: flex;
  width: 180px;
  width: 640px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: none;
  background: #f2f2f2;
}

.searchBar::placeholder {
  color: #919191;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.searchButton {
  display: flex;
  width: 64px;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;

  background: #000;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.listContainer {
  display: flex;
  justify-content: center;
  padding: 24px 48px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  min-width: 480px;
}

.listNav {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.navNum {
  width: 64px;
  color: #1c1c1c;
  font-family: var(--pretendard-medium);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
}

.navText {
  width: 100px;
  color: #1c1c1c;
  font-family: var(--pretendard-medium);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
}

.navTitle {
  flex: 1 0 0;
  font-family: var(--pretendard-medium);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.eachList {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}

.listNum {
  width: 64px;
  color: #919191;
  text-align: center;
  font-family: var(--pretendard-light);
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
}

.soldProduct {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  gap: 8px;
}

.soldProductName {
  color: #ababab;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.productName {
  display: flex;
  flex: 1 0 0;
  color: #1c1c1c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.sold {
  color: #2974e5;
  font-family: var(--pretendard-bold);
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.productPrice,
.seller {
  width: 100px;
  color: #333;
  text-align: center;
  font-family: var(--pretendard-light);
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
}

.createDate {
  width: 100px;
  color: #919191;
  text-align: center;
  font-family: var(--pretendard-light);
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
}
