.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.profileContainer {
  display: flex;
  gap: 0.5rem;
}

.starsContainer {
  display: flex;
}

.sideButtonContainer {
  display: flex;
  gap: 0.5rem;
}

.dateContainer {
  font-weight: 400;
  font-size: 0.875rem;
  color: #818181;

  margin-bottom: 2.5rem;
}
