@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트모드 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 다크모드 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @font-face {
  font-family: "Pretendard";
  src: url("/my-app/src/app/fonts/GeistMonoVF.woff");
} */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Pretendard"; */
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
}

input::placeholder {
  color: #ababab;
}

textarea::placeholder {
  color: #ababab;
}

legend {
  display: none;
}

fieldset {
  border: none; /* 기본 보더 제거 */
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
