@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
}

input::placeholder {
  color: #ababab;
}

textarea::placeholder {
  color: #ababab;
}

legend {
  display: none;
}

fieldset {
  border: none; /* 기본 보더 제거 */
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
