@import './common.css';

.detail {
  width: 100%;
}

.detail-title {
  padding-bottom: 12px;
  border-bottom: 2px solid currentColor;
}

.detail-title h2 {
  font-size: 22px;
  font-weight: var(--weight-bold);
}

.detail-info {
  align-items: center;
  justify-content: space-between;
  padding-top: var(--gap-sm);
  padding-bottom: var(--gap-lg);
}

.detail-emotion {
  align-items: center;
  gap: var(--gap-xxs);
}

.emotion-thumbnail {
  width: 32px;
  height: 32px;
}

.detail-emotion .badge-emoticon {
  font-size: 20px;
}

.detail-date {
  font-size: 14px;
  font-weight: var(--weight-regular);
  color: var(--gray-500);
}

.detail-content {
  font-size: 16px;
  padding-bottom: var(--gap-lg);
}

.detail-content h3 {
  font-weight: var(--weight-semi-bold);
}

.detail-content-text p {
  font-weight: var(--weight-medium);
  margin-top: var(--gap-xs);
  line-height: 3rem;
  word-break: break-all;
  white-space: wrap;
}

.actions {
  padding-bottom: var(--gap-sm);
  justify-content: flex-end;
  gap: var(--gap-sm);
}

.button-edit,
.button-delete {
  width: 50px;
  height: 40px;
  line-height: 40px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--gray-200);
  text-align: center;
  color: var(--gray-900);
  background-color: var(--gray-w);
  font-size: 18px;
  font-weight: var(--weight-medium);
}

.button-copy {
  display: flex;
  align-items: center;
  margin-left: auto;
}
