:root {
    --기본글자색: #000;
    --기본배경색: #fff;
    --라디오글자색: #333;
    --인풋배경색: #fff;
    --인풋플레이스홀더색: #ABABAB;
    --인풋보더색: #D4D3D3;
    --닫기버튼보더색: #000;
    --닫기버튼배경색: #fff;
    --등록하기버튼글자색: #F2F2F2;
    --등록하기버튼배경색: #000;
    --등록완료버튼글자색: #fff;
    --등록완료버튼배경색: #000;
    --등록완료모달글자색: #333;
  }
  [toggle_darkMode="on"] {
    --기본글자색: #fff;
    --기본배경색: #1C1C1C;
    --라디오글자색: #C7C7C7;
    --인풋배경색: #000;
    --인풋플레이스홀더색: #777;
    --인풋보더색: #333;
    --닫기버튼보더색: #5F5F5F;
    --닫기버튼배경색: #1C1C1C;
    --등록하기버튼글자색: #000;
    --등록하기버튼배경색: #F2F2F2;
    --등록완료버튼글자색: #000;
    --등록완료버튼배경색: #fff;
    --등록완료모달글자색: #D4D3D3;
  }

 