/* 1. 껍데기: 공통사용 */
.app-modal {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 9999;
}
.modal-floor {
  width: 100vw;
  height: 100%;
  background-color: var(--gray-b-opacity-50);
  opacity: 50%;
}

/* 2. 알맹이: 등록모달 */
.modal-add-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 640px;
  min-height: 500px;
  background-color: var(--gray-w);
  border-radius: var(--radius-sm);
  padding: var(--gap-lg);
}

.modal-add-cancel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  min-height: 200px;
  text-align: center;
  background-color: var(--gray-w);
  border-radius: var(--radius-sm);
  padding: var(--gap-lg);
}

.modal-add-cancel h2 {
  font-size: 2.4rem;
  font-weight: var(--weight-bold);
}
.modal-add-cancel p {
  font-size: 2rem;
  font-weight: var(--weight-medium);
  margin-top: var(--gap-sm);
}

.modal-actions {
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  padding-top: var(--gap-xl);
}

.modal-actions button {
  width: 104px;
  height: 48px;
  border: 1px solid var(--gray-b);
  border-radius: var(--radius-sm);
  color: var(--gray-b);
  background-color: var(--gray-w);
  font-size: 1.8rem;
  font-weight: var(--weight-semi-bold);
}

.modal-actions button:nth-child(2) {
  filter: invert();
}

@media (max-width: 360px) {
  .modal-add-item {
    max-width: 320px;
  }
}
