/* 공통모달 */
.modalGroup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
  }
  
  /* 등록상자 */
  .CSS_등록상자 {
    position: absolute;
    top: calc(50% - 560px / 2);
    left: calc(50% - 640px / 2);
    width: 640px;
    height: 560px;
    background-color: var(--기본배경색);
  }
  
  /* 등록완료상자,일기취소박스,일기삭제박스 */
  .modalBox {
    gap: 2.4rem;
    position: absolute;
    top: calc(50% - 200px / 2);
    left: calc(50% - 480px / 2);
    width: 480px;
    height: 200px;
  
    background-color:  var(--기본배경색);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    z-index: 3;
  }
  
  .completeTitle,
  .deleteTitle,
  .registerDeleteTitle {
    width: 100%;
    position: relative;
    font-size: 2.4rem;
  
    display: inline-block;
    font-family: "Pretendard Variable";
    color: #000;
    text-align: center;
  }
  
  .completeContent,
  .deleteContent,
  .registerDeleteContent {
    width: 100%;
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    display: inline-block;
  }
  
  /* 모달 버튼 */
  .CSS_모달버튼부분 {
    gap: 1.6rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .modalBtn {
    width: 10.4rem;
    border-radius: 0.8rem;
    height: 4.8rem;
    padding: 0.8rem 1rem;
    text-align: left;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
  }
  
  .modalCloseBtn {
    background-color: #fff;
    border: 1px solid #000;
    color: #1c1c1c;
  }
  
  .registerModalBtn {
    border: none;
    background-color: #000;
    color: #f2f2f2;
  }
  
  .registerModalBtn:disabled {
    background-color: #c7c7c7;
  }
  
  .modalCompleteBtn {
    width: 100%;
    border-radius: 8px;
    background-color: #000;
    height: 4.8rem;
    padding: 0.8rem 1rem;
    font-size: 1.8rem;
    color: #fff;
  }
  
  .button_wrapper {
    gap: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .deleteRegisterBtn {
    border-radius: 8px;
    background-color: #000;
    height: 4.8rem;
    padding: 0.8rem 1rem;
    font-size: 1.8rem;
    color: #fff;
  }