@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard";
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./_fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./_fonts/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./_fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./_fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("./_fonts/Pretendard-Regular.woff") format("woff");
}
