.customTooltip{
    font-size:16px;
}
.content{
    width:1280px;
    height:2171px;
    margin:0 auto;
}

/* 제목 */
.content h1{
    font-size:28px;
    height:72px;
}

/* 프로필 */
.profile{
    width:1280px;
    height:24px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:32px 0 32px 0;
}
.profileLeft{
    width:119px;
    height:24px;
    display:flex;
    align-items:center;
    gap:4px;
}
.profile_icon{
    width:24px;
    height:24px;
    background:url(../../../../public/images/img.png) no-repeat center;
}
.profile:last-child{font-size:14px;}
.createDate{font-size:14px;}

/* 내용 */
.content .subject{
    height:1180px;
}
.content .subjectIcon{
    height:24px;
    display:flex;
    align-items:center;
    justify-content:end;
    margin-bottom:16px;
}
.content .subjectIcon .clip{
    width:19px;
    height:9.08px;
    background:url(../../../../public/images/clip.png) no-repeat;
    margin-right:16px;
}
.content .mapIcon{
    width:151px;
    height:18.44px;
    background:url(../../../../public/images/map_icon.png) no-repeat;
    cursor:pointer;
}

.content .subjectImg{
    width:400px;
    height:531px;
    background:url(../../../../public/images/Tranquil\ Beachside\ Serenity\ 1.png) no-repeat;
    margin-bottom:24px;
}
.content .subject p{font-size:16px;}

/* 비디오 */
.videoBg{
    width:1280px;
    height:512px;
    background-color:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
}
.video{
    width:822px;
    height:464px;
    background:url(../../../../public/images/Frame\ 427323252.png) no-repeat center;
}

/* 좋아요 싫어요 */
.emotion{
    display:flex;
    justify-content:center;
    align-items:center;
    height:48px;
    gap:24px;
    margin-bottom:72px;
    margin-top:24px;
}
.emotion .bad, .emotion .good{
    /* width:2.4rem;
    height:2.4rem; */
    text-align:center;
}
.emotion .badIcon{
    width:24px;
    height:24px;
    background:url(../../../../public/images/bad.png) no-repeat center;
}
.emotion .good p{
    color:#f66a6a;
}
.emotion .goodIcon{
    width:24px;
    height:24px;
    background:url(../../../../public/images/good.png) no-repeat center;
}

/* 하단 버튼 */
.bottomBtn{
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:24px;
    border-bottom:1px solid #e4e4e4;
    padding-bottom:48px;
}
.bottomBtn button{
    border-radius:8px;
}
.bottomBtn button:first-child{
    width:105px;
    height:40px;
    background:url(../../../../public/images/list_button.png) no-repeat center;
}
.bottomBtn button:last-child{
    width:105px;
    height:40px;
    background:url(../../../../public/images/edit_button.png) no-repeat center;
}
