.main {
  width: 1184px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head {
  display: flex;
  padding: 16px 24px;
  gap: 8px;
}

.head_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1c1c1c;
}

.number {
  width: 64px;
  height: 20px;
  text-align: center;
}

.title {
  width: 100%;
  height: 20px;
}

.writer {
  width: 100px;
  height: 20px;
  text-align: center;
}

.date {
  width: 100px;
  height: 20px;
  text-align: center;
}

.boards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.board_box {
  display: flex;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  padding: 12px 0px 12px 24px;
  gap: 8px;
}

.board_number {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #919191;
}

.board_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
}

.board_writer {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: cetner;
  color: #333333;
}

.board_date {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #919191;
}

.deleteImg {
  opacity: 0;
}

.board_box:hover .deleteImg {
  opacity: 1;
}
