.star {
    color: red;
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.titleBox {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #d4d3d3;
    padding: 40px 0;
}
.titleBoxTitle {
    display: flex;
    gap: 4px;
}

.titleBox input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #d4d3d3);
    background: var(--Gray-W, #fff);
}
.reactQuill {
    height: 200px;
}

.addressBox {
    display: flex;
    padding: 40px 0;
    gap: 40px;
    border-bottom: 1px solid #d4d3d3;
}

.addressBoxLeft {
    display: flex;
    flex-direction: column;
    width: 396px;
    /* border: 1px solid red; */
}

.addressBoxLeftAddress {
    margin-bottom: 40px;
}

.addressBoxLeftZipcode {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.addressBoxLeftZipcodeShow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #d4d3d3);
    background: var(--Gray-W, #fff);
    color: #d4d3d3;
}

.addressBoxLeftZipcodeBtn {
    width: 130px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 8px;
}
.addressBoxLeft input {
    width: 369px;
    height: 48px;
    padding: 12px 16px;
    border: 1px solid #ababab;
    border-radius: 8px;
}

.addressBoxLeftZipcodeL {
}

.addressBoxLeftZipcodeL input {
    padding: 12px 16px;
    width: 369px;
    height: 48px;
    background-color: #e4e4e4;
    border-radius: 8px;
}

.addressBoxLeftZipcodeL input:first-child {
    padding: 12px 16px;
    width: 369px;
    height: 48px;
    background-color: #e4e4e4;
    border-radius: 8px;
    margin-bottom: 16px;
}

.addressBoxRight {
    width: 100%;
    /* border: 1px solid red; */
    gap: 16px;
}

.mapImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 312px;
    border-radius: 8px;
    background-color: #e4e4e4;
}

.imageBox {
    padding: 40px 0;
}
