.layoutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.childrenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
