@media (max-width: 1099px) {
  .container-layout {
    padding: 0 20px;
  }
  main .main-content ul#diaryList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 779px) {
  .container-layout {
    padding: 0 20px;
  }

  nav {
    margin-bottom: 32px;
  }

  main {
    display: contents;
    margin-right: 0;
  }
  main .main-content ul#diaryList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main aside {
    order: 1;
    width: 100%;
    min-width: 0;
  }

  main .main-content {
    order: 3;
  }

  main .main-content ul > li .img-wrap {
    height: 285px;
  }

  main .main-content ul > li .img-wrap > img {
    height: 100%;
    object-fit: cover;
  }
  .buttons_wrap {
    margin-bottom: 2rem;
  }
  /* .container-layout .selectWrap {
    order: 2;
  } */

  main > .selectWrap {
    display: block;
    order: 2;
  }

  #upFloatingButton {
    width: fit-content;
    right: 0;
    align-self: flex-end;
  }
}

@media (max-width: 349px) {
  main .main-content ul#diaryList {
    grid-template-columns: 1fr;
  }
}
