@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mono-gray050: #fafafa;
    --mono-gray100: #f5f5f5;
    --mono-gray200: #eeeeee;
    --mono-gray300: #e0e0e0;
    --mono-gray400: #bdbdbd;
    --mono-gray500: #9e9e9e;
    --mono-gray600: #767676;
    --mono-gray700: #606060;
    --mono-gray800: #424242;
    --mono-gray900: #222222;

    --chroma-alert: #ff5555;
    --chroma-info: #5555ff;

    --chroma-pantone: #ffbe98;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: var(--mono-gray900); */
    font-size: 1.6rem;
    font-family: var(--font-paperlogy-light);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mono-gray050);
}

header {
    width: 100rem;
    font-size: 2.4rem;
    padding: 4rem 0rem;
}

section {
    width: 100rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
}

button:hover {
    background-color: #981b1e;
    color: #eee;
}

input:disabled {
    background-color: #bdbdbd;
}
