* {
    box-sizing: border-box;
    /* background-color: #f8efe8; */
}
:root {
    --gray-800: #333;
    --gray-100: #E4E4E4;
    --gray-300: #C7C7C7;
    --gray-700: #5F5F5F;
    --Gray-Gray-200: #D4D3D3;
    --Gray-W: #FFF;
}
body{
    padding:0;
    margin:0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 0;
    border-bottom: 1px solid var(--gray-300);;
}
.bigTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--gray-300);
    padding: 60px;
    height: 200px;
    gap: 5px;
}
.bigTitle {
    font-size: 50px;
    font-weight: 500;
    color: var(--gray-800)
}
.subBigTitle {
    font-size: 13px;
    color: var(--gray-700)
}

.aboutContent {
    display: flex;
    align-items: center;

    color: var(--gray-700);
    font-size: 14px;
}
.authorName {
    margin-left: 3px;
}
.date {
    margin-bottom: 3px;
    margin-left: 8px;
}

.titleContainer {
    max-width: 100%;
    margin-top: 10px;
}

.title {
    color: var(--gray-800);
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.contentContainer{
    margin-top: 20px;
    display: grid;
    
    place-items: center;
}
.grid1 {
    margin-top: 20px;
    display: flex; /* Flexbox를 사용하여 세로 방향으로 배치 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}
.imgContainer {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.imgContainer img {
    width: 100%; /* imgContainer의 너비에 맞춤 */
    height: 100%; /* height를 정사각형으로 고정 */
    aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
    object-fit: cover; /* 이미지 비율을 유지하면서 중앙에 맞춤 */
    margin: 5px 0;
    justify-content: center;
}
.textContainer {
    width: 90%;
    padding: 0 10px;
}
.textContent {
    font-size: 15px;
    line-height: 25px;
    color: var(--gray-800);
}


.carousel-indicators {
    background-color: transparent;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: transparent;
}
.carousel-inner img {
    border-radius: 20px;
}
