*{
    font-size:62.5%;
}
.detailContent{
    width:128rem;
    height:217.1rem;
    margin:0 auto;
}

/* 제목 */
.detailContent h1{
    font-size:2.8rem;
    height:7.2rem;
}

/* 프로필 */
.profile{
    width:128rem;
    height:2.4rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.profileLeft{
    width:11.9rem;
    height:2.4rem;
    display:flex;
    align-items:center;
    /* justify-content:space-between;
    flex-wrap:wrap; */
    /* margin:2.4rem 0 2.4rem 0; */
    gap:0.4rem;
}
/* .profile::after{
    clear:both;
    content:"";
} */
.profile_icon{
    width:2.4rem;
    height:2.4rem;
    /* background:url(../img/img.png) no-repeat center; */
    background:url(../../../../img/img.png) no-repeat center;
}
.profile:last-child{
    font-size:1.4rem;
}

/* 내용 */
.detailContent .subject{
    height:102rem;
}
.detailContent .subjectIcon{
    height:2.4rem;
    display:flex;
    align-items:center;
    justify-content:end;
    margin-bottom:1.6rem;
}
.detailContent .subjectIcon .clip{
    width:1.9rem;
    height:0.908rem;
    background:url(../../../../img/clip.png) no-repeat;
    margin-right:1.6rem;
}
.detailContent .subjectIcon .mapIcon{
    width:1.51rem;
    height:1.844rem;
    background:url(../../../../img/map_icon.png) no-repeat;
}

.detailContent .subjectImg{
    width:40rem;
    height:53.1rem;
    background:url(../../../../img/Tranquil\ Beachside\ Serenity\ 1.png) no-repeat;
}

/* 비디오 */
.videoBg{
    width:128rem;
    height:51.2rem;
    background-color:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
}
.video{
    width:82.2rem;
    height:46.4rem;
    background:url(../../../../img/Frame\ 427323252.png) no-repeat center;
}

/* 좋아요 싫어요 */
.emotion{
    display:flex;
    justify-content:center;
    align-items:center;
    height:4.8rem;
    gap:2.4rem;
    margin-bottom:7.2rem;
    margin-top:2.4rem;
}
.emotion .bad, .emotion .good{
    width:2.4rem;
    height:2.4rem;
    text-align:center;
}
.emotion .badIcon{
    width:2.4rem;
    height:2.4rem;
    background:url(../../../../img/bad.png) no-repeat center;
}
.emotion .good p{
    color:#f66a6a;
}
.emotion .goodIcon{
    width:2.4rem;
    height:2.4rem;
    background:url(../../../../img/good.png) no-repeat center;
}

/* 하단 버튼 */
.bottomBtn{
    height:4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2.4rem;
}
.bottomBtn button{
    border-radius:0.8rem;
}
.bottomBtn button:first-child{
    width:10.5rem;
    height:4rem;
    background:url(../../../../img/list_button.png) no-repeat center;
}
.bottomBtn button:last-child{
    width:10.5rem;
    height:4rem;
    background:url(../../../../img/edit_button.png) no-repeat center;
}