@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PretendarVariable";
  src: url("/fonts/PretendarVariable.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-pretendard);
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

input::placeholder,
textarea::placeholder {
  color: var(--Gray-Gray-400, #ababab);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

button {
  cursor: pointer;
}

hr {
  background: var(--gray-100, #e4e4e4);
  height: 1px;
  border: 0;
}
form {
  display: flex;
  gap: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
