.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: var(--gray-800, #333);
  font-size: 0.75rem;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.required {
  color: var(--red, #f66a6a);
  font-size: 0.75rem;
  font-weight: 600;
}

.rightArrow {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.inputNormal {
  display: flex;
  width: 100%;
  padding: 0.75rem 1rem;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--Gray-Gray-200, #d4d3d3);

  color: var(--gray-B, #000);
  font-size: 0.875rem;
  font-weight: 500;

  &::placeholder {
    color: var(--Gray-Gray-400, #ababab);
    font-size: 0.875rem;
    font-weight: 500;
  }
  &:focus {
    border: 1px solid var(--gray-600, #777);
  }
}

.inputAddress {
  width: 100%;
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--gray-B, #000);
  background: var(--gray-w, #fff);

  color: var(--gray-B, #000);
  font-size: 0.875rem;
  font-weight: 700;
}

.inputAddress::placeholder {
  color: var(--gray-B, #000);
  font-size: 0.875rem;
  font-weight: 700;
}
