/* * {
  box-sizing: border-box;
  background-color: #f8efe8;
} */
/* :root {
  --gray-50: #f2f2f2;
  --gray-800: #333;
  --gray-100: #E4E4E4;
  --gray-300: #C7C7C7;
  --gray-700: #5F5F5F;
  --Gray-Gray-200: #D4D3D3;
  --Gray-W: #FFF;
}
body{
  padding:0;
  margin:0;titleContainer
} */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 1px solid var(--gray-300);;
}
.bigTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--gray-300);
  padding: 60px;
  height: 200px;
  gap: 5px;
}
.bigTitle {
  font-size: 50px;
  font-weight: 500;
  color: var(--gray-800)
}
.subBigTitle {
  font-size: 13px;
  color: var(--gray-700)
}
.titleContainer {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  position: relative;
  top: 0;

  color: var(--gray-700);
  font-size: 14px;
}
.authorDateContainer {
  display: flex;
  gap:5px;
}
.profilebasic {
  width: 24px;
  height: 24px;

}
.authorName {
  margin-left: 3px;
  font-size: 16px;
  color:#000

}
.date {
  font-size: 14px;
}


.title {
  color: var(--gray-800);
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.contentContainer{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  place-items: center;
}
.grid1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid var(--gray-700);
  padding: 20px;
  border-radius: 30px;
  height: 530px;

  align-self: start; /* 그리드 셀의 상단에 위치 */
}

.imgContainer {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
}
.carouselImage {
  width: 550px; /* imgContainer의 너비에 맞춤 */
  height: 100%; /* height를 정사각형으로 고정 */
  aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
  object-fit: cover; /* 이미지 비율을 유지하면서 중앙에 맞춤 */
  justify-content: center;
}

.textContainer {
  font-size: 15px;
  line-height: 25px;
  color: var(--gray-800);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left:30px;
  /* max-height: 550px; */
  align-self: start; /* 상단 정렬 */
  justify-self: start; /* 좌측 정렬 */
}
.textContent {
  overflow: auto;
  overflow-x: hidden;
  
  
}

.carousel-indicators {
  background-color: transparent;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: transparent;
}
.carousel-inner img {
  border-radius: 20px;
}
.iconContainer {
  display: flex;
  width: 100%;
  justify-content:space-between;
  gap: 12px;
  position: relative;
  top: -20px;
}
.iconContainer img {
  width: 28px;
}
.addressContainer {
  width: 100%; /* 필요한 경우 전체 너비 설정 */
  text-align: left; /* 왼쪽 정렬 */
  position: relative;
}

.address {
  margin: 0; /* 여백 제거 */
  padding: 0; /* 여백 제거 */
  text-align: left; /* 왼쪽 정렬 */
  position: absolute;
  top: -35px;
}
.good {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bad{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.videoConatiner {
  margin-top: 120px;
  padding-bottom: 80px;
  /* border-bottom: 1px solid var(--gray-300); */
}
.grayBox {
  background-color: #dcdfe6;
  width: 100%;
  height: 512px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.grayBox img {
  width: 822px;
  height: 464px;
}

.goodBadContainer{
  display: flex;
  gap: 15px;
}
.locationContainer {
  display: flex;
  gap: 15px;
}

.gotoListButton{
  display: flex;
height: 40px;
padding: 8px 12px;
align-items: center;
justify-content: center;
gap: 8px;
border-radius: 8px;
border: 1px solid var(--gray-B, #000);
background: var(--gray-w, #FFF);
}
.buttonIcon {
  width: 24px;
  height: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--gray-300);
  gap:24px
}



/* -----------------댓글부분---------------------*/
.commentContainer {

}
.titil_sm {
  font-size: 20px;
  margin: 20px 0;
}
.rating{
  margin-left: 10px;
  display: flex;
  gap: 8px;

}
.commentInput {
  width: 100%;
  height: 120px;
  resize: none;
  margin: 20px 0;
}
.commentUpload {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--gray-B, #000);

  color: #FFF;
text-align: center;

/* sb_18_24 */
font-family: "Pretendard Variable";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
font-weight: 700;
}
.noComments {
  margin-top: 30px;
  align-self: stretch;
  color: var(--gray-600, #777);
text-align: center;
/* r_14_20 */
font-family: "Pretendard Variable";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.commentList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
}
.profileConatiner{
  display: flex;
}