.input_box input::placeholder,
.input_box textarea::placeholder {
  color: #251a1a;
}

.post_page_body {
  display: flex;
  padding: 40px;
  justify-content: center;
}

.post_page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  justify-content: center;
  gap: 40px;
}

.header {
  width: 100%;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.post_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.writer_box {
  width: 100%;
  display: flex;
  gap: 40px;
}

.error_msg {
  color: #f66a6a;
}

.zipcode_search {
  display: flex;
  gap: 8px;
}

.address {
  display: flex;
  gap: 40px;
}
.address_input {
  display: flex;
  width: 396px;
  flex-direction: column;
  gap: 40px;
}

.input_box_zip_code {
  padding: 12px 16px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
  width: 82px;
}

.upload_group {
  display: flex;
  gap: 16px;
}

.upload_button_group {
  position: relative;
}

.delete_btn {
  position: absolute;
  right: 12px;
  top: 12px;
  display: none;
  cursor: pointer;
}

.upload_button_group:hover .delete_btn {
  display: block;
}

.btn_group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.password_modal_title {
  margin-bottom: 10px;
}

.custom_input {
  padding: 5px;
  border-radius: 4px;
}

.btn_upload {
  cursor: pointer;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.btn_upload input {
  display: none;
}

/* 해시태그 */
.tag_input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}

.tag {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--main-color-back);
  padding: 4px 8px;
  border-radius: 12px;
}

.remove_tag {
  stroke-width: 2.5px;
  cursor: pointer;
  display: inline;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-left: 4px;
}

.remove_tag:hover {
  background-color: white;
}

/* 주소 */
