.Container {
  display: flex;
  justify-content: center;
}
.menuContainer {
  width: 100%;
  padding: 0vw 1vw;
  display: flex;
  align-items: center;
}
.menu {
  font-family: "basic";
  font-size: 45px;
  cursor: pointer;
  margin-right: 10px;
}

.list {
  font-size: 20px;
  margin: 0 15px;
  font-weight: 600;
}
