@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* @font-face {
    font-family: 'pretend'; 
    src: url('/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal; 
    font-style: normal; 
} */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard-Regular';
}

hr {
    margin: 40px 0;
    border: 1px solid var(--gray-200, #d4d3d3);
}
