.login__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.description {
  color: black;
  font-weight: 500;
  font-size: 1.125rem;
}

.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login__description {
  font-weight: 500;
  font-size: 0.875rem;
  color: #333333;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.buttons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.button__login {
  width: 100%;
  height: 3rem;

  padding: 0.75rem 1rem;

  border-radius: 0.5rem;

  background-color: #2974e5;
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
}

.button__signUp {
  color: #333333;
  font-weight: 400;
  font-size: 0.875rem;
}
