.books_write_body {
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: center;
}

.books_write_page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  justify-content: center;
  gap: 40px;
}

.books_write_header {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

.books_write_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
}

.book_info_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book_info_box > input:nth-child(1) {
  width: 400px;
  padding: 12px;
  border-bottom: 1px solid #c7c6c7;
}
.book_info_box > input:nth-child(2) {
  width: 300px;
  padding: 12px;
  border-bottom: 1px solid #c7c6c7;
}
.book_info_box > textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #c7c6c7;
  border-radius: 8px;
}

.book_review_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.book_review_contents {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  padding: 30px;
  background-color: #f9f9f9;
}

.button_area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button_box {
  display: flex;
  justify-content: space-between;
}

.right_button_box {
  display: flex;
  gap: 10px;
}

.cancel_button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
}

/* 책표지 업로드 버튼 */
.upload_button {
  padding: 10px 20px;
  background-color: #55a2d4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.upload_button:hover {
  background-color: #2980b9;
}

.upload_button input[type="file"] {
  display: none;
}

.button {
  padding: 10px 20px;
  background-color: #ff8080;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff5e5e;
}
