* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 0 20px 40px;
}

/* 헤더 */
.CSS_헤더 {
  width: 100%;
}

.CSS_데스크탑헤더 {
  display: block;
}

.CSS_모바일헤더 {
  display: none;
}

.CSS_타이틀 {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #000;
}

.CSS_뒤로가기버튼 {
  width: 2.4rem;
  height: 2.4rem;
}

.CSS_일기수정하는곳 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* 기분 선택 */
.CSS_기분선택 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.CSS_기분선택_타이틀 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #000;
}

.CSS_라디오그룹 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.CSS_라디오버튼 {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.CSS_라디오버튼 > div {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  color: #333;
}

.CSS_라디오버튼 input {
  appearance: none;

  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;

  box-shadow: 0 0 0 0.2rem #999;

  cursor: pointer;

  &:checked {
    background-color: black;
    border: 0.3rem solid #fff;
    box-shadow: 0 0 0 0.2rem black;
  }
}

/* 일기 인풋 */
.CSS_일기수정하기 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: #333;
}

.CSS_수정입력 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.CSS_인풋라벨 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: #333;
}

#HTML_일기수정제목입력창,
#HTML_일기수정내용입력창 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #d4d3d3;
}

/* 수정 버튼 영역 */
.CSS_수정버튼영역 {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.CSS_버튼 {
  width: 10.4rem;
  height: 4.8rem;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  cursor: pointer;
}

.CSS_취소버튼 {
  border: 0.1rem solid #000;
  background-color: #fff;
  color: #1c1c1c;
}

.CSS_수정하기버튼 {
  background-color: #000;
  color: #f2f2f2;
}

.CSS_수정하기버튼:hover {
  transform: skew(-10deg, 0deg);
}

.CSS_수정구분선 {
  width: 100%;
  border-bottom: 0.1rem solid #000;
}

/* 회고 */
.CSS_회고제목 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.CSS_회고입력영역 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.CSS_회고수정입력부분 {
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  width: 95%;
  padding: 1.2rem 1.6rem;
  height: 4.8rem;
}

.CSS_회고수정입력버튼 {
  background-color: #c7c7c7;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #f2f2f2;
  width: 5%;
  height: 4.8rem;
}

.CSS_회고목록 {
  display: flex;
  border-bottom: 0.1rem solid #e4e4e4;
  padding: 1.2rem;
}

.CSS_회고목록_내용영역 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.CSS_회고목록_날짜영역 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #777;
  padding-left: 1.2rem;
}

.CSS_회고목록_마지막 {
  display: flex;
  padding: 1.2rem;
}

/* 반응형 */
@media (max-width: 849px) {
  body {
    gap: 4rem;
  }

  .CSS_데스크탑헤더 {
    display: none;
  }

  .CSS_모바일헤더 {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .CSS_기분선택_타이틀 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .CSS_라디오그룹 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .CSS_라디오버튼 > div {
    font-size: 1.6rem;
  }

  .CSS_인풋라벨 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  #HTML_일기수정제목입력창,
  #HTML_일기수정내용입력창 {
    font-size: 1.4rem;
  }

  .CSS_취소버튼,
  .CSS_수정하기버튼 {
    height: 4rem;
    font-size: 1.6rem;
  }

  .CSS_회고수정입력부분 {
    width: 80%;
  }

  .CSS_회고수정입력버튼 {
    width: 20%;
  }

  .CSS_회고목록_내용영역 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
  }

  .CSS_회고목록_날짜영역 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
