

.layout {
        width: 120rem;
        height: 141rem ;
        display: flex;
        justify-content: center;
        align-items: center;

}
.detailMain {
    width: 80rem;
    height: 136rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;
}

.title {
    width: 100%;
    height: 4.5rem;
    font-size: 28px;
    margin-bottom: 28px;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.userProfile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.userName, .date {
    font-size: 14px;
}

.iconWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    padding-top: 24px;
 
  
}

.linkIcon, .mapIcon {
   
    margin-left: 8px;
}

.section {
    margin-top: 50px;
}

.contentImg {
    width: 100%;
    height: auto;
     margin-bottom: 16px;
 }
.contentText {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    font-size: 1rem;
    font-weight: 400;
}

.playArea {
    width: 100%;
    display: flex;
    flex-direction: column;
 padding: 1.5rem 0;
    align-items: center;
    background-color: #f2f2f2;
    gap:24px;
}

.playImg {
    margin-top: 24px;
    margin-bottom: 24px;
}

.likeCount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icon {
    width:24 ;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px

}

.buttonWrapper {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    align-self: stretch;
    margin-bottom: 40px;
}

.listBtn, .editBtn {
    width: 105px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
}

