*{
    margin:0;
    text-decoration: none;
    color:#000;
    background-color:#fff;
    font-size:62.5%;
}
.detail{
    width:192rem;
}
.detail .name{
    width:116.8rem;
    height:6rem;
    font-size:1.8rem;
    font-weight:700;
    text-align:center;
    line-height:6rem;
}