*{
    margin:0;
    /* height:100vh; */
    text-decoration: none;
    color:#000;
    font-size:62.5%;
}
.top_scroll{
    width:4rem;
    height:4rem;
    background:url(../img/topscroll\ fab.png) no-repeat center;
    position:fixed;
    bottom:7rem;
    right:68rem;
    cursor:pointer;
    border:none;
}

header{
    display:flex;
    justify-content:center;
    margin-top:10rem;
    /* width:1920px;
    height:164px; */
    /* background-color:#000; */
}
header h1{
    width:192rem;
    height:16.4rem;
    background-color:#000;
    text-align:center;
    color:#fff;
    line-height: 16.4rem;
    border-radius:2.4rem;
    font-size:8rem;
}

.content{
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.content .name{
    width:116.8rem;
    height:4rem;
    margin:2rem 0;
}
.name b{
    line-height:4rem;
    font-size:1.8rem;
    /* background-color: #000; */
}
.content .banner{
    width:192rem;
    height:24rem;
    /* background-color:#000; */
    display:flex;
    justify-content:center;
}
.content .banner .banner_img{
    width:116.8rem;
    height:24rem;
    background-image:url(../img/Rectangle\ 1.png);
    background-size:116.8rem 24rem;
    border-radius:2.4rem;
}

.content .select_bg{
    width:192rem;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.content .select{
    width:116.8rem;
    height:4.8rem;
    line-height:4.8rem;
    margin:3rem 0;
}
.content .select a{
    font-size:2.4rem;
    text-decoration:none;
}
.content .select a.seleted{
    color:#000;
    text-decoration: none;
    border-bottom:0.2rem solid #000;
}
.content .select a:last-child{
    margin-left:2rem;
}
.content .select .no_select{
    color:#ababab;
}

.content .diary_select_bg{
    width:192rem;
    height:3.2rem;
    padding:0 2rem;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom:3rem;
}
.content .diary_select_bg .diary_select{
    width:116.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}
.content .diary_select_bg .diary_select select{
    width:12rem;
    height:3.2rem;
    border-radius:0.8rem;
    border:0.1rem solid #C7C7C7;
    padding:0.4rem;
    font-size:1.6rem;
}
.d_change_color{
    filter: invert(1);
}

/* 일기쓰기 버튼 */
.write_btn{
    width:12rem;
    height:4.8rem;
    border-radius:0.8rem;
    padding:0.8rem 1rem 0.8rem 1rem;
    background-color:#000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;
    /* flex-wrap:wrap; */
}
.write_btn .write_img{
    width:2.4rem;
    height:2.4rem;
    background:url(../img/add_24dp_5F6368_FILL1_wght400_GRAD0_opsz24\ 1.png) no-repeat center;
}

.write_btn p{
    /* width:6.2rem; */
    height:2.4rem;
    line-height:2.4rem;
    color:#fff;
    font-size:1.8rem;
    background:transparent;
}

.diary{
    width:116.8rem;
    height:116.7rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.diary_bg{
    width:78.4rem;
    height:37.3rem;
    display:flex;
    flex-wrap:wrap;
    gap:1.6rem;
}
.content_bg{
    width:38rem;
    height:37.3rem;
    border-radius:1.6rem;
    padding:0 0 1.6rem 0;
}
.content_bg:hover{
    transform:scale(1.1);
    transition-duration:0.5s;
}
.diary_close{
    position:absolute;
    width:1.315rem;
    height:1.315rem;
    background:url(../img/close\ icon.png) no-repeat center;
}
.content_title{
    display:flex;
    justify-content:space-between;
    padding:0.8rem;
}
.content_title .happy{
    color:#EA5757;
    font-size:1.4rem;
    font-weight:600;
}
.content_title .sad{
    color:#28B4E1;
    font-size:1.4rem;
    font-weight:600;
}
.content_title .surp{
    color:#D59029;
    font-size:1.4rem;
    font-weight:600;
}
.content_title .angry{
    color:#777;
    font-size:1.4rem;
    font-weight:600;
}
.content_title .etc{
    color:#A229ED;
    font-size:1.4rem;
    font-weight:600;
}
.content_bg .diary_date{
    font-size:1.4rem;
    font-weight:400;
    line-height:2.4rem;
    color:#919191;
}
.content_bg .diary_title{
    font-size:1.8rem;
    font-weight:700;
    line-height:2.4rem;
    padding:0 0.8rem 0 0.8rem;
}

/* 모달 */
.modal_group{
    display:none;
    position:absolute;
    top:0;
    left:0;
    /* background-color:gray;
    opacity: 50%; */
} 
.modal_bg{
    width:100vw;
    height:100vh;
    background-color:gray;
    opacity:50%;
}

.write_bg{
    width:36rem;
}
.write{
    border:0.1rem solid #D4D3D3;
    border-radius:1.6rem;
    padding:2.4rem;
    height:60.4rem;
    position:absolute;
    width:65rem;
    height:56rem;
    top:calc(50% - 56rem/2);
    left:calc(50% - 64rem/2);
    background-color:#fff;
}
.write .em_title p{
    font-size:2rem;
    font-weight:600;
    width:31.2rem;
    height:2.4rem;
    gap:0.8rem;
    margin:2rem 0;
}
.write .em_menu{
    width:59.2rem;
    height:2.4rem;
    display:flex;
    flex-wrap:wrap;
}
.write .em_menu div{
    width:9.4rem;
    height:2.4rem;
}
.write .em_menu div input{
    margin-right:0.5rem;
}
.write .em_menu div label{
    font-size:1.8rem;
}
.write .write_title{
    width:31.2rem;
    height:7.6rem;
}
.write .write_title p{
    font-size:1.4rem;
    margin:2rem 0;
}
.write .write_title input{
    width:59.2rem;
    height:4.8rem;
    border-radius:0.8rem;
    border:0.1rem solid #D4D3D3;
    padding-left:1rem;
    /* text-align:center; */
    font-size:1.6rem;
}
.write .write_memo p{
    font-size:1.4rem;
    margin:2rem 0;
}
.write .write_memo textarea{
    width:59.2rem;
    height:12.8rem;
    border-radius:0.8rem;
    border:0.1rem solid #D4D3D3;
    padding:1rem;
    /* line-height:12.8rem; */
    /* text-align:center; */
    font-size:1.6rem;
}
.write_modal_btn{
    display:flex;
    justify-content:center;
}
.write .modal_close button{
    width:10.4rem;
    height:4.8rem;
    border-radius:0.8rem;
    padding:0.8rem 1rem 0.8rem 1rem;
    border:1px solid #000;
    background-color:#fff;
    margin-top:3rem;
    color:#000;
    font-size:1.8rem;
    font-weight:600;
    cursor:pointer;
}
.write .regi_btn{
    margin-left:10px;
}
.write .regi_btn button{
    width:10.4rem;
    height:4.8rem;
    border-radius:0.8rem;
    padding:0.8rem 1rem 0.8rem 1rem;
    border:none;
    background-color:#c7c7c7;
    margin-top:3rem;
    color:#f2f2f2;
    font-size:1.8rem;
    font-weight:600;
    cursor:pointer;
}

.regi_modal_group{
    /* display:none; */
    position:absolute;
    top:0;
    left:0;
}
.regi_modal_bg{
    width:100vw;
    height:100vh;
    background-color:gray;
    opacity:50%;
}
.regi_modal{
    width:48rem;
    height:20rem;
    position:absolute;
    top:calc(50% - 48rem / 2);
    left:calc(50% - 20rem / 2);
    background-color:#fff;
}

footer{
    display: flex;
    justify-content:center;
    height:16rem;
}
footer .ft_bg{
    width:100vw;
    /* height:160px; */
    border-radius:0.1rem 0 0 0;
    padding:2.4rem 2rem 2.4rem 2rem;
    background-color:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
}
footer .ft_bg p{
    background:#f2f2f2;
    padding:1.7rem 0;
}
footer .ft_bg .ft_title{
    font-size:2rem;
    font-weight:700;
    line-height:1.6rem;
}
footer .ft_bg p:nth-child(2){
    font-size:1.4rem;
    font-weight:400;
    color:#5f5f5f;
}
footer .ft_bg p:nth-child(3){
    font-size:1.4rem;
    font-weight:300;
    color:#919191;
}


@media (max-width:1208px) {
    footer p{
        justify-content:left;
    }
}