:root {
  font-size: 16px; /* 기본 폰트 크기를 16px로 가정 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  padding-bottom: 18.75rem; /* 300px */
  max-width: 100vw;
}

/* 헤더 */
header {
  width: 100%;
  height: 3.75rem; /* 60px */
  background-color: aliceblue;
  margin-bottom: 1.5rem; /* 24px */
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 73rem; /* 1168px */
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  margin-left: 0.3125rem; /* 5px */
  text-decoration: none;
  color: #000000;
}

/* 메인 */
main {
  width: 100%;
  height: auto;
  background-color: bisque;
}

.banner-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-area img {
  width: 100%;
  max-width: 73rem; /* 1168px */
  height: auto;
  max-height: 15rem; /* 240px */
}

.all-contents-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem; /* 10px */
}

.contents {
  width: 100%;
  max-width: 73rem; /* 1168px */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigate {
  background-color: beige;
  width: 100%;
  height: 3.75rem; /* 60px */
  display: flex;
  gap: 0.625rem; /* 10px */
  align-items: center;
  padding: 0.9375rem; /* 15px */
  flex-wrap: wrap;
  justify-content: center;
}

.diary,
.photo {
  width: 7.4375rem; /* 119px */
  height: 3rem; /* 48px */
  padding: 0.75rem 0.5rem; /* 12px 8px */
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 1.5rem; /* 24px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-area {
  width: 100%;
  height: auto;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album-wrap {
  width: 100%;
  max-width: 43.75%; /* 70% */
  background-color: #919191;
}

#filterBox {
  width: 100%;
  height: 2.5rem; /* 40px */
}

.filter {
  width: 7rem; /* 112px */
  height: 1.5rem; /* 24px */
  border-radius: 0.5rem; /* 8px */
  border: 1px solid #a2a2a2;
}

#library {
  width: 100%;
  max-width: 49rem; /* 784px */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem; /* 24px */
}

.one-album {
  width: 100%;
  max-width: 23.75rem; /* 380px */
  height: 23.3125rem; /* 373px */
  border-radius: 1rem; /* 16px */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}

.thumbnail {
  width: 100%;
  max-width: 23.75rem; /* 380px */
  height: 17.8125rem; /* 285px */
  border-radius: 1rem; /* 16px */
  overflow: hidden;
  margin-bottom: 0.9375rem; /* 15px */
}

.album-text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
  width: 100%;
  max-width: 22.75rem; /* 364px */
}

.album-text-up {
  display: flex;
  justify-content: space-between;
}

.feeling {
  color: #28b4e1;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}

.date {
  color: #919191;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
}

.title {
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  line-height: 1.5rem; /* 24px */
}

.write-area {
  width: 100%;
  max-width: 18.75%; /* 30% */
  height: 37.75rem; /* 604px */
  background-color: violet;
  border-radius: 1rem; /* 16px */
  padding: 1.5rem; /* 24px */
  border: 1px solid #d4d3d3;
  position: relative;
}

.write-title-area {
  width: 100%;
  height: 1.875rem; /* 30px */
}

.write-title {
  font-size: 1.5rem; /* 24px */
  line-height: 1.5rem; /* 24px */
  font-weight: 700;
}

.hows-feeling-area {
  width: 100%;
  height: 9.875rem; /* 158px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem; /* 20px */
  padding: 0 0.625rem; /* 10px */
}

.feeling-title {
  font-size: 1.375rem; /* 22px */
  font-weight: 600;
  line-height: 1.5rem; /* 24px */
}

.feeling-choose {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.25rem; /* 20px */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* 8px */
  color: #333333;
}

.text-area {
  width: 100%;
  height: 17.5rem; /* 280px */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.25rem; /* 20px */
  padding: 0 0.625rem; /* 10px */
}

.text-area-title {
  display: flex;
  gap: 0.3125rem; /* 5px */
  flex-direction: column;
}

.text-area-title div {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.25rem; /* 20px */
  color: #333333;
}

.text-area-title input {
  width: 100%;
  max-width: 18.125rem; /* 290px */
  height: 3rem; /* 48px */
  border-radius: 0.5rem; /* 8px */
  border: 1px solid #d4d3d3;
  outline: none;
  padding: 0.75rem 1rem; /* 12px 16px */
}

.text-area-text {
  display: flex;
  gap: 0.3125rem; /* 5px */
  flex-direction: column;
}

.text-area-text div {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.25rem; /* 20px */
  color: #333333;
}

.text-area-text textarea {
  width: 100%;
  max-width: 18.125rem; /* 290px */
  height: 8rem; /* 128px */
  border-radius: 0.5rem; /* 8px */
  border: 1px solid #d4d3d3;
  padding: 0.75rem 1rem; /* 12px 16px */
  resize: none;
  outline: none;
}

.button-area {
  width: 100%;
  height: 6.25rem; /* 100px */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem; /* 12px */
}

.button-area button {
  border-radius: 0.5rem; /* 8px */
  border: none;
  background-color: #c7c7c7;
  color: #f2f2f2;
  width: 19.5rem; /* 312px */
  height: 3rem; /* 48px */
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.5rem; /* 24px */
}

.photo-area {
  width: 100%;
  height: auto;
  background-color: aquamarine;
}

.tab__item {
  cursor: pointer;
}

.tab__item.active {
  display: inline-block;
  border-bottom: 0.125rem solid black; /* 2px */
}

.tab__content {
  display: none;
}

.tab__content.active {
  display: block;
}

.scroll-up {
  position: sticky;
  width: 2.6875rem; /* 43px */
  top: 79.375rem; /* 1270px */
  left: 95%;
  cursor: pointer;
  z-index: 1;
}

/* 미디어쿼리(반응형) */
@media (max-width: 1200px) {
  .album-wrap {
    order: 1;
  }
  .header-content {
    width: 95%;
    max-width: 100%;
  }

  .banner-area img {
    height: auto;
  }

  .contents {
    width: 95%;
  }

  .one-album {
    max-width: 100%;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }

  .write-area {
    max-width: 25%;
    order: 2;
  }

  #library {
    gap: 1rem; /* 16px */
  }

  .button-area button {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .header-content {
    font-size: 1rem; /* 16px */
  }

  .write-area {
    max-width: 31.25%; /* 50% */
  }
}

@media (max-width: 767px) {
  .banner-area {
    min-width: 47.9375rem; /* 767px */
  }

  .album-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .album-wrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    background-color: yellow;
  }

  .write-area {
    max-width: 100%;
  }
}
