@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --main-color: #ce5f5f; */
  /* --main-color-hover: #cb4747;
  --main-color-back: #fff5f5; */

  /* --main-color: #00af98;
  --main-color-hover: #00917e;
  --main-color-back: #e6fffb; */

  --main-color: #1ca673;
  --main-color-hover: #00917e;
  --main-color-back: #f2f2f2;
  --gray: #757575;
  --border: #d4d3d3;
  /* --sub-color:  */
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
}

hr {
  border: none;
  height: 1px;
  background-color: #e4e4e4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn_white {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  background: white;
  font-size: 18px;
  font-weight: 600;
}

.btn_basic {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: black;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.btn_blue {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #ff6f61;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.btn_basic_disabled {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #c7c7c7;
  color: #e4e4e4;
  border: none;
  font-size: 18px;
  font-weight: 600;
}
