@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

hr {
    margin: 40px 0;
    border: 1px solid var(--gray-200, #d4d3d3);
}

img {
    margin-right: 10px;
    /* border-radius: 8px; */
}
