.main {
  width: 500px;
  height: 1000px;
  border: 3px solid black;
  border-radius: 70px;
  position: relative; /* 추가 */
}

.topStatusbar {
  width: 95%;
  height: 60px;
  border-radius: 100px;
  z-index: 1; /* 자식의 z-index를 더 높이기 */
  position: absolute; /* 추가로, top에 고정시킬 수 있음 */
  top: 12px; /* 상단에 고정 */
  left: 12px;
  /* border: 1px solid red; */
}

.topbar {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  gap: 200px;
}
