.comment_list_body {
  display: flex;
  justify-content: center;
}

.comment_list {
  display: flex;
  width: 1280px;
  flex-direction: column;
}

.comment_box {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 8px;
  border-bottom: solid 1px #e4e4e4;
}

.comment_header {
  display: flex;
  justify-content: space-between;
}

.comment_box:last-child {
  border-bottom: none;
}

.user_info {
  display: flex;
  gap: 8px;
  color: var(--gray-700, #5f5f5f);
  font-size: 14px;
  font-weight: 300;
}

.user_info > :first-child {
  display: flex;
  gap: 4px;
}

.btn_box {
  display: flex;
  gap: 8px;
}

.contents_box {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.date_box {
  color: #818181;
  font-size: 14px;

  font-weight: 400;
}

.no_comments {
  color: #777;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
}
