* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}



.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1920px;
    height: 60px;
    padding-left: 376px;
    padding-right: 376px;
}

.header_text {
    width: 1168px;
    height: 60px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.header_logo {
    width: 120px;
    height: 40px;
    gap: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #000000;
}

.body {
    width: 1920px;
    height: 1521px;
    gap: 24px;
    padding-left: 376px;
    padding-right: 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_part {
    width: 1920px;
    height: 240px;
    gap: 10px;
}

.navigator_part {
    width: 1168px;
    height: 48px;
    gap: 16px;
}

.navigator_tap1 {
    width: 119px;
    height: 48px;
    padding-top: 12px;
    padding-left: 8px;
    gap: 10px;
    border-bottom: 2px solid #000000;
    background-color: white;
}

  /* body {
    height: 100vh;
}

.CSS_일기쓰기영역 {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 604px;
    border-radius: 16px;
    padding: 24px;
    gap: 40px;
    background-color: white;
    border: 1px solid #d4d3d3;
    
    
} */