.commentListBox {
    width: 1358px;
    height: 80px;
    border-bottom: 1px solid #c7c6c7;
    padding: 100px;
    margin: 0 auto;
}

.commentListBoxHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentListBoxHeaderLeft,
.commentListBoxHeaderRight {
    display: flex;
    gap: 20px;
}
