.board_list {
  display: flex;
  min-width: 1280px;
  padding: 24px 48px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8ps;

  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

.header_box {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;

  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
}

.header_box > div:nth-child(1) {
  display: flex;
  width: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header_box > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.header_box > div:nth-child(3) {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header_box > div:nth-child(4) {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list_box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.board_box {
  position: relative;
  display: flex;
  width: 100%;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-50, #f2f2f2);

  font-size: 14px;
  font-weight: 300;
}

.board_box:hover {
  cursor: pointer;
}

.board_box > div:nth-child(1) {
  display: flex;
  width: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #919191;
}

.board_box > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  color: #1c1c1c;
  font-weight: 500;
}

.board_box > div:nth-child(3) {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #333;
}

.board_box > div:nth-child(4) {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #919191;
}

.delete_btn_box_hover {
  position: absolute;
  display: block;
  right: 8px;
  /* 세로 가운데 정렬 */
  top: 50%;
  transform: translateY(-50%);
}

.delete_btn_box {
  position: absolute;
  display: none;
  right: 8px;
  /* 세로 가운데 정렬 */
  top: 50%;
  transform: translateY(-50%);
}

.delete_btn {
  display: block;
}
