* {
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

nav {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration-line: none;
}

nav div {
  display: flex;
  height: 60px;
  width: 1168px;
  min-width: 320px;
  max-width: 1168px;
  align-items: center;
}

nav div span {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  letter-spacing: -0.18px;
}
.상단사진 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.상단사진 img {
  height: 240px;
  min-width: 320px;
  max-width: 1168px;
}

footer {
  display: flex;
  padding: 24px 20px;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  background: var(--Gray-Gray-50, #f2f2f2);
}

.ft_box {
  display: flex;
  width: 1168px;
  max-width: 1168px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.ft_box_name {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 80% */
  letter-spacing: -0.2px;
}

.ft_box_대표 {
  color: var(--Gray-Gray-700, #5f5f5f);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}
.ft_box_cpr {
  color: var(--Gray-Gray-500, #919191);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}
