.card__container {
  width: 100%;
  max-width: 18.5rem;
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  border-radius: 0.5rem;

  cursor: pointer;

  position: relative;
}

.card__container:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.bookmark__container {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;

  border-radius: 0.5rem;
  background-color: #00000066;
  box-shadow: 0px 0px 8px 0px #00000040;

  color: white;
  font-weight: 500;
  font-size: 0.875rem;

  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.middle__container {
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  color: #333333;
  font-weight: 500;
  font-size: 1rem;
}

.remark {
  color: #5f5f5f;
  font-weight: 400;
  font-size: 0.875rem;
}

.tags {
  color: #2974e5;
  font-weight: 400;
  font-size: 0.875rem;
}

.profile__container {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.bottom__container {
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  justify-content: space-between;

  text-wrap: nowrap;
}

.price {
  color: #1c1c1c;
  font-weight: 600;
  font-size: 1rem;
}
