/* Pagination.module.css */
.listContainer {
  display: flex;
  justify-content: center;
  margin: 60px;
}
.pagination {
  display: flex;
  gap: 10px;
}

.pageButton {
  width: 40px;
  height: 40px;
  cursor: pointer;

  outline: none;
  margin: 10px;

  font-weight: 700;
}

.pageButton:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* 버튼이 클릭된 후 포커스될 때 적용할 스타일 */
.pageButton:focus {
  background-color: rgb(214, 214, 214);
  color: white;
  border-radius: 10px;
}

.active {
  border-bottom: 2px solid #ccc;
}

.container {
  gap: 10px;
}
