.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.left {
  width: 24px;
  height: 24px;
}

.rigth {
  width: 24px;
  height: 24px;
}

.paginationNumber {
  display: flex;
  gap: 16px;
}

.number {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--Gray-Gray-600, #777);
  text-align: center;
  line-height: 24px; /* 150% */
}
