.post_list {
  width: 120rem;
  height: 100%;
  padding: 4rem;
  margin: 2rem;
  border-radius: 1.6rem;
  box-shadow: 0rem 1rem 2rem 0rem #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label_wrapper,
.post_wrapper {
  display: flex;
  align-items: center;
  width: 100rem;
  height: 6rem;
  gap: 0.8rem;
  padding: 1rem 2rem;
  margin: 1rem 0rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.8rem;
}

.label_wrapper {
  border: none;
  box-shadow: none;

  .idx,
  .title,
  .author,
  .date {
    font-size: 2rem;
  }
}

.post_wrapper {
  .idx,
  .title,
  .author,
  .date {
    color: #767676;
  }
  .date {
    font-size: 1.2rem;
  }
}

.idx,
.title,
.author,
.date,
.bin {
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  text-wrap: balance;
}

.title {
  width: 100%;
  flex-shrink: unset;
  justify-content: flex-start;
}

.post_wrapper:hover {
  background-color: #ffbe98;
  border: none;

  .idx,
  .title,
  .author,
  .date {
    color: #fff;
  }
  .btn {
    display: block;
  }
}

.btn {
  content: "";
  width: 3.6rem;
  height: 3.6rem;
  display: none;
  flex-shrink: 0;
  border-radius: 0.8rem;
  margin: 1rem;
  background-color: #eee;
  background-image: url(../../../public/svg/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(120%);
}

.post_wrapper {
  transition: 0.2s;
  transition-timing-function: ease-out;
}
