/*
 * {
    box-sizing : boer-box
 }
위의 css로 설정안해줘도 태일윈드에 기본적으로 내장되어있음 (@tailwind base;)*/

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 내가 만드는 css추가 */
@layer utilities {
    .철수의상자 {
        color: green;
        font-size: 30px;
    }
    .영희의상자 {
        color: blue;
        font-size: 30px;
    }

    *{
        font-family: var(--글로벌폰트변수);
    }
}


