@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* Typography */

:root {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #000;
  font-size: 10px;
}

*::placeholder,
textarea {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Variables */

:root {
  --gray-w: #fff;
  --gray-50: #f2f2f2;
  --gray-100: #e4e4e4;
  --gray-200: #d4d3d3;
  --gray-300: #c7c7c7;
  --gray-400: #ababab;
  --gray-500: #919191;
  --gray-600: #777777;
  --gray-700: #5f5f5f;
  --gray-800: #333333;
  --gray-900: #1c1c1c;
  --gray-b: #000;
  --red: #f66a6a;
  --accent-blue: #2974e5;
  --gap: 4rem;
  --gap-4: 0.4rem;
  --gap-8: 0.8rem;
  --gap-12: 1.2rem;
  --gap-16: 1.6rem;
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
}

/* Commons */

.border-b {
  border-bottom: 1px solid var(--gray-100);
  padding-bottom: var(--gap);
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.gap-8 {
  gap: var(--gap-8);
}

.gap-16 {
  gap: var(--gap-16);
}

.required label::after {
  content: '*';
  color: var(--red);
  margin-left: var(--gap-4);
}

.button-common {
  width: fit-content;
  height: 48px;
  border-radius: 8px;
  padding: 0 var(--gap-16);
}

.button-common.disabled {
  cursor: not-allowed;
}

.button-fill-type.bg-gray {
  color: var(--gray-100);
  background-color: var(--gray-300);
}

.button-fill-type.bg-blue {
  color: var(--gray-w);
  background-color: var(--accent-blue);
}

.button-border-type {
  border: 1px solid var(--gray-b);
}

.error-message {
  color: var(--red);
}

/* Components */

.app-register {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  font-size: 1.6rem;
  font-weight: var(--weight-medium);
}

.register-form > div {
  padding-top: var(--gap);
}

.form-title {
  font-size: 2rem;
  font-weight: var(--weight-bold);
}

.width-50 {
  gap: var(--gap);
}

.width-50 > div {
  width: 50%;
}

.register-form input[type='text'],
.register-form input[type='password'],
.register-form textarea {
  max-width: 100%;
  min-height: 48px;
  padding: var(--gap-12) var(--gap-16);
  border: 1px solid var(--gray-200);
  border-radius: 12px;
}

.register-form textarea {
  min-height: 336px;
}

*::placeholder {
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  color: var(--gray-400);
}

.button-upload {
  width: 16rem;
  height: 16rem;
  justify-content: center;
  align-items: center;
  gap: var(--gap-16);
  color: var(--gray-600);
  background-color: var(--gray-50);
  border-radius: 8px;
  cursor: pointer;
  font-weight: var(--weight-medium);
}
