.main {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.title {
  width: 1000px;
  margin: 40px 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputText {
  color: var(--gray-800, #333);

  font-weight: 500;
  line-height: 24px; /* 150% */
}

.inputStar {
  margin-left: 4px;
  color: var(--red, #f66a6a);

  font-weight: 500;
  line-height: 24px; /* 150% */
}

.input {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  line-height: 24px; /* 150% */
}

.underLine {
  margin: 40px 0;
  height: 1px;
  background: var(--gray-100, #e4e4e4);
}

.editerSection {
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  line-height: 24px; /* 150% */
  height: 477px;
}

/* 여기부터 주소 css */
.addressSection {
  width: 100%;
  display: flex;
  gap: 40px;
}

.addressSectionLeft {
  width: 364px;
  height: 100%;
}

.adressZipcode {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.adressZipcodeInput {
  width: 80px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);

  text-align: center;
  line-height: 24px; /* 150% */
}

.adressZipcodeBtn {
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-B, #000);

  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.addressDetailInput {
  width: 100%;
  margin-bottom: 40px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);

  line-height: 24px; /* 150% */
}

.coordinateArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.coordinateSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.coordinateInput {
  padding: 12px 16px;
  border-radius: 8px;
  background: var(--gray-100, #e4e4e4);

  line-height: 24px; /* 150% */
}

.addressMap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 93%;
  flex-shrink: 0;
  background: var(--gray-100, #e4e4e4);
  border-radius: 16px;
  border: 1px solid var(--gray-100, #e4e4e4);
}

.addressMap span {
  color: var(--gray-600, #777);
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.imageArea {
  margin-bottom: 40px;
}

.imageSection {
  display: flex;
  gap: 10px;
}

.moreImgBox {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  background: var(--gray-50, #f2f2f2);
}

.addImageBox {
  display: flex;
  width: 160px;
  height: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  background: var(--gray-50, #f2f2f2);
}

.plusIcon {
  color: #777777;
  font-size: 27px;
  margin-bottom: 8px;
}

.addText {
  color: var(--gray-600, #777);
  line-height: 24px; /* 150% */
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.cancelBtn {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--gray-B, #000);
  text-align: center;

  font-size: 18px;

  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.submitBtn {
  height: 48px;
  margin-bottom: 40px;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 8px;
  background: var(--gray-300, #c7c7c7);

  color: var(--gray-100, #e4e4e4);
  text-align: center;
  font-size: 18px;

  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
