* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.배경 {
  background: url(./img-bg@3x\ 1.png) lightgray 50% / cover no-repeat;
  width: 640px;
  height: 1138px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.메인로고 {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
  align-items: center;
  margin-top: 224px;
}

.메인로고 span {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.이메일비번상자 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-top: 144px;
}

input {
  width: 540px;
  height: 37px;
  padding-bottom: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7d7d7d;

  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.인풋상자 {
  position: relative;
}

.인풋상자:first-child {
  margin-bottom: 18px;
}

.인풋상자 img {
  position: absolute;
  top: 8px;
  right: 1px;

  width: 20px;
  height: 20px;

  cursor: pointer;
}

button {
  width: 540px;
  height: 76px;
  border-radius: 38px;

  font-family: "Noto Sans KR";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.로그인버튼 {
  background-color: rgba(255, 27, 109, 0.6);
  color: #fff;
}

.회원정보찾기상자 {
  display: flex;
  margin-top: 38px;
  margin-bottom: 58px;
  justify-content: center;
}
.회원정보찾기상자 span {
  width: 184px;
  height: 21px;
  text-align: center;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.회원정보찾기상자 span:nth-of-type(2) {
  border-left: 2px solid #9f9f9f;
  border-right: 2px solid #9f9f9f;
}

.카카오로그인버튼 {
  display: flex;
  gap: 29.55px;
  justify-content: center;
  align-items: center;

  border: 2px solid #fae100;
  background-color: rgba(255, 255, 255, 0);
  color: #ffe100;
  font-family: "Noto Sans KR";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.에러메시지 {
  color: #ff1b6d;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-top: 5px;
}
