:root {
  --기본글자색: #000;
  --기본배경색: #fff;
  --라디오글자색: #333;
  --인풋배경색: #fff;
  --인풋플레이스홀더색: #ababab;
  --인풋보더색: #d4d3d3;
  --닫기버튼보더색: #000;
  --닫기버튼배경색: #fff;
  --등록하기버튼글자색: #f2f2f2;
  --등록하기버튼배경색: #000;
  --등록완료버튼글자색: #fff;
  --등록완료버튼배경색: #000;
  --등록완료모달글자색: #333;
}

[다크모드="on"] {
  --기본글자색: #fff;
  --기본배경색: #1c1c1c;
  --라디오글자색: #c7c7c7;
  --인풋배경색: #000;
  --인풋플레이스홀더색: #777;
  --인풋보더색: #333;
  --닫기버튼보더색: #5f5f5f;
  --닫기버튼배경색: #1c1c1c;
  --등록하기버튼글자색: #000;
  --등록하기버튼배경색: #f2f2f2;
  --등록완료버튼글자색: #000;
  --등록완료버튼배경색: #fff;
  --등록완료모달글자색: #d4d3d3;
}
