.CSS_메인 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CSS_일기보여주는곳 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  order: 2;
}

.CSS_일기사진 {
  width: 100%;
}

.CSS_일기 {
  max-width: none;
}

.CSS_필터_영역_배경 {
  flex-wrap: wrap;
}

.CSS_필터_영역 {
  order: 2;
}

CSS_서치바_영역 {
  order: 1;
}

.CSS_일기쓰기버튼_영역 {
  order: 3;
}

.CSS_등록상자 {
  top: calc(50% - 48rem / 2);
  left: calc(50% - 32rem / 2);
  width: 32rem;
  height: 48rem;
}

.CSS_등록상자_내부 {
  overflow-y: auto;
  gap: 2.4rem;
}

.CSS_등록상자_제목 {
  font-size: 2rem;
}

.CSS_등록상자_기분_타이틀 {
  font-size: 1.6rem;
  line-height: 2rem;
}

.CSS_라디오그룹 {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1.2rem;
  padding-left: 0.2rem;
}

.CSS_라디오버튼 > div {
  font-size: 1.6rem;
  line-height: 2rem;
}

.CSS_인풋라벨 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#HTML_제목입력창,
#HTML_내용입력창 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.CSS_등록완료상자,
.CSS_등록삭제상자,
.CSS_등록취소상자 {
  top: calc(50% - 20rem / 2);
  left: calc(50% - 32rem / 2);
  width: 32rem;
  height: 20rem;
}

.CSS_등록취소제목,
.CSS_등록완료제목,
.CSS_일기삭제제목 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}

.CSS_등록취소내용,
.CSS_등록완료내용,
.CSS_일기삭제내용 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6em;
}

.CSS_등록취소버튼영역 {
  gap: 1.6rem;
}

.CSS_모달_닫기버튼,
.CSS_모달_등록하기버튼,
.CSS_모달_등록취소버튼 {
  width: 10.4rem;
  height: 4rem;
  font-size: 1.6rem;
}

.CSS_모달_등록완료버튼 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}
