.availableAccommodations__container {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
