:root {
  --basic-font-color: #000; // #fff
  --basic-bg-color: #fff; // #000

  --input-border-color: #c7c7c7; // #777
  --input-bg-color: #fff; // #1c1c1c
  --input-font-color: #000; // #fff
  --input-placeholder-color: #ababab; // #777

  --popup-bg-color: #fff; // #333

  --list-border-color: #fff; //#f5f5f5

  --button-white-btn-bg: #fff; // #1c1c1c
  --button-white-btn-color: #000; // #f5f5f5
  --button-black-btn-bg: #000; // #f2f2f2
  --button-black-btn-color: #fff; // #000

  --button-border-color: #000; // #f5f5f5
  --button-disabled-color: #f2f2f2; // #777

  --radio-input-color: #000; // #fff

  --input-active-color: #299c00;
  --input-active-bg: url("../img/check_outline_light_xs.svg");
  --down-fill-bg: url("../img/down_fill_light_m.svg");

  --plus-icon: url("../img/plus_outline_light_m.svg");

  --input-radio-color: #777;

  --font-color-1: #28b4e1;
  --font-color-2: #d59029;
  --font-color-3: #777777;
  --font-color-4: #ea5757;
  --font-color-5: #a229ed;
  --font-color-6: #ababab;
  --font-color-7: #919191;
  --font-color-8: #1c1c1c;
  --font-color-9: #299c00;

  --bg-color-basic: #fff;
  --bg-color-1: #f2f2f2;
  --bg-color-2: #c7c7c7;
  --bg-color-3: rgba(58, 181, 15, 0.05);

  --mood-color-1: #e4fdff;
  --mood-color-2: #fff9e4;
  --mood-color-3: #e0e0e0;
  --mood-color-4: #ffe4e5;
  --mood-color-5: #ead2f9;

  --border-color-1: #d4d3d3; // #333
  --border-color-2: #c7c7c7;

  --font-size-1: 0.875rem; // 14px
  --font-size-2: 1.125rem; // 18px
  --font-size-3: 1.25rem; // 20px
  --font-size-4: 1.5rem; // 24px

  --font-family: "Pretendard", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  --max-width: 73rem; // 1168px
}

.hide {
  display: none !important;
}

[lightStatus="off"] {
  --basic-font-color: #fff;
  --basic-bg-color: #000;

  --input-border-color: #333;
  --input-bg-color: #000;
  --input-font-color: #c7c7c7;
  --input-placeholder-color: #777;

  --popup-bg-color: #1c1c1c;

  --list-border-color: #5f5f5f;

  --button-white-btn-bg: #1c1c1c;
  --button-white-btn-color: #f5f5f5;
  --button-black-btn-bg: #f2f2f2;
  --button-black-btn-color: #000;

  --radio-input-color: #fff;

  --input-active-color: #fff;
  --input-active-bg: url("../img/check_outline_dark_xs.svg");
  --down-fill-bg: url("../img/down_fill_dark_m.svg");

  --plus-icon: url("../img/plus_outline_dark_m.svg");

  --input-radio-color: #c7c7c7;

  --button-border-color: #5f5f5f;
  --button-disabled-color: #777;

  --bg-color-3: #1c1c1c;
}

@view-transition {
  navigation: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.0313rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.scrollBox {
  width: var(--max-width);
  margin: 0 auto;
  position: fixed;
  left: 50%;
  bottom: 10%;
  z-index: 20;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
}
.scrollUpBtn {
  background: none;
  border: none;
}

.loaderBox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
html {
  font-size: 16px;
}
html,
body {
  letter-spacing: -0.1px;
  padding-bottom: var(--footerHeight);
  scroll-behavior: smooth;
}

body {
  color: var(--basic-font-color);
  background-color: var(--basic-bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  overflow-x: hidden;
}

header,
section,
.footerInner,
nav,
.headerBanner,
.detailWrap,
.editWrap {
  max-width: var(--max-width);
  margin: 0 auto;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h1 {
    font-weight: 700;
    font-size: var(--font-size-2);
  }

  label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.toggleWrap {
  display: flex;
  align-items: center;
  gap: 8px;

  .toggleSwitch {
    appearance: none;
    width: 40px;
    height: 24px;
    border-radius: 20px;
    background-color: lightgray;
    position: relative;

    &:checked {
      background-color: #3ad84a;
      &::before {
        left: calc(100% - 22px);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 2px;
      background-color: white;
      transition: left 0.3s;
    }
  }
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.glitch {
  position: relative;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

.headerBanner {
  overflow: hidden;
  height: 400px;
  border-radius: 24px;
  position: relative;

  .mySwiper {
    height: 100%;
  }

  .title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 20;
    font-size: var(--font-size-4);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: keep-all;
    gap: 0.9375rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    h3 {
      width: 45%;
      font-size: 2.2rem;
    }

    p {
      font-size: var(--font-size-2);
    }
  }
  img {
    width: 100%;
  }
}

nav {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding-top: 24px;

  ul.navMenu {
    display: flex;
    gap: 16px;

    li {
      cursor: pointer;
      font-size: var(--font-size-4);
      padding: 8px 12px;

      &.active {
        font-weight: bold;
        border-bottom: 2px solid var(--basic-font-color);
      }
    }
  }
}

footer {
  background-color: var(--bg-color-1);
  padding: 24px 0;
  color: #000;

  .footerInner {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.diaryWrite {
  // max-width: 22.5rem;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  .diaryWriteHeader {
    display: flex;
    justify-content: space-between;
  }

  .diaryWriteInner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .buttonWrap {
    display: flex;
    gap: 16px;
    justify-content: center;

    button {
      width: 104px;
      height: 48px;
      border-radius: 8px;
      font-size: var(--font-size-2);

      &:disabled {
        background-color: var(--input-border-color); // c7c7c7
        color: var(--button-disabled-color); //f2f2f2;
        border: 1px solid var(--input-border-color);
      }

      &.popupClose {
        background-color: var(--popup-bg-color);
        border: 1px solid var(--button-border-color);
        color: var(--basic-font-color);
      }
    }
  }

  h3 {
    font-size: var(--font-size-4);
    font-weight: 700;
  }

  .moodTypeRadio {
    font-size: var(--font-size-2);
    display: flex;
    flex-direction: column;
    gap: 16px;

    .radioWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      label {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      input {
        -webkit-appearance: none; // 웹킷 브라우저에서 기본 스타일 제거
        -moz-appearance: none; // 모질라 브라우저에서 기본 스타일 제거
        appearance: none; // 기본 브라우저에서 기본 스타일 제거
        width: 18px;
        height: 18px;
        box-shadow: 0 0 0 2px var(--input-radio-color); // 라인
        border-radius: 50%;
        outline: none; // focus 시에 나타나는 기본 스타일 제거
        cursor: pointer;
        &:checked {
          background-color: var(--basic-font-color); // 체크 시 내부 원 색상
          border: 3px solid var(--basic-bg-color); // 라인이 아닌, 라인과 원 사이 색상
          box-shadow: 0 0 0 2px var(--basic-font-color); // 라인
        }
      }
    }

    span {
      display: block;
      font-size: var(--font-size-3);
    }
  }

  .diaryContent {
    display: flex;
    flex-direction: column;
    gap: 24px;

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        font-weight: 500;
        font-size: var(--font-size-1);
      }
    }

    input,
    textarea {
      width: 100%;
      border: 1px solid var(--input-border-color);
      padding: 12px 16px;
      border-radius: 8px;

      &::placeholder {
        color: var(--font-color-6);
        font-weight: 500;
        font-size: 16px;
      }
    }

    input {
      height: 48px;
      background-color: var(--input-bg-color);
      color: var(--input-font-color);
    }

    textarea {
      height: 200px;
    }
  }

  .diaryWriteBtn {
    height: 48px;
    border-radius: 8px;
    background-color: var(--bg-color-2);
    color: #fff;
    border: none;
    font-size: var(--font-size-2);
    font-weight: 600;

    &.active {
      background-color: var(--basic-font-color);
      color: var(--basic-bg-color);
    }
  }
}

#suneditor_editArea.sun-editor .se-wrapper .se-placeholder {
  color: var(--font-color-6);
  font-size: 16px;
  font-weight: 500;
}

#suneditor_editArea {
  width: 100% !important;
  // border: 1px solid var(--input-border-color);
  overflow: hidden;
  border-radius: 8px;
}
[lightStatus="off"] #suneditor_editArea {
  filter: invert(1);
  // border: 1px solid var(--input-border-color);
  overflow: hidden;
  border-radius: 8px;
}

.detailHeaderTop {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 3.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

//! 팝업 스타일
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  &.alert {
    .popupInner {
      width: 480px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      h3 {
        font-size: var(--font-size-4);
        font-weight: 700;
      }

      p {
        font-size: var(--font-size-3);
      }

      .buttonWrap {
        display: flex;
        gap: 16px;
        padding-top: 24px;
      }

      button {
        width: 104px;
        height: 48px;
        border-radius: 8px;
        font-size: var(--font-size-2);
      }

      .oneBtn {
        width: 100%;
        margin-top: 24px;
      }
      .whiteBtn {
        background-color: var(--button-white-btn-bg);
        color: var(--button-white-btn-color);
        border: 1px solid var(--button-border-color);
      }
      .blackBtn {
        background-color: var(--button-black-btn-bg);
        color: var(--button-black-btn-color);
        border: none;
      }
    }
  }

  .popupInner {
    background-color: var(--popup-bg-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
  }
}
