.cssContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.css_main {
  width: 1280px;
  height: 656px;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 0px 20px lightgray;
  margin-top: 40px;
  border-radius: 16px;
}

.css_header {
  width: 1184px;
  height: 52px;
  display: flex;
  padding: 12px 24px;
  gap: 8px;
}

.css_headerNumber,
.css_headerTitle,
.css_headerWriter,
.css_headerDate {
  width: 100px;
  font-size: 14px;
  font-weight: 300;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
  flex-shrink: 0;
  /* 나의 크기를 유지 하겠어 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_headerNumber {
  width: 64px;
}

.css_headerTitle {
  width: 100%;
  flex-shrink: unset;
  justify-content: flex-start;
}

.css_boardDiv {
  width: 1184px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.css_boardList {
  width: 100%;
  height: 44px;
  border: 1px solid #f2f2f2;
  padding: 12px 24px;
  display: flex;
  gap: 8px;
}

.css_index,
.css_title,
.css_writer,
.css_date {
  width: 100px;
  font-size: 14px;
  font-weight: 300;
  color: #919191;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_index {
  width: 64px;
}

.css_title {
  width: 100%;
  font-weight: 500;
  justify-content: flex-start;
  color: #1c1c1c;
  flex-shrink: unset;
}
