/* 1. 껍데기: 공통사용 */
.app-modal {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 9999;
  color: var(--color);
}

.modal-floor {
  width: 100vw;
  height: 100%;
  background-color: var(--gray-b-opacity-50);
  opacity: 50%;
}

/* 2. 알맹이: 등록모달 */
.modal-add-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 640px;
  min-height: 500px;
  background-color: var(--bg-color);
  border-radius: var(--radius-sm);
  padding: var(--gap-lg);
}

.modal-nested {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  min-height: 200px;
  text-align: center;
  background-color: var(--nested-border-color);
  border-radius: var(--radius-sm);
  padding: var(--gap-lg);
}

.modal-nested h2 {
  font-size: 2.4rem;
  font-weight: var(--weight-bold);
}
.modal-nested p {
  font-size: 2rem;
  font-weight: var(--weight-medium);
  margin-top: var(--gap-sm);
}

.app-modal label {
  color: var(--color);
}

.app-modal input[type='radio'] {
  border-color: var(--radio-border-color);
}

.app-modal input[type='radio']:checked {
  box-shadow: inset 0 0 0 2px var(--check-color), inset 0 0 0 5px var(--bg-color), inset 0 0 0 10px var(--check-color);
}

.app-modal input[type='text'],
.app-modal textarea {
  accent-color: var(--check-color);
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color) !important;
}

.app-modal input::placeholder,
.app-modal textarea::placeholder {
  color: var(--input-color);
}

.modal-actions {
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  padding-top: var(--gap-xl);
}

.modal-actions button {
  width: 104px;
  height: 48px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--button-border-color);
  color: var(--button-sub-color);
  background-color: var(--button-sub-bg-color);
  font-size: 1.8rem;
  font-weight: var(--weight-semi-bold);
}

.modal-actions button:disabled {
  color: var(--button-disabled-color);
  background-color: var(--button-disabled-bg-color);
  border-color: var(--button-border-color);
  font-size: 1.8rem;
  font-weight: var(--weight-semi-bold);
}

.modal-actions button:only-child {
  width: 100%;
}

.modal-actions button:only-child,
.modal-actions button:nth-child(2) {
  color: var(--button-color);
  background-color: var(--button-bg-color);
}

@media (max-width: 360px) {
  .modal-add-item {
    max-width: 320px;
  }
}
