.star {
    color: red;
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
}

.layout {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.titleBox {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0;
}

.placeNameBox {
    padding: 20px 0;
}
.placeNameBoxTitle {
    display: flex;
}

.placeNameBox input {
    width: 100%;
    border: 1px solid #d4d3d3;
    border-radius: 8px;
    height: 44px;
    padding: 12px 16px;
}

.placeAddressBox {
    padding: 0 0 20px 0;
}

.placeAddressBox button {
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
    height: 44px;
    padding: 12px 16px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #d4d3d3;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 40px;
}

.logBtnBox {
    text-align: center;
    color: #e4e4e4;
    background-color: #d4d3d3;
    border-radius: 8px;
    padding: 12px 16px;
}
