.star {
    color: red;
}

.container {
    width: 100vw;
    padding: 1.5rem 1.25rem;
}

.layout {
    display: flex;
    flex-direction: column;
    margin: 3.125rem auto auto auto;
}

.titleBox {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.75rem 0;
}

.imageBox {
    width: 100vw;
    display: flex;
    gap: 0.75rem;
    overflow-x: auto; /* 가로 스크롤 추가 */
}

.imageBoxLeft {
    width: 6.25rem;
    height: 6.25rem;
    flex-shrink: 0;
}

.showImage {
    gap: 0.75rem;
    display: flex;
    flex-wrap: nowrap; /* 이미지가 한 줄로 나열되도록 설정 */

    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem; /* 모서리 둥글게 (선택 사항) */
}

.mapImageBox {
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
}

.cancleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 0.625rem;
    right: 0.75rem;
    color: white;
    border: none;
    border-radius: 6.25rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    padding: 0.25rem, 0;
}

.placeNameBox {
    padding: 1.25rem 0;
}
.placeNameBoxTitle {
    display: flex;
}

.placeNameBox input {
    width: 100%;
    border: 0.0625rem solid #d4d3d3;
    border-radius: 0.5rem;
    height: 2.75rem;
    padding: 0.75rem 1rem;
}

.placeAddressBox {
    padding: 0 0 1.25rem 0;
}

.placeAddressBox button {
    width: 100%;
    border: 1px solid #000;
    border-radius: 0.5rem;
    height: 2.75rem;
    padding: 0.75rem 1rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 700;
}

.textarea {
    width: 100%;
    height: 12.5rem;
    border: 1px solid #d4d3d3;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    margin-bottom: 2.5rem;
}

.logBtnBox {
    text-align: center;
    color: #e4e4e4;
    background-color: #d4d3d3;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}
