.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    height: auto;
    position: sticky;
    border-bottom: 1px solid #fefe;
}
.logoArea {
    display: flex;
    justify-content: flex-start;
    margin-left: 1.5rem;
    margin-right: 0.7rem;
    .logo {
        cursor: pointer;
        width: 100px;
        height: 50px;
    }
}
.headerNav {
    display: flex;
    width: 37.5rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
}

.signContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
    gap: 0.7rem;
}
