.드롭다운_제목 {
  /* 원래 모습 안보이게 */
  appearance: none;
  display: flex;
  min-width: 120px;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-300, #C7C7C7);
  background: var(--Gray-W, #FFF);
  background: url(../images/드롭다운.png) no-repeat right center;
  margin-bottom: 10px;
  /* 다이렉트로 쉽게 바꿀 수 없음 style.cssText 로 바꿔주기! */
  --필터선택변수: "전체"
}

.드롭다운_제목::after {
  content: var(--필터선택변수);
}

.드롭다운_제목:checked+.드롭다운_메뉴 {
  display: block;
}

.드롭다운_메뉴 {
  display: none;
  width: 120px;
  min-width: 120px;
  border-radius: 10px;

  border: 1px solid var(--Gray-Gray-300, #C7C7C7);
  background: var(--Gray-W, #FFF);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  /* 넘치는 모서리영역 숨겨주기 */
  overflow: hidden;
}

.드롭다운_메뉴 label:checked {
  background-color: black;
}

.드롭다운_메뉴 input {
  display: none;
}

.드롭다운_메뉴 label {
  display: block;
  height: 40px;
  padding: 10px;
  color: var(--Gray-Gray-700, #5F5F5F);
  font-size: 16px;
}