.button {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  font-weight: 600;
  text-wrap: nowrap;
}

.button__variant__primary {
  background-color: #2974e5;
  color: white;
  font-weight: 600;
}
