.commentAllContainer {
  /* background-color: aliceblue; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}
.commentContainer {
  width: 1280px;
  height: auto;
  /* background-color: antiquewhite; */
  border-top: 1px solid #e4e4e4;

}
.commentTitle {
  /* background-color: aqua; */
  width: 100%;
  height: 30px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 25px;
}
.commentIcon {
  width: 19px;
  height: 17px;
}
.commentTitle p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.starArea {
  width: 100%;
  /* background-color: aquamarine; */
  height: 78px;
  display: flex;
  align-items: center;
}
.writerInfoArea {
  /* background-color: azure; */
  width: 100%;
  height: 304px;
}
.upInfo {
  display: flex;
  gap: 16px;
}
.upInfo input {
  width: 312px;
  height: 48px;
  padding: 12px 16px;
  border: 1px solid #d4d3d3;
  border-radius: 8px;
  outline: none;
}
.writer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.writer p span {
  color: #f66a6a;
  margin-left: 5px;
}
.pw {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pw p span {
  color: #f66a6a;
  margin-left: 5px;
}
.downInfo {
  margin-top: 16px;
}
.downInfo textarea {
  width: 1280px;
  height: 144px;
  border-radius: 8px;
  resize: none;
  outline: none;
  border: 1px solid #d4d3d3;
  padding: 12px 16px;
}

/* 버튼영역 */
.btnArea {
  width: 100%;
  height: 48px;
  /* background-color: bisque; */
  display: flex;
  justify-content: end;
}
.btnArea button {
  width: 99px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #c7c7c7;
  color: #e4e4e4;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
