* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.layout-wrapper {
  background: #fff;
  max-width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.layout {
  width: 1168px;
  height: auto;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 2px;
  align-self: stretch;
  align-items: center;
  color: #000000;
}

.header_frame {
  display: flex;
  height: 60px;
  min-width: 320px;
  max-width: 1168px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.header_frame > a {
  text-decoration: none;
}

.logo {
  display: flex;
  width: 130px;
  height: 40px;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.18px;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-bottom: 1px solid var(--Gray-B, #000);
}

.main_frame {
  display: flex;
  max-width: 1168px;
  height: auto;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.title_frame {
  display: flex;
  height: auto;
  max-width: 1168px;
  min-width: 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.title {
  display: flex;
  max-width: 1168px;
  padding-bottom: 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.22px;
}

.emotion_date_frame {
  display: flex;
  max-width: 1168px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.emotion {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mood_text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.sad_emotion_font_color {
  color: #28b4e1;
}

.surprise_emotion_font_color {
  color: #d59029;
}

.upset_emotion_font_color {
  color: #777777;
}

.happy_emotion_font_color {
  color: #ea5757;
}

.etc_emotion_font_color {
  color: #a229ed;
}

.date_frame {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date {
  color: var(--Gray-Gray-500, #919191);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.write {
  color: var(--Gray-Gray-500, #919191);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.content_frame {
  display: flex;
  max-width: 1168px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.content_label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
  align-self: stretch;
}

.content {
  color: var(--Gray-Gray-800, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  align-self: stretch;
}

.diary_action_container {
  display: flex;
  max-width: 1168px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.modification_Btn {
  display: flex;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
  color: var(--Gray-Gray-900, #1C1C1C);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.diary_action_container > a {
  text-decoration: none;
}

.comment_container {
  display: flex;
  max-width: 1168px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.comment_title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding-left: 3px;
  padding-bottom: 13px;
}

.comment_input_container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 4px;
  width: 1130px;
}

#comment_input{
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
}

.comment_input::placeholder {
  color: var(--Gray-Gray-400, #ABABAB);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.comment_input_button {
  display: flex;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Gray-B, #000);
  color: var(--Gray-W, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.18px;
}

.comments_container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px 12px;
  align-self: stretch;
  flex-wrap: wrap;
  padding-top: 12px;
}
.comment_content {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.comment_date {
  color: var(--Gray-Gray-600, #777);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.comment_divider {
  width: 1168px;
  height: 1px;
  background: var(--Gray-Gray-100, #E4E4E4);
}
