* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.layout {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  flex-direction: column;
}
.header_layout {
  width: 73rem;
  display: flex;
  padding: 0 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  justify-content: center;
}
.layoutWrapper {
  width: 100%;
}
.header {
  display: flex;
  height: 3.75rem;
  min-width: 20rem;
  max-width: 73rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  padding-left: 1.438rem;
}
.logo {
  display: flex;
  width: 8.125rem;
  height: 2.5rem;
  align-items: center;
  gap: 0.625rem;
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: -0.011rem;
}
.header_img_layout {
  padding: 0 1.25rem 1.5rem 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header_img {
  height: 15rem;
  width: 100%;
  border-radius: 1.5rem;
  background-image: url("./image/header_img.png");
  background-repeat: no-repeat;
}
#photo_storage {
  display: none;
}
#diary_storage {
  display: block;
}
.navigation_layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  position: sticky;
  top: 0rem;
  z-index: 100;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding-left: 0.75rem;
  padding-bottom: 2rem;
}
.navigation_menu {
  display: flex;
  min-width: 12.75rem;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
}
#diary_storage_menu {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
  display: flex;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-bottom: 0.125rem solid black;
  cursor: pointer;
}
#photo_storage_menu {
  color: var(--Gray-Gray-400, #ababab);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
  display: flex;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}
#photo_gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
#skeleton {
  width: 3.333rem;
  height: 26.667rem;
  background-color: white;
  filter: blur(2.333rem);
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.dogImage{
  width: 30rem;
  aspect-ratio:  1 / 1;
  border-radius: 1.5rem;;
  object-fit: cover;
  background-color: lightblue;
  border-radius: 1.5rem;
}
@keyframes animation {
  from {
    transform: translate(100px, -800px) rotateZ(30deg);
  }
  to {
    transform: translate(700px, 200px) rotateZ(30deg);
  }
}
.sub_navigation {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: relative;
  height: 5rem;
  background-color: #fff;
}
.emotion_dropdown_layout {
  display: flex;
  flex-direction: row;
  min-width: 20rem;
  max-width: 73rem;
  gap: 1rem 0.5rem;
  align-self: stretch;
  justify-content: space-between;
}
.dropdown_text {
  display: flex;
  width: 7.5rem;
  height: 3rem;
  padding: 0.75rem 0.625rem;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--Gray-Gray-300, #C7C7C7);
  background: var(--Gray-W, #FFF);
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.dropdown_search_box {
  display: flex;
  gap: 1rem
}
.dropdown_name {
  width: 7.5rem;
}
#photo_dropdown {
  appearance: none;
  --boxText: "기본형";
  color: var(--Gray-Gray-900, #1C1C1C);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
#photo_dropdown::after {
  content: var(--boxText);
}
#mood_dropdown {
  appearance: none;
  --boxText: "전체";
  color: var(--Gray-Gray-900, #1C1C1C);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
#mood_dropdown::after {
  content: var(--boxText);
}
.dropdown_name:hover .dropdown {
  display: block;
}
.dropdown_img {
  padding-bottom: 0.188rem;
}
.dropdown {
  display: none;
  list-style-type: none;
  width: 7.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--Gray-Gray-300, #C7C7C7);
  background: var(--Gray-W, #FFF);
}
.dropdown li {
  width: 100%;
  padding: 0.75rem;
  cursor: pointer;
}
.dropdown li div {
  display: flex;
  justify-content: space-between;
}
.dropdown li:hover {
  background: rgba(58, 181, 15, 0.05);
  color: #299C00;
}
.dropdown li div > img {
  width: 1rem;
  display: none;
}
.dropdown li:hover .check{
  display: block;
}
.dropdown input {
  display: none;
}
.search_box {
  width: 22.5rem;
}
.search_bar {
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  border-radius: 6.25rem;
  border: 0.063rem solid var(--Gray-Gray-300, #C7C7C7);
  width: 100%;
  display: flex;

}
.search_img {
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 0.063rem;
}
.search_bar input {
  width: 100%;
  border: none;
  outline: none;
}
.search_bar input::placeholder {
  color: var(--Gray-Gray-400, #ABABAB);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
}
.btn_register_diary {
  width: 6.875rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: var(--Gray-B, #000);
  color: var(--Gray-W, #fff);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  margin-left: 2rem;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2.625rem;
}
.diary_entry_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  align-self: stretch;
  flex-wrap: wrap;
}
.diary_detail {
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.diary_entry {
  display: flex;
  max-width: 23.75rem;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  background: #fff;
}
.diary_entry_inner {
  position: relative;
}
.diary_cover {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 1rem;
  transition: width 0.5s, height 0.031rem;
}
#delete_button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
}
.diary_cover:hover {
  transform: scale(110%);
  filter: blur(0.313rem);
}
.diary_entry_summary {
  display: flex;
  padding: 0rem 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.emotion_date_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.emotion {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.009rem;
}
.sad_emotion_font_color {
  color: #28b4e1;
}
.surprise_emotion_font_color {
  color: #d59029;
}
.upset_emotion_font_color {
  color: #777777;
}
.happy_emotion_font_color {
  color: #ea5757;
}
.etc_emotion_font_color {
  color: #a229ed;
}
.date {
  color: var(--Gray-Gray-500, #919191);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.009rem;
}
.diary_title_area {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  color: #000;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
}
#aside_layout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  align-items: center;
  justify-content: center;
}
.aside {
  display: flex;
  min-width: 22.5rem;
  max-width: 47.5rem;
  padding: 1.5rem 0;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 1rem;
  border: 0.063rem solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  padding: 1.5rem;
}
.diary_entry_title {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
}
.diary_entry_form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
  width: 100%;
}
.mood_selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.mood_selector_title {
  align-self: stretch;
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.013rem;
  width: 20.063rem;
  height: 1.5rem;
}
.mood_checkbox_group {
  display: flex;
  align-items: start;
  width: 100%;
}
.mood_checkbox {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  margin-right: 1.25rem;
  width: 5.875rem;
}
.mood_options {
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
  background-image: url("./image/unchecked.svg");
}
.mood_options:checked {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./image/checked.svg");
}
.mood_text {
  color: var(--Gray-Gray-800, #333);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.diary_textArea {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}
.diary_title_group {
  height: 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.diary_title {
  height: 1.25rem;
  color: var(--Gray-Gray-800, #333);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.009rem;
  align-self: stretch;
}
.diary_title_window {
  height: 3rem;
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  outline: none;
}
.diary_title_window::placeholder {
  color: var(--Gray-Gray-400, #ababab);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.1rem;
}
.diary_contents_group {
  height: 9.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.diary_contents {
  height: 1.25rem;
  color: var(--Gray-Gray-800, #333);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.009rem;
  align-self: stretch;
}
.diary_contents_window {
  display: flex;
  height: 8rem;
  padding: 0.75rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  outline: none;
  overflow: hidden;
  resize: none;
}
.diary_contents_window::placeholder {
  color: var(--Gray-Gray-400, #ababab);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.1rem;
}
.modal_button {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.modal_button > button {
  width: 6.5rem;
  height: 3rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  display: flex;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.close_button {
  border: 0.063rem solid var(--Gray-B, #000);
  color: var(--Gray-Gray-900, #1c1c1c);
  background: var(--Gray-W, #fff);
}
.register_button {
  color: var(--Gray-Gray-50, #f2f2f2);
  background: var(--Gray-Gray-300, #c7c7c7);
  border: none;
}
.footer_layout {
  width: 100%;
  height: 10rem;
  display: flex;
  padding: 1.5rem 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  background: var(--Gray-Gray-50, #f2f2f2);
}
.footer {
  width: 100%;
  height: 7rem;
  display: flex;
  max-width: 73rem;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.footer_title {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: -0.013rem;
}
.footer_representative {
  gap: 0.5rem;
  color: var(--Gray-Gray-700, #5f5f5f);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}
.footer_copyright {
  color: var(--Gray-Gray-500, #919191);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.009rem;
}
.topScroll {
  width: 3.125rem;
  position: sticky;
  top: calc(100% - 1rem);
  border: none;
}
.topScroll > img {
  width: 3.125rem;
  position: absolute;
  right: 4.5rem;
  bottom: 0.313rem;
}
@media (max-width: 50rem) {
  .layout {
    width: 100%;
  }
  .layoutWrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: contents;
  }
  .aside {
    order: 1;
    height: 30rem;
    overflow-y: scroll;
  }
  .article {
    order: 3;
  }
  .diary_cover {
    width: 9.25rem;
    height: 17.813rem;
    object-fit: cover;
  }
  .navigation_layout {
    order: 2;
  }
  .topScroll > img {
    width: 3.125rem;
    position: absolute;
    left: 9.375rem;
    bottom: 0.313rem;
  }
  .mood_checkbox_group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
  }
  .diary_entry_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .confirm_modal {
    max-width: 20rem;
  }
  .confirm_delete_diary_modal {
    max-width: 20rem;
  }
}
@media (max-width: 30rem) {
  .header_img_layout {
    padding: 0 1.25rem 1.5rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header_img {
    width: 100%;
    height: 15rem;
    border-radius: 1.5rem;
    background-image: url("./image/mobile_banner.png");
    background-repeat: no-repeat;
  }
}
.confirm_modal_layout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.confirm_modal {
  display: flex;
  width: 30rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: 1.5rem;
  background: #fff;
  color: #000;
  text-align: center;
}
.modal_title {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
}
.modal_content {
  color: var(--Gray-Gray-800, #333);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.013rem;
}
.modal_button_group {
  display: flex;
  gap: 1.313rem;
}
.continue_writing_btn {
  display: flex;
  width: 6.5rem;
  height: 3rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--Gray-B, #000);
  background: var(--Gray-W, #fff);
  color: var(--Gray-Gray-900, #1c1c1c);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
}
.cancel_registration_btn {
  display: flex;
  width: 6.5rem;
  height: 3rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Gray-B, #000);
  color: var(--Gray-Gray-50, #f2f2f2);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
}
#diary_registration_modal > div > button {
  display: flex;
  height: 3rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
  border-radius: 0.5rem;
  background: var(--Gray-B, #000);
  color: var(--Gray-W, #fff);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
  width: 100%;
}
.confirm_delete_diary_modal_layout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.confirm_delete_diary_modal {
  display: flex;
  width: 30rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: 1.5rem;
  background: #fff;
  color: #000;
  text-align: center;
}
.delete_diary_modal_title {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
}
.delete_diary_modal_content {
  color: var(--Gray-Gray-800, #333);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.013rem;
}
.delete_diary_modal_button_group {
  display: flex;
  gap: 1.313rem;
}
.delete_diary_cancel_btn {
  display: flex;
  width: 6.5rem;
  height: 3rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.063rem solid var(--Gray-B, #000);
  background: var(--Gray-W, #fff);
  color: var(--Gray-Gray-900, #1c1c1c);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
}
.delete_diary_btn {
  display: flex;
  width: 6.5rem;
  height: 3rem;
  padding: 0.5rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Gray-B, #000);
  color: var(--Gray-Gray-50, #f2f2f2);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.011rem;
}