:root {
  --mono-gray050: #FAFAFA;
  --mono-gray100: #F5F5F5;
  --mono-gray200: #EEEEEE;
  --mono-gray300: #E0E0E0;
  --mono-gray400: #BDBDBD;
  --mono-gray500: #9E9E9E;
  --mono-gray600: #767676;
  --mono-gray700: #606060;
  --mono-gray800: #424242;
  --mono-gray900: #222222;

  --chroma-alert: #FF5555;
  --chroma-info: #5555FF;

  --chroma-pantone: #FFBE98;
}

@font-face {
  font-family: 'Paperlogy-4Regluar';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html { font-size: 62.5%;}
a { text-decoration: none;}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--mono-gray900);
  font-size: 1.6rem;
  font-family: 'Paperlogy-4Regluar', 'Pretendard-Regular';
}