.header {
  position: fixed;
  display: flex;
  padding: 0 1.25rem;
  width: 100%;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  z-index: 100;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "SUIT Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
}

.back {
  width: 1.5rem;
  height: 1.5rem;
}
