@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  /* font-size:62.5%; */
  /* font-family:Pretendard-Regular.woff2 */
}

/* .ant-pagination{
  font-size:inherit;
} */

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
  .flex{
    display:flex;
  } 
  .flex-bw{
    display:flex;
    justify-content:space-between;
  }
  .d-block{
    display:block;
  }
  .new-placeholer{
    font-size:16px;
    color:#ababab;
  }
  .new-h1{
    font-size:20px;
    font-weight:700;
    margin-top:40px;
  }
  .new-span, .new-p{font-size:16px;}
  .new-input, .new-textarea{font-size:18px;}
  
  .bt_button{
    border-radius:8px;
    height:48px;
    font-size:18px;
  }
}
