body {
  min-height: 100vh;
  height: 100%;
  position: relative;
  padding-bottom: 165px;
  overflow: auto;
}

.container-layout {
  position: relative;
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  color: #000;
}

header h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

article .banner {
  height: 240px;
  max-width: 1168px;
  width: 100%;
  height: 240px;
  border-radius: 24px;
  overflow: hidden;
  margin: 1.5rem auto;
  background-color: skyblue;
}

nav {
  position: relative;
  height: auto;
}

nav ul.nav_list {
  display: flex;
  min-width: 204px;
  align-items: center;
  gap: 16px;
}

nav > ul.nav_list > button {
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #ababab;
}
nav > ul.nav_list > button.nav {
  font-weight: 500;
  color: #ababab;
  border-bottom: none;
}

nav ul.nav_list li > button.active {
  border-bottom: 2px solid #000;
  font-weight: 700;
  color: #000;
}

main {
  padding-top: 42px;
  display: flex;
  max-width: 1168px;
  min-height: 587px;
  justify-content: center;
  align-items: flex-start;
  /* gap: 24px; */
  position: static;
}

main .main-content {
  width: 100%;
}

main .none {
  display: none;
}

main .main-content ul#photoList {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  padding-bottom: 3rem;
}
main .main-content ul#diaryList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  row-gap: 24px;
}

main .main-content ul #add-list-alert {
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #919191;
  font-weight: 500;
}

main .main-content ul#diaryList > li:hover {
  transform: scale(105%);
  transition: all 0.5s;
}

main .main-content ul#diaryList > li > button {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
main .main-content ul#diaryList > li .img-wrap {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
main .main-content ul#diaryList > li .img-wrap > img {
  width: 100%;
}
main .main-content ul#diaryList > li .img-wrap > img:hover {
  filter: blur(1px);
}

main .main-content ul#diaryList > li .info-container {
  padding: 0 8px;
  width: 100%;
}

main .main-content ul#diaryList > li .info-container .tag-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
main .main-content ul#diaryList > li .info-container .tag-wrap .angry {
  color: #777777;
}
main .main-content ul#diaryList > li .info-container .tag-wrap .sad {
  color: #28b4e1;
}
main .main-content ul#diaryList > li .info-container .tag-wrap .happy {
  color: #ea5757;
}
main .main-content ul#diaryList > li .info-container .tag-wrap .etc {
  color: #a229ed;
}
main .main-content ul#diaryList > li .info-container .tag-wrap .surprised {
  color: #d59029;
}

main .main-content ul#diaryList > li .info-container .tag-wrap .date-tag {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

main .main-content ul#diaryList > li h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  margin: 8px 0 16px 0;
}

footer {
  width: 100%;
  padding: 24px 20px;
  background-color: #f2f2f2;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
}

footer .container-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}

footer strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
footer p {
  color: #5f5f5f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
footer span {
  color: #919191;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.select_wrap {
  width: fit-content;
}
.select_wrap.none {
  display: none;
}

.selectBtn {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
}

.select_wrap > .selectBtn > span {
  width: 24px;
  height: 24px;
}

.select_wrap.none > .selectBtn {
  background-color: #fff;
}

.select_wrap.none > .selectBtn > span {
  background: url('../public/icons/down_fill_light_m.svg') no-repeat center;
}

.select_wrap.active > .selectBtn > span {
  background: url('../public/icons/down_fill_dark_m.svg') no-repeat center;
}

.select_wrap.active > .selectBtn {
  background-color: black;
  color: #fff;
}

.optionList {
  position: absolute;
  z-index: 99;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 120px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #c7c7c7;
}

.optionList.hidden {
  display: none;
}

.optionList > .option > button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
}
.optionList > .option > button > img {
  display: none;
}
.optionList > .option > .selected {
  background: #3ab50f0d;
}
.optionList > .option > .selected > img {
  display: block;
}

.optionList > .option > button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#upFloatingButton {
  /* position: fixed; */
  position: sticky;
  top: calc(100% - 50px);
  width: 0px;
}
#upFloatingButton img {
  position: absolute;
  bottom: 5px;
  right: 0;
}

#upFloatingButton.active {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 20%;
}

#upFloatingButton.none {
  display: none;
}

.diary_card {
  position: relative;
}

.diary_card #deleteButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
.diary_card #deleteButton:hover {
  transform: scale(120%);
  transition: transform 0.5s;
}

.buttons_wrap {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  z-index: 98;
  top: 10px;
  left: 0;
}

.writing_button {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 0.5rem;

  background-color: black;
  color: white;
}

#modal_depth1 {
  position: fixed;
  display: none;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  top: 0;
  left: 0;
  z-index: 998;
  background-color: #00000080;
}

#modal_depth1.none {
  display: none;
}

#modal_main_add {
  position: fixed;
  display: none;

  width: fit-content;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 16px;
  background-color: var(--var-bg-color);
}

.add_buttons_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#modal_main_add #addModal {
  display: flex;
  min-width: 360px;
  max-width: 760px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#modal_main_add h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  align-self: flex-start;
  color: var(--var-text-color);
}
#modal_main_add form {
  width: 100%;
}

#modal_main_add form h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
  color: var(--var-text-color);
}

#modal_main_add form .feeling-radio-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;
}

#modal_main_add form .feeling-radio-wrap > p {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

#modal_main_add input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: url(../public/icons/radio_outline_light_m.svg) no-repeat center;
}
#modal_main_add form label {
  color: var(--var-label-color);
}
#modal_main_add form .label-sm {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

#modal_main_add input[type='radio']:checked {
  background: url(../public/icons/radio_fill_light_m.svg) no-repeat center;
}

#modal_main_add form .content-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

#modal_main_add form input[type='text'],
textarea {
  width: 100%;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

#modal_main_add form textarea,
#modal_main_add form input {
  background-color: var(--var-input-bg);
  color: var(--var-input-text);
  border: 1px solid var(--var-input-border);
}
#modal_main_add form textarea::placeholder,
#modal_main_add form input::placeholder {
  color: var(--var-input-placeholder);
}
#modal_main_add form textarea {
  resize: none;
  height: 128px;
}

#modal_main_add form button {
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 600;
}

.modal_close_button {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--var-close-button-bg);
  color: var(--var-close-button-text);
  border: 1px solid var(--var-close-button-border);
}

#modal_main_add form button#submitBtn.none {
  background: var(--var-disable-button-bg);
  color: var(--var-disable-button-text);
  border: 1px solid var(--var-disable-button-border);
}

#modal_main_add form button#submitBtn.active {
  background: var(--var-active-button-bg);
  color: var(--var-active-button-text);
  border: 1px solid var(--var-active-button-border);
}

#modal_depth2 {
  position: fixed;
  display: none;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  z-index: 9998;
  background-color: #00000080;
}

#added_modal,
#cancel_prompt_modal,
#modal_remove_list {
  position: fixed;
  display: none;

  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 480px;
  max-width: 760px;
  width: 100%;

  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 16px;

  background-color: white;
}

#added_modal h4,
#cancel_prompt_modal h4,
#modal_remove_list h4 {
  font-size: 24px;
  font-weight: 700;
}
#added_modal button,
#modal_remove_list button,
#cancel_prompt_modal button {
  min-width: 104px;
  height: 48px;
  padding: 8px 10px;
  border-radius: 8px;
  margin-top: 2.5rem;
  background-color: black;
  color: white;
}

.buttons_box {
  display: flex;
  gap: 1rem;
}
.buttons_box .first_button {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#photoList {
}
#photoList .dog_photo_box {
  /* width: 640px;
  height: 640px; */
  position: relative;
  max-width: 30rem;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1.5rem;
  overflow: hidden;
}

#photoList .dog_photo_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ccc;
}
#photoList .skeleton_stick {
  position: absolute;
  width: 100px;
  height: 1000px;
  background-color: #fff;
  filter: blur(100px);
  animation: skeleton_ui 0.5s linear infinite;
}

.toggle_style {
  appearance: none;
  width: 40px;
  height: 24px;
  border-radius: 20px;
  background-color: lightgray;
  cursor: pointer;
}
.toggle_style::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 2px;
  transition: all 0.5s;
}
.toggle_style:checked {
  background-color: greenyellow;
}
.toggle_style:checked:after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 2px;
  margin-left: 18px;
}

.modal_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.theme_box {
  display: flex;
  gap: 0.5rem;
}
.theme_box label {
  width: max-content;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#added_modal,
#cancel_prompt_modal {
  background-color: var(--var-bg-color);
  color: var(--var-text-color);
}
#added_modal button,
#cancel_prompt_modal button {
  width: 100%;
  background-color: var(--var-active-button-bg);
  color: var(--var-active-button-text);
  border: 1px solid var(--var-active-button-border);
}

#cancel_prompt_modal button.first_button {
  background-color: var(--var-close-button-bg);
  color: var(--var-close-button-text);
  border: 1px solid var(--var-close-button-border);
}

.search_wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #c7c7c7;
  padding: 12px 16px;
  min-width: 320px;
  max-width: 360px;
  border-radius: 100px;
  align-self: stretch;
  gap: 0.5rem;
}
.search_wrapper input {
  width: 100%;
  border: none;
  font-weight: 500;
  line-height: 1.5rem;
}
.search_wrapper input:focus {
  outline: none;
}

@keyframes skeleton_ui {
  from {
    transform: translate(-400px, -400px);
  }
  to {
    transform: translate(700px, 200px);
  }
}
