.container-layout {
  position: relative;
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  color: #000;
}
header h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

article .banner {
  height: 240px;
  min-width: 320px;
  max-width: 1168px;
  height: 240px;
  min-width: 320px;
  border-radius: 24px;
  overflow: hidden;
  margin: 1.5rem auto;
  background-color: skyblue;
}

nav {
  position: relative;
  height: auto;
}

nav ul.nav_list {
  display: flex;
  min-width: 204px;
  align-items: center;
  gap: 16px;
}

nav > ul.nav_list > button {
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #ababab;
}
nav ul.nav_list li.active > button {
  border-bottom: 2px solid #000;
  font-weight: 700;
  color: #000;
}

main {
  padding-top: 42px;
  display: flex;
  max-width: 1168px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

main .main-content {
  width: 100%;
}
main .main-content ul #add-list-alert {
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #919191;
  font-weight: 500;
}

main .main-content ul #add-list-alert.active {
  display: flex;
}

main .main-content ul #add-list-alert.none {
  display: none;
}

main .main-content ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  row-gap: 24px;
}
main .main-content ul > li:hover {
  transform: scale(105%);
  transition: all 0.5s;
}

main .main-content ul > li > button {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
main .main-content ul > li .img-wrap {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
main .main-content ul > li .img-wrap > img {
  width: 100%;
}
main .main-content ul > li .img-wrap > img:hover {
  filter: blur(1px);
}

main .main-content ul > li .info-container {
  padding: 0 8px;
  width: 100%;
}

main .main-content ul > li .info-container .tag-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
main .main-content ul > li .info-container .tag-wrap .angry {
  color: #777777;
}
main .main-content ul > li .info-container .tag-wrap .sad {
  color: #28b4e1;
}
main .main-content ul > li .info-container .tag-wrap .happy {
  color: #ea5757;
}
main .main-content ul > li .info-container .tag-wrap .etc {
  color: #a229ed;
}
main .main-content ul > li .info-container .tag-wrap .surprised {
  color: #d59029;
}

main .main-content ul > li .info-container .tag-wrap .date-tag {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

main .main-content ul > li h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  margin: 8px 0 16px 0;
}

main aside {
  display: flex;
  width: 360px;
  min-width: 360px;
  max-width: 760px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 16px;
  border: 1px solid #d4d3d3;
  background: #fff;
}
main aside > h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
}
main aside form {
  width: 100%;
}

main aside form h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
}

main aside form .feeling-radio-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;
}

main aside form .feeling-radio-wrap > p {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

main aside input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: url(../public/icons/radio_outline_light_m.svg) no-repeat center;
}

main aside form .label-sm {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

main aside input[type='radio']:checked {
  background: url(../public/icons/radio_fill_light_m.svg) no-repeat center;
}

main aside form .content-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

main aside form input[type='text'],
textarea {
  width: 100%;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
}

main aside form textarea {
  resize: none;
  height: 128px;
}

main aside form button {
  width: 100%;
  height: 48px;
  padding: 8px 10px;
  gap: 10px;
  border-radius: 8px;
  margin-top: 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  background: #c7c7c7;
  color: #f2f2f2;
}

main aside form button#submitBtn.none {
  background: #c7c7c7;
  color: #f2f2f2;
}
main aside form button#submitBtn.active {
  background: #333;
  color: #f2f2f2;
}

footer {
  width: 100%;
  padding: 24px 20px;
  background-color: #f2f2f2;
  margin-top: 30px;
}

footer .container-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}

footer strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
footer p {
  color: #5f5f5f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
footer span {
  color: #919191;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

main > .selectWrap {
  display: none;
}
.selectWrap {
  margin-top: 32px;
}
#customSelect {
  position: sticky;
  z-index: 98;
  top: 10px;
  left: 0;
  width: fit-content;
}

#selectBtn {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
}

#customSelect > #selectBtn > span {
  width: 24px;
  height: 24px;
}

#customSelect.none > #selectBtn {
  background-color: #fff;
}

#customSelect.none > #selectBtn > span {
  background: url('../public/icons/down_fill_light_m.svg') no-repeat center;
}

#customSelect.active > #selectBtn > span {
  background: url('../public/icons/down_fill_dark_m.svg') no-repeat center;
}

#customSelect.active > #selectBtn {
  background-color: black;
  color: #fff;
}

#optionList {
  position: absolute;
  z-index: 99;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 120px;
  background-color: #e4e4e4;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
}

#optionList.hidden {
  display: none;
}

#optionList > .option {
  padding: 4px 12px;
}

#optionList > .option > button {
  display: flex;
  align-items: center;
  width: 100%;
}
#optionList > .option > button > img {
  display: none;
}
#optionList > .option > .selected > img {
  display: block;
}

#optionList > .option > button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#upFloatingButton {
  position: fixed;
  bottom: 20px;
  left: 90vw;
}

#upFloatingButton.active {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 20%;
}
#upFloatingButton.none {
  display: none;
}
.diary_card {
  position: relative;
}

.diary_card #deleteButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
.diary_card #deleteButton:hover {
  transform: scale(120%);
  transition: transform 0.5s;
}
