#boardList {
  table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  [class*="ant-table-row"] {
    td:first-child {
      border-left: 1px solid var(--border-color);
      border-radius: 0.5rem 0 0 0.5rem;
    }
    td:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
      border-right: 1px solid var(--border-color);
    }
    td {
      border-top: 1px solid var(--border-color);
    }
  }

  th[class*="ant-table-cell"] {
    border-bottom: none;
  }

  [class="ant-table-cell"] {
    background: transparent;

    &::before {
      content: none;
    }
  }
}
