/*****************************************
* {
 box-sizing: border-box; => 이거 안써도됨, @tailwind base에 들어있음 
}

//테일윈드 디폴드 세팅

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


*****************************************/

/* 초기화 */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-family: Inter, sans-serif; */
}

/* 브라우저 세팅 초기화 */

/* 
body {
  width: 100vw;
  height: 100%;
  // height는 뷰포트보다 길어질 수도 있어서 %로 함
  display: flex;
  flex-direction: column;
  align-items: center;
} 
*/
