.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 3rem);
  padding: 1.25rem;
}

.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.label {
  color: var(--gray-800, #333);
  font-size: 0.75rem;
  font-weight: 600;
}

.required {
  color: var(--red, #f66a6a);
  font-size: 0.75rem;
  font-weight: 600;
}

.button {
  width: 100%;
}
