.comment_write_wrap{
    width:1280px;
    height:400px;
    margin:0 auto;
    margin-top:60px;
    display:flex;
    flex-direction:column;
    gap:24px;
}
.rateStar{
    font-size:40px;
}

/* 댓글 상단 이미지 */
.comment_top{
    display:flex;
}
.comment_top .commentImg{
    width:24px;
    height:24px;
    background:url(../../../../public/images/comment.png) no-repeat;
}
.comment_top p{
    font-size:16px;
}

/* 댓글 등록 */
.content_box{
    width:1280px;
    height:240px;
}
.content_box .writer p, .content_box .password p{
    font-size:16px;
    font-weight:500;
    margin-bottom:16px;
}
.content_box .writer .d_flex,
.content_box .password .d_flex{
    display:flex;
}
.content_box .writer span,
.content_box .password span{
    color:#f66a6a;
    font-size:16px;
    margin-left:8px;
}

.content_flex{
    width:640px;
    display:flex;
    justify-content:space-between;
}

/* 인풋 공통 */
.content_box .writer input, 
.content_box .password input, 
.content_box .comment_box textarea{
    padding:12px 16px;
    border:1px solid #d4d3d3;
    border-radius:8px;
    font-size:16px;
    color:#ababab;
}
.content_box .writer input, .content_box .password input{
    width:312px;
    height:48px;
}
.content_box .comment_box textarea{
    width:1280px;
    height:144px;
    margin-top:32px;
}

.content_box button{
    width:99px;
    height:48px;
    border-radius:8px;
    padding:12px 16px;
    background-color:#c7c7c7;
    color:#e4e4e4;
    font-size:18px;
    float:right;
    margin:16px 0;
    cursor:pointer;
}