@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background-color: #ffffffcc !important; /* 비활성화된 상태 */
  opacity: 1; /* 투명도 조절 */
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important; /* 활성화된 상태 */
}
