
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Pretendard;
  }
  
.layout {
    display: flex;
    flex-direction: column;
    padding: 40px 200px;
    gap: 24px;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contentTitle {
    display: flex;
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
}

.createInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 16px;
}

.profileImg, .shareicon {
    display: flex;
    width: 24px;
    height: 24px;
}

.writerName {
    display: flex;
    align-items: center;
    gap: 4px;
}

#whoWrite {
    font-size: 14px;
    font-weight: 300;
    color: #5f5f5f;
}

.writeDate {
    font-size: 14px;
    font-weight: 400;
    color: #818181;
}

.shareImg {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.contentBox {
    display: flex;
    height: 1200px;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.contentImg {
    display: flex;
    width: 400px;
    height: 531px;
}

#contentsPoem {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border: none;
}

.previewBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.previewImg {
    width: 822px;
    height: 464px;
}

.evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.hate, .like {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.hateNum {
    font-size: 14px;
    font-weight: 400;
    color: #5F5F5F;
}

.likeNum {
    font-size: 14px;
    font-weight: 400;
    color: #F66A6A;
}

.hateButton {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border: none;
    background-image: url("/public/img/icon/bad.png");
    background-repeat: no-repeat;
    background-position: center;
}


.likeButton {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border: none;
    background-image: url("/public/img/icon/good.png");
    background-repeat: no-repeat;
    background-position: center;
}

.toButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.toList {
    width: 105px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px 12px;
    background-image: url("/public/img/icon/list_icon.png");
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.edit {
    width: 105px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px 12px;
    background-image: url("/public/img/icon/edit_icon.png");
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
