@font-face {
  font-family: 'RixXladywatermelonR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RixXladywatermelonR';
}
button {
  cursor: pointer;
}
#diaryName {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
.container {
  padding: 20px 200px;

  overflow: scroll;

  .header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    #mainHeaderImg {
      width: 100%;
      height: 180px;
      border-radius: 20px;
      border: none;
      object-fit: cover;
    }
  }
  .btnInfo {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
    button {
      border: none;
      border-radius: 8px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      padding: 5px 10px;
      background-color: #ffffff;
    }
    button:hover {
      color: rgb(62, 26, 244);
      cursor: pointer;
    }
  }
  #writeNote {
    border-radius: 4px;
    padding: 8px;
    border: none;
    background-color: #161616;
    color: white;
    cursor: pointer;
  }

  @media (min-width: 1100px) {
    .mainContent {
      display: flex;
      flex-direction: column;
    }
    .headerInfo {
      display: flex;
      justify-content: space-between;
    }
    #card {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      flex-wrap: wrap;
      gap: 0.7rem;
    }
  }

  .mainContent {
    #showImgContent {
      width: 100%;
      flex: 1;
      #card {
        /* display: flex;
        
        justify-content: space-between; */

        #info {
          display: flex;
          justify-content: center;
          color: #194d89;
          width: 100%;
          height: 100%;
          font-size: 18px;
          align-items: center;
        }
      }
      .newCard {
        max-width: 100%;
        /* width: 390px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        cursor: pointer;
      }

      .newCard img {
        width: 100%; /* 이미지가 카드의 너비를 가득 채우도록 설정 */
        height: auto;
        border-radius: 13px;
      }

      .container1 {
        display: flex;
        justify-content: space-between;
      }

      .container1 p {
        font-size: 13px;
      }

      .container1 .date {
        color: #919191;
      }

      .container2 .title {
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap; /* 텍스트를 한 줄로 표시 */
        overflow: hidden; /* 넘치는 부분은 숨김 */
        text-overflow: ellipsis; /* 넘치는 부분에 ... 표시 */
      }
    }
  }
}
.deleteModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.closeModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

.cancelModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.closeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 350px;
  left: calc(50% - 350px / 2);
  height: 150px;
  top: calc(50% - 150px / 2);
  padding: 18px 15px;
  border-radius: 24px;
  border: 1px solid var(--btnBorder);
  background-color: var(--modalBackColor);

  z-index: 400;
}
.title {
  margin: 10px 0;
  font-weight: 600;
  color: var(--fontColor);
}
.completeModal {
  margin-bottom: 0.9rem;
  color: var(--fontColor);
}
.closeBtn {
  width: 100%;
  color: var(--font);
  background-color: var(--confirmBtn);
  padding: 8px 10px;
  border: none;
  border-radius: 0.4rem;
  text-wrap: nowrap;
  border: 1px solid var(--borderColor);
  cursor: pointer;
}

#writeModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.background {
  width: 100vw; /* 화면 전체 너비 */
  height: 100vh; /* 화면 전체 높이 */
  background-color: rgba(120, 116, 116, 0.5);
  opacity: 90%;
}
.background1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(120, 116, 116, 0.5);
  opacity: 0.9;
}
#addContent {
  z-index: 50;
  position: absolute;
  width: 540px;
  left: calc(50% - 540px / 2);

  display: flex;
  flex-direction: column;

  height: 450px;
  top: calc(50% - 450px / 2);
  padding: 18px 15px;
  border-radius: 24px;
  background-color: var(--modalBackColor);
  border: 1px solid var(--borderColor);
}

/* 토글!!!!!! */
.firstDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .addTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--fontColor);
  }
  .toggleContainer {
    display: flex;
    align-items: center;
    p {
      margin-right: 0.7rem;
    }
  }
}

.toggle {
  appearance: none;
  width: 35px;
  height: 20px;
  border-radius: 1rem;
  background-color: gray;
}

.toggle::after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  content: '';
  background-color: white;
  margin: 2px;

  transition: margin-left 0.3s;
}
.toggle:checked {
  /*checkbox가 체크가 되었을때 */
  background-color: rgb(31, 17, 226);
}
.toggle:checked::after {
  /* 체크가 된 부분에 그 이후에 발생하는 css */
  margin-left: 18px;
}

.toggleBtn {
  color: var(--fontColor);
}

/* 다크모드 */
:root {
  --fontColor: black;
  --baseCheck: blue;
  --baseInputBack: white;
  --btnBackColor: white;
  --inputPlaceholder: gray;
  --borderRadius: #d4d3d3;

  --modalBackColor: #f2f2f2;

  --btnBorder: #000000;

  --borderColor: #d4d3d3;

  /* 완료버튼 */
  --confirmBtn: #1c1c1c;
  --font: #fff;
}

[isOnOff='off'] {
  --fontColor: white;
  --baseCheck: pink;
  --baseInputBack: black;
  --btnBackColor: #1c1c1c;
  --inputPlaceholder: lightgray;

  /* btn border 색상 */
  --borderRadius: #333333;

  /* 취소버튼 border */
  --btnBorder: #5f5f5f;
  --borderColor: #1c1c1c;

  --modalBackColor: #1c1c1c;

  --confirmBtn: #fff;
  --font: black;
}

#addContent {
  background-color: var(--modalBackColor);
  border: 1px solid var(--borderColor);
}

.subTitle {
  font-size: 15px;
  margin-bottom: 0.7rem;
  color: var(--fontColor);
}
.feelingBtn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-content: end center;

  margin-bottom: 1rem;
}

.titleContainer input::placeholder {
  color: var(--inputPlaceholder);
}
.titleContainer input {
  background-color: var(--baseInputBack);
  color: var(--fontColor);
}
.contentContainer textarea {
  background-color: var(--baseInputBack);
  color: var(--fontColor);
}
.contentContainer textarea::placeholder {
  color: var(--inputPlaceholder);
}
.feelingBtn label {
  color: var(--fontColor);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 1rem;
  p {
    font-size: 13px;
    color: var(--fontColor);
  }
  #titleContent {
    border: 1px solid var(--borderRadius);
    border-radius: 0.7rem;
    padding: 8px;
    width: 100%;
  }
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 1rem;
  p {
    font-size: 13px;
    color: var(--fontColor);
  }
  #contentContainer {
    width: 100%;
    border: 1px solid #d4d3d3;
    border-radius: 0.7rem;
    padding: 8px;
    resize: none;
    overflow: auto;
    height: 150px;
  }
}
.btns {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  button {
    border-radius: 0.7rem;
    padding: 10px 20px;
  }
}
#registerBtn {
  background-color: #c7c7c7;
  color: white;
  border: none;
}
#cancelBtn {
  background-color: var(--btnBackColor);
  color: var(--fontColor);
  border: 1px solid var(--btnBorder);
  margin-right: 10px;
}

.toastMessage {
  opacity: 0;
  position: fixed;
  bottom: -100px;
  width: auto;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 50px;
  background: black;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #fff;
  box-shadow: 3px 4px 11px 0px #00000040;
  transition: all 0.5s;
}
/*토스트 메시지 활성화 되었을 때*/
.toastMessage.active {
  opacity: 100%;
  bottom: 50px;
}

.footer {
  margin-top: 30px;
  padding: 18px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f2f2f2;
  .footerInfo {
    font-size: 14px;
    color: #919191;
  }
}

.findContainer {
  display: flex;
  justify-content: space-between;
}

.filter {
  margin-bottom: 30px;
  margin-right: 1rem;
}

/* Filter custom */
.filterTitle {
  appearance: none;
  width: 100px;
  /* height: 40px; */
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  margin-bottom: 10px;

  --inputValue: '전체';
}
.filterTitle::after {
  content: var(--inputValue);
}

.filterTitle:checked + .emotionFilter {
  display: block;
}

.emotionFilter {
  display: none;
  width: 100px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  background-color: #f2f2f2;
}

.emotionFilter input {
  display: none;
}
.emotionFilter li:hover {
  background: url('./images/check.png') no-repeat right 8px center;

  background-size: 0.8em;
}
.emotionFilter li:checked {
  background: url('./images/check.png') no-repeat right 8px center;

  background-size: 0.8em;
}
.emotionFilter label {
  display: block;
  /* height: 40px; */
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.selected {
  z-index: 10;
  background-color: #e3eddf;
  background: url('./images/check.png') no-repeat right 8px center;
  background-size: 0.8em;
}

.emotionFilter label:hover {
  color: #299c00;

  cursor: pointer;
}

.emotionFilter label:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3eddf;
  z-index: -1;
  overflow: hidden;
}

.searchBar input {
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  padding: 8px 12px 8px 27px;
  width: 450px;
  background: url('./images/searchIcon.png') no-repeat scroll 8px center;
  background-size: 1em;
}
.searchBar ::placeholder {
  color: #b1afaf;
}

.newCard {
  transition: transform 0.5s, opacity 0.5s;
}

.newCard:hover {
  transform: scale(1.02);
  opacity: 0.8;
}

#registerBtn {
  transition: transform 0.5s;
}

#registerBtn:active {
  transform: rotate(-1deg);
}

.container0 {
  position: relative;
}
/* 삭제 아이콘 스타일 추가 */
.delete-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  z-index: 10;
}

/* 플로팅 버튼 스타일 추가 */
.floating-btn {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: #3a3838;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1490px) {
  #showImgContent {
    width: 100%;
  }

  .newCard {
    flex-basis: calc(50% - 10px); /* 50% 너비로 설정, 10px은 간격 조정 */
    max-width: calc(50% - 10px);
  }
}
/* 모바일 환경 */
/* 1200px 이하에서 레이아웃 변경 */

@media (max-width: 1100px) {
  .findContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .container {
    padding: 20px;
    overflow: scroll;
  }
  .filter {
    margin-bottom: 10px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .writeDiary {
    display: flex;
    justify-content: end;
  }

  #addContent {
    margin-bottom: 20px;
    max-width: 100%;
  }
  #card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
  }
  .newCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: end center;
  }

  .newCard:hover {
    transform: none;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #addContent {
    width: 80%; /* 화면 너비의 80% */
    max-width: 450px;
    height: auto;
    left: calc(50% - 40%); /* 너비 80%의 절반을 빼서 중앙 정렬 */
    top: 20%; /* 화면 상단에서 20%만큼 떨어지게  */
    overflow: scroll;
  }
  .searchBar input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #addContent {
    width: 350px;
    height: 400px;
    left: calc(50% - 350px / 2); /* 너비 90%의 절반을 뺀 값으로 중앙 정렬 */
    top: calc(50% - 200px);
  }
  .feelingBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.warning {
  padding: 20px 0 0 0;
  height: 300px;
  font-size: 17px;
}
/* 모바일 환경 */
/* 1200px 이하에서 레이아웃 변경 */

/* 아래는 order로 할 수 있다는 것 
굳이 column-reverse안써도됌 */
/*
@media (max-width: 1200px) {
  .container {
    padding: 10px;
    overflow: scroll;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  #addContent {
    margin-bottom: 20px;
    max-width: 100%;
    order: 1;
  }

  .filter {
    order: 2;
  }


  #showImgContent {
    order: 3;
  }

  .newCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: end center;
  }

  .newCard:hover {
    transform: none;
    opacity: 1;
  }

  .subContent {
    display: flex;
    flex-direction: column;
  }
}

*/
